# Basics

Import libraries and functions.

In [2]:
import pandas as pd
import numpy as np
import glob
import os
from pyspark.sql.functions import concat, col, lit, split

Loading database from WDB (https://databank.worldbank.org/home.aspx)

In [6]:
df= pd.read_csv (os.getcwd()+"\Data"+'\WDIData.csv')
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.936004,17.337896,17.687093,18.140971,18.491344,18.825520,19.272212,19.628009,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93277,Bangladesh,BGD,"Mortality rate, under-5, female (per 1,000 liv...",SH.DYN.MORT.FE,256.4,250.4,244.8,239.8,235.2,231.4,...,39.800000,37.800000,35.800000,34.000000,32.100000,30.300000,28.600000,27.100000,NaN,NaN
93278,Bangladesh,BGD,"Mortality rate, under-5, male (per 1,000 live ...",SH.DYN.MORT.MA,268.2,261.8,255.6,250.2,245.5,241.4,...,44.400000,42.200000,40.200000,38.100000,36.300000,34.400000,32.600000,31.000000,NaN,NaN
93279,Bangladesh,BGD,Multidimensional poverty headcount ratio (% of...,SI.POV.MDIM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93280,Bangladesh,BGD,"Multidimensional poverty headcount ratio, chil...",SI.POV.MDIM.17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93281,Bangladesh,BGD,"Multidimensional poverty headcount ratio, fema...","SI.POV.MDIM.,"","","","","","","","","","","","","","","","",""...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

To work more comfortably, we remove those columns not useful for us, as country name and indicator code, since with the country code and the indicator name we have the information we need.

In [7]:
df.drop(columns=["Country Name","Indicator Code"], axis=1, inplace=True)

From the thousand countries we have information about in the worlwide database, we have decided to study 50 of them, groupin gthem by geographical and economical similiarity. By this way, we keep in our df just those countries selected.

In [8]:
europe_list=['DEU','FRA','SWE','GBR','ESP','HRV','POL','GRC','AUT','NLD']
persian_list=['IRQ','QAT','ARE','SAU','AZE','YEM','YDR','OMN']
naf_list=['DZA','EGY','LBY','ISR','TUR','MAR']
saf_list=['SEN','ZAF','LBR','MOZ','CMR','NGA','GHA']
asia_list=['BGD','IND','VNM','THA','IDN','PHL','KOR']
latam_list=['MEX','BRA','ARG','PER','VEN','COL','CHL','PCZ','CRI']
two_list=['USA','CHN']
country_list=europe_list+persian_list+naf_list+saf_list+asia_list+latam_list+two_list

In [9]:
df.loc[df['Country Code'].isin(country_list)]

,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
73695,DZA,Access to clean fuels and technologies for coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.400000,99.500000,99.500000,99.600000,99.600000,99.600000,99.700000,99.700000,NaN,NaN
73696,DZA,Access to clean fuels and technologies for coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.300000,98.400000,98.500000,98.600000,98.600000,98.700000,98.700000,98.800000,NaN,NaN
73697,DZA,Access to clean fuels and technologies for coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.900000,NaN,NaN
73698,DZA,Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.002205,99.087013,99.186661,99.350250,99.635490,99.697838,99.500000,99.804131,NaN,NaN
73699,DZA,"Access to electricity, rural (% of rural popul...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.288933,97.430611,97.652374,98.126846,99.072006,99.071304,98.681053,99.579903,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93277,BGD,"Mortality rate, under-5, female (per 1,000 liv...",256.4,250.4,244.8,239.8,235.2,231.4,228.5,226.5,...,39.800000,37.800000,35.800000,34.000000,32.100000,30.300000,28.600000,27.100000,NaN,NaN
93278,BGD,"Mortality rate, under-5, male (per 1,000 live ...",268.2,261.8,255.6,250.2,245.5,241.4,238.1,235.6,...,44.400000,42.200000,40.200000,38.100000,36.300000,34.400000,32.600000,31.000000,NaN,NaN
93279,BGD,Multidimensional poverty headcount ratio (% of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93280,BGD,"Multidimensional poverty headcount ratio, chil...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93281,BGD,"Multidimensional poverty headcount ratio, fema...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now we transpose the rows of years into the columns.

In [10]:
dftras=(df.set_index(["Country Code", "Indicator Name"]).stack().reset_index(name='Value').rename(columns={'level_2':'Date'}))
dftras

,Country Code,Indicator Name,Date,Value
0,AFE,Access to clean fuels and technologies for coo...,2000,11.435351
1,AFE,Access to clean fuels and technologies for coo...,2001,11.805706
2,AFE,Access to clean fuels and technologies for coo...,2002,12.167502
3,AFE,Access to clean fuels and technologies for coo...,2003,12.533893
4,AFE,Access to clean fuels and technologies for coo...,2004,12.916778
...,...,...,...,...
1847110,BGD,"Mortality rate, under-5, male (per 1,000 live ...",2016,38.100000
1847111,BGD,"Mortality rate, under-5, male (per 1,000 live ...",2017,36.300000
1847112,BGD,"Mortality rate, under-5, male (per 1,000 live ...",2018,34.400000
1847113,BGD,"Mortality rate, under-5, male (per 1,000 live ...",2019,32.600000
1847114,BGD,"Mortality rate, under-5, male (per 1,000 live ...",2020,31.000000

In [11]:
indicators_list=['GDP (current US$)','Literacy rate, adult total (% of people ages 15 and above)', 'Government expenditure on education, total (% of government expenditure)','Net migration','Commercial service exports (current US$)','Exports of goods and services (current US$)','Taxes on international trade (current LCU)','Fertility rate, total (births per woman)','People using at least basic sanitation services (% of population)','Employment in agriculture (% of total employment) (modeled ILO estimate)','Employment in services (% of total employment) (modeled ILO estimate)','Employment in industry (% of total employment) (modeled ILO estimate)','Electricity production from renewable sources, excluding hydroelectric (kWh)','Number of infant deaths','Number of infant deaths','Foreign direct investment, net (BoP, current US$)','Mortality rate attributed to household and ambient air pollution, age-standardized (per 100,000 population)','Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)','Research and development expenditure (% of GDP)','Labor force with advanced education (% of total working-age population with advanced education)','Suicide mortality rate (per 100,000 population)','CPIA gender equality rating (1=low to 6=high)','Share of youth not in education, employment or training, total (% of youth population)','Government expenditure on education, total (% of government expenditure)']

df2=dftras.loc[dftras['Indicator Name'].isin(indicators_list)]
pd.set_option('display.max_rows', 10)
df2

,Country Code,Indicator Name,Date,Value
3549,AFE,Commercial service exports (current US$),1976,2.303046e+09
3550,AFE,Commercial service exports (current US$),1977,2.531549e+09
3551,AFE,Commercial service exports (current US$),1978,2.978281e+09
3552,AFE,Commercial service exports (current US$),1979,3.600502e+09
3553,AFE,Commercial service exports (current US$),1980,4.494631e+09
...,...,...,...,...
1843765,BGD,"Literacy rate, adult total (% of people ages 1...",2017,7.289297e+01
1843766,BGD,"Literacy rate, adult total (% of people ages 1...",2018,7.391220e+01
1843767,BGD,"Literacy rate, adult total (% of people ages 1...",2019,7.468446e+01
1843768,BGD,"Literacy rate, adult total (% of people ages 1...",2020,7.490890e+01
1846502,BGD,Mortality rate attributed to household and amb...,2016,1.490000e+02

In [12]:
df2.set_index(["Country Code", "Date"]).pivot(columns="Indicator Name", values="Value").reset_index()

Indicator Name,Country Code,Date,CPIA gender equality rating (1=low to 6=high),Commercial service exports (current US$),"Electricity production from renewable sources, excluding hydroelectric (kWh)",Employment in agriculture (% of total employment) (modeled ILO estimate),Employment in industry (% of total employment) (modeled ILO estimate),Employment in services (% of total employment) (modeled ILO estimate),Exports of goods and services (current US$),"Fertility rate, total (births per woman)",...,"Literacy rate, adult total (% of people ages 15 and above)","Mortality rate attributed to household and ambient air pollution, age-standardized (per 100,000 population)",Net migration,Number of infant deaths,People using at least basic sanitation services (% of population),Research and development expenditure (% of GDP),"Share of youth not in education, employment or training, total (% of youth population)","Suicide mortality rate (per 100,000 population)",Taxes on international trade (current LCU),"Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)"
0,ABW,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.820000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.655000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.471000,...,NaN,NaN,-4323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.271000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.059000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3864,WLD,2016,3.239726,5.037814e+12,NaN,28.283393,23.015980,48.700644,2.089265e+13,2.444857,...,85.985512,114.157429,NaN,4226228.0,73.903638,2.116433,NaN,9.340172,NaN,NaN
3865,WLD,2017,3.216216,5.473697e+12,NaN,27.750014,22.868588,49.382886,2.301558e+13,2.427315,...,86.220161,NaN,0.0,4105663.0,74.929717,2.127814,NaN,9.234425,NaN,NaN
3866,WLD,2018,3.239726,6.005719e+12,NaN,27.155204,22.946095,49.899342,2.520367e+13,2.414952,...,86.246941,NaN,NaN,3994435.0,76.034228,2.202625,NaN,9.271779,NaN,6.182635
3867,WLD,2019,3.253333,6.143199e+12,NaN,26.691377,22.689134,50.620988,2.477634e+13,2.401760,...,86.478302,NaN,NaN,3890216.0,77.017264,NaN,NaN,9.170477,NaN,NaN
3868,WLD,2020,3.260274,5.063935e+12,NaN,NaN,NaN,NaN,2.242997e+13,2.387167,...,86.682213,NaN,NaN,3788952.0,78.052074,NaN,NaN,NaN,NaN,NaN

CONVIERTE A INTEGER PERO NO FILTRA

Our time range covers from 1960 to 2021. However, the record is not uniform and complete for all areas and indicators. We can appreaciate that specially in the first years of the last century, so many data is missing, so it makes no sense to study it. Besides, for the year 2021 many data is also lacking. Therefore, we would delimit our study between 1990 and 2020.

In [23]:
df2[['Date']] = df2[['Date']].astype(int)

C:\Users\amarchve\AppData\Local\Temp\ipykernel_2676\4177693131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['Date']] = df2[['Date']].astype(int)

In [24]:
df2.dtypes

Country Code       object
Indicator Name     object
Date                int32
Value             float64
dtype: object

In [28]:
df3 = df2[df2['Date'] > 1989]
df3

,Country Code,Indicator Name,Date,Value
3563,AFE,Commercial service exports (current US$),1990,6.298326e+09
3564,AFE,Commercial service exports (current US$),1991,5.966474e+09
3565,AFE,Commercial service exports (current US$),1992,6.378636e+09
3566,AFE,Commercial service exports (current US$),1993,6.849594e+09
3567,AFE,Commercial service exports (current US$),1994,7.769650e+09
...,...,...,...,...
1843765,BGD,"Literacy rate, adult total (% of people ages 1...",2017,7.289297e+01
1843766,BGD,"Literacy rate, adult total (% of people ages 1...",2018,7.391220e+01
1843767,BGD,"Literacy rate, adult total (% of people ages 1...",2019,7.468446e+01
1843768,BGD,"Literacy rate, adult total (% of people ages 1...",2020,7.490890e+01
1846502,BGD,Mortality rate attributed to household and amb...,2016,1.490000e+02

NEXT STEP: NORMALIZATION

- Group countries by group list name.
- Nan values: replace by 0, by the mean or eliminating.
- Remove outliers.
- For the main variable to compare (GDP): analyse distribution: if not normal, make logarithmic.

In [ ]:
selected['GDP (current US$)'].describe()

KeyError: 'GDP (current US$)'

In [ ]:
sns.displot(selected['GDP (current US$)'])

In [ ]:
selected.mean()
selected.fillna(selected.mean())