# <u>  First step : Load  

Previously , I downloaded 6 datasets from the website 'Our world in data '
    
First we read with pandas the 6  xlsx documents (one for each indicators )  :

1) Gdp from 1850 to 2020 in pounds

2) Infant mortality of children under 5 years old

3) Percentage of population age 15+ with tertiary schooling. 

4) Fertility rate

5) gender inequality

6) Life expectancy

In [27]:
pip install plotly

Requirement already satisfied: plotly in c:\users\lusais\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (5.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\lusais\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\users\lusais\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly) (23.1)
Note: you may need to restart the kernel to use updated packages.

We import useful librairies

In [28]:
# we import the useful librairies 

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import functools
import plotly.express as px
from scipy.stats import shapiro
import ipywidgets as widgets
from ipywidgets import Layout
from ipywidgets import interact, interact_manual

We open and read each table of indicator one by one to obtain a table with all the indicators

In [29]:
# we open and read each table of indicator one by one  

education = pd.read_excel('./education.xlsx')
fertility = pd.read_excel('./fertility.xlsx')
gdp = pd.read_excel('./gdp-in-british-pounds.xlsx')
gender = pd.read_excel('./gender_inequality.xlsx')
life = pd.read_excel('./life-expectancy.xlsx')
child = pd.read_excel('./child-deaths.xlsx')

#  <u>Second step : Merge the tables
Merge the 6 tables in only one , I merge them two by two

This shrinks the dataset to only keep rows that have a value for each column. It avoid to have many Null or NaN values

In [30]:
dataset2 = pd.merge(left = child, right = life)
dataset3 = pd.merge(left = dataset2, right = gender)
dataset4 = pd.merge(left = dataset3, right = gdp)
dataset5 = pd.merge(left = dataset4, right = fertility)
dataset6 = pd.merge(left = dataset5, right = education)
dataset6

,Entity,Code,Year,Deaths,LifeExpectancy,GenderInequality,GDP,Fertility,tertiary_education
0,Afghanistan,AFG,2005,118653,58.4,0.748,3.451279e+09,6.9047,3.61
1,Afghanistan,AFG,2010,101658,60.9,0.753,1.031396e+10,6.0987,3.65
2,Albania,ALB,2000,1449,75.4,0.319,2.400530e+09,2.2310,3.51
3,Albania,ALB,2005,815,76.6,0.306,4.487185e+09,1.8026,2.35
4,Albania,ALB,2010,473,77.9,0.246,7.718874e+09,1.6564,0.93
...,...,...,...,...,...,...,...,...,...
637,Zimbabwe,ZWE,1990,29244,59.4,0.605,4.946844e+09,4.8733,1.83
638,Zimbabwe,ZWE,1995,35883,50.5,0.594,4.506185e+09,4.1539,1.32
639,Zimbabwe,ZWE,2000,35389,44.7,0.625,4.421600e+09,3.9740,0.53
640,Zimbabwe,ZWE,2005,36797,44.8,0.595,3.165357e+09,3.6651,0.44
641,Zimbabwe,ZWE,2010,38616,50.7,0.592,6.097825e+09,4.0248,0.38

In [31]:
dataset6.isna().sum().sum()

0

We create a new csv document with this table with all the indicators

In [32]:
dataset6.to_csv('all_indicators_table.csv')