# Correlation matrix and visualization of variables and GDP

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
from scipy.stats import shapiro

In [2]:
df= pd.read_csv (os.getcwd()+'/Data/'+'Asia.csv')
df

,Unnamed: 0,Country,Year,Alcohol per capita,Education GExp,Employment-agriculture,Employment-industry,Employment-services,Exports-Commercial services,Exports-G&S,...,Literacy rate,Mortality-infants,Mortality-pollution,Net migration,Ninis,R&D GExp,Renewable electricity,Suicide,Workers high education,Continent
0,126,BGD,1990,0.1180,11.191030,54.253103,14.862414,30.887586,2.956232e+08,1.866930e+09,...,61.730904,359910.00000,149.0,-1739225.0,29.915999,NaN,0.0,4.39,79.083331,Asia
1,127,BGD,1991,0.1180,11.062100,69.510002,13.580000,16.910000,3.442842e+08,2.062577e+09,...,35.319302,345141.00000,149.0,-1739225.0,29.915999,NaN,0.0,4.39,79.083331,Asia
2,128,BGD,1992,0.1180,12.536670,68.900002,12.710000,18.389999,3.926887e+08,2.405650e+09,...,61.730904,330187.00000,149.0,-813794.0,29.915999,NaN,0.0,4.39,79.083331,Asia
3,129,BGD,1993,0.1180,12.113850,68.120003,11.880000,20.000000,4.348718e+08,2.990714e+09,...,61.730904,315347.00000,149.0,-1739225.0,29.915999,NaN,0.0,4.39,79.083331,Asia
4,130,BGD,1994,0.1180,14.903409,67.220001,11.070000,21.709999,4.188037e+08,3.039701e+09,...,61.730904,300680.00000,149.0,-1739225.0,29.915999,NaN,0.0,4.39,79.083331,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,782,KOR,2017,10.0725,NaN,4.920000,25.270000,69.800003,8.872020e+10,6.647312e+11,...,97.965942,1125.00000,20.5,58657.0,NaN,4.29206,669000000.0,25.80,72.300003,Asia
218,783,KOR,2018,9.7000,NaN,5.000000,25.200001,69.800003,1.029451e+11,7.194899e+11,...,97.965942,1059.00000,20.5,92681.5,NaN,4.52753,669000000.0,28.60,72.239998,Asia
219,784,KOR,2019,10.0725,NaN,5.140000,24.580000,70.279999,1.029709e+11,6.486106e+11,...,97.965942,997.00000,20.5,92681.5,NaN,3.03234,669000000.0,28.60,72.300003,Asia
220,785,KOR,2020,10.0725,NaN,8.708621,26.335652,63.290690,8.884410e+10,5.969452e+11,...,97.965942,940.00000,20.5,92681.5,NaN,3.03234,669000000.0,28.05,71.360001,Asia
221,786,KOR,2021,10.0725,NaN,8.708621,26.335652,63.290690,1.204198e+11,3.717216e+11,...,97.965942,3348.83871,20.5,92681.5,NaN,3.03234,669000000.0,28.05,70.573889,Asia

## Visualization

In [3]:
columns=['Country','Year','Gender equality','Exports-Commercial services','Renewable electricity','Employment-agriculture','Employment-industry','Employment-services','Exports-G&S','Fertility rate','Foreign investment','GDP','Education GExp','Workers high education','Literacy rate','Mortality-pollution','Net migration','Mortality-infants','Health services use','R&D GExp','Ninis','Suicide','International taxes','Alcohol per capita']
clist=df['Country'].unique()

The following loop has been created to test if each variable for each country follows a normal distribution and also to present in an orderly manner all the correlations between the GDP and the variables so they can be understood on a lower scale.

In [6]:
def multcolumn(frame):
    for u in range(3, len(columns)):
        name2=columns[u]+'^2'
        name3=columns[u]+'^3'
        namelog=columns[u]+' log'
        frame.loc[:,name2] = frame[columns[u]]**2
        frame.loc[:,name3] = frame[columns[u]]**3
        frame.loc[:,namelog] = np.log(frame[columns[u]])

In [7]:
multcolumn(df)
for i in range(0,len(clist)):
    dat=df.loc[df.loc[:, 'Country'] == clist[i]]
    for e in range(3,len(columns)):
        data=dat.iloc[:, e]
        stat, p = shapiro(data)
        print(clist[i] +"-"+ columns[e])
        print('Statistical=%.3f, p=%.3f' % (stat, p))
        alpha = 0.05
        if p > alpha:
            print('Data is NORMAL ( H0 not denied )')
        else:
            print('It does NOT seem normal( Denies H0 )')
    print(clist[i])
    cor=dat.corr()    
    corcolumn=cor[['GDP']].sort_values(by = 'GDP',ascending = False).style.background_gradient()
    display(corcolumn)

BGD-Exports-Commercial services
Statistical=0.537, p=0.000
It does NOT seem normal( Denies H0 )
BGD-Renewable electricity
Statistical=0.977, p=0.723
Data is NORMAL ( H0 not denied )
BGD-Employment-agriculture
Statistical=0.918, p=0.018
It does NOT seem normal( Denies H0 )
BGD-Employment-industry
Statistical=0.924, p=0.027
It does NOT seem normal( Denies H0 )
BGD-Employment-services
Statistical=0.924, p=0.026
It does NOT seem normal( Denies H0 )
BGD-Exports-G&S
Statistical=0.834, p=0.000
It does NOT seem normal( Denies H0 )
BGD-Fertility rate
Statistical=0.862, p=0.001
It does NOT seem normal( Denies H0 )
BGD-Foreign investment
Statistical=0.916, p=0.016
It does NOT seem normal( Denies H0 )
BGD-GDP
Statistical=0.862, p=0.001
It does NOT seem normal( Denies H0 )
BGD-Education GExp
Statistical=0.838, p=0.000
It does NOT seem normal( Denies H0 )
BGD-Workers high education
Statistical=0.778, p=0.000
It does NOT seem normal( Denies H0 )
BGD-Literacy rate
Statistical=0.948, p=0.123
Data is NORMAL ( H0 not denied )
BGD-Mortality-pollution
Statistical=0.853, p=0.000
It does NOT seem normal( Denies H0 )
BGD-Net migration
Statistical=0.749, p=0.000
It does NOT seem normal( Denies H0 )
BGD-Mortality-infants
Statistical=0.928, p=0.034
It does NOT seem normal( Denies H0 )
BGD-Health services use
Statistical=1.000, p=1.000
Data is NORMAL ( H0 not denied )
BGD-R&D GExp
Statistical=0.534, p=0.000
It does NOT seem normal( Denies H0 )
BGD-Ninis
Statistical=0.496, p=0.000
It does NOT seem normal( Denies H0 )
BGD-Suicide
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
BGD-International taxes
Statistical=1.000, p=1.000
Data is NORMAL ( H0 not denied )
BGD-Alcohol per capita
Statistical=0.924, p=0.026
It does NOT seem normal( Denies H0 )
BGD

c:\Users\amarchve\Anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\amarchve\Anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\amarchve\Anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\amarchve\Anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\amarchve\Anaconda3\lib\site-packages\scipy\stats\morestats.py:1757: UserWarning: Input data for shapiro has range zero. The results may not be accurate.
  warnings.warn("Input data for shapiro has range zero. The results "

IND-Exports-Commercial services
Statistical=0.537, p=0.000
It does NOT seem normal( Denies H0 )
IND-Renewable electricity
Statistical=0.786, p=0.000
It does NOT seem normal( Denies H0 )
IND-Employment-agriculture
Statistical=0.913, p=0.016
It does NOT seem normal( Denies H0 )
IND-Employment-industry
Statistical=0.870, p=0.001
It does NOT seem normal( Denies H0 )
IND-Employment-services
Statistical=0.938, p=0.073
Data is NORMAL ( H0 not denied )
IND-Exports-G&S
Statistical=0.848, p=0.000
It does NOT seem normal( Denies H0 )
IND-Fertility rate
Statistical=0.832, p=0.000
It does NOT seem normal( Denies H0 )
IND-Foreign investment
Statistical=0.930, p=0.044
It does NOT seem normal( Denies H0 )
IND-GDP
Statistical=0.829, p=0.000
It does NOT seem normal( Denies H0 )
IND-Education GExp
Statistical=0.858, p=0.001
It does NOT seem normal( Denies H0 )
IND-Workers high education
Statistical=0.662, p=0.000
It does NOT seem normal( Denies H0 )
IND-Literacy rate
Statistical=0.953, p=0.191
Data is NORMAL ( H0 not denied )
IND-Mortality-pollution
Statistical=0.875, p=0.002
It does NOT seem normal( Denies H0 )
IND-Net migration
Statistical=0.491, p=0.000
It does NOT seem normal( Denies H0 )
IND-Mortality-infants
Statistical=0.939, p=0.078
Data is NORMAL ( H0 not denied )
IND-Health services use
Statistical=1.000, p=1.000
Data is NORMAL ( H0 not denied )
IND-R&D GExp
Statistical=0.568, p=0.000
It does NOT seem normal( Denies H0 )
IND-Ninis
Statistical=0.707, p=0.000
It does NOT seem normal( Denies H0 )
IND-Suicide
Statistical=0.954, p=0.207
Data is NORMAL ( H0 not denied )
IND-International taxes
Statistical=0.799, p=0.000
It does NOT seem normal( Denies H0 )
IND-Alcohol per capita
Statistical=0.921, p=0.025
It does NOT seem normal( Denies H0 )
IND

c:\Users\amarchve\Anaconda3\lib\site-packages\scipy\stats\morestats.py:1757: UserWarning: Input data for shapiro has range zero. The results may not be accurate.
  warnings.warn("Input data for shapiro has range zero. The results "

VNM-Exports-Commercial services
Statistical=0.526, p=0.000
It does NOT seem normal( Denies H0 )
VNM-Renewable electricity
Statistical=0.849, p=0.000
It does NOT seem normal( Denies H0 )
VNM-Employment-agriculture
Statistical=0.939, p=0.070
Data is NORMAL ( H0 not denied )
VNM-Employment-industry
Statistical=0.934, p=0.051
Data is NORMAL ( H0 not denied )
VNM-Employment-services
Statistical=0.939, p=0.068
Data is NORMAL ( H0 not denied )
VNM-Exports-G&S
Statistical=0.923, p=0.025
It does NOT seem normal( Denies H0 )
VNM-Fertility rate
Statistical=0.814, p=0.000
It does NOT seem normal( Denies H0 )
VNM-Foreign investment
Statistical=0.693, p=0.000
It does NOT seem normal( Denies H0 )
VNM-GDP
Statistical=0.877, p=0.002
It does NOT seem normal( Denies H0 )
VNM-Education GExp
Statistical=0.865, p=0.001
It does NOT seem normal( Denies H0 )
VNM-Workers high education
Statistical=1.000, p=1.000
Data is NORMAL ( H0 not denied )
VNM-Literacy rate
Statistical=0.947, p=0.121
Data is NORMAL ( H0 not denied )
VNM-Mortality-pollution
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
VNM-Net migration
Statistical=0.478, p=0.000
It does NOT seem normal( Denies H0 )
VNM-Mortality-infants
Statistical=0.684, p=0.000
It does NOT seem normal( Denies H0 )
VNM-Health services use
Statistical=1.000, p=1.000
Data is NORMAL ( H0 not denied )
VNM-R&D GExp
Statistical=0.553, p=0.000
It does NOT seem normal( Denies H0 )
VNM-Ninis
Statistical=0.695, p=0.000
It does NOT seem normal( Denies H0 )
VNM-Suicide
Statistical=0.527, p=0.000
It does NOT seem normal( Denies H0 )
VNM-International taxes
Statistical=0.793, p=0.000
It does NOT seem normal( Denies H0 )
VNM-Alcohol per capita
Statistical=0.893, p=0.004
It does NOT seem normal( Denies H0 )
VNM

c:\Users\amarchve\Anaconda3\lib\site-packages\scipy\stats\morestats.py:1757: UserWarning: Input data for shapiro has range zero. The results may not be accurate.
  warnings.warn("Input data for shapiro has range zero. The results "

THA-Exports-Commercial services
Statistical=0.544, p=0.000
It does NOT seem normal( Denies H0 )
THA-Renewable electricity
Statistical=0.974, p=0.622
Data is NORMAL ( H0 not denied )
THA-Employment-agriculture
Statistical=0.947, p=0.130
Data is NORMAL ( H0 not denied )
THA-Employment-industry
Statistical=0.964, p=0.372
Data is NORMAL ( H0 not denied )
THA-Employment-services
Statistical=0.945, p=0.115
Data is NORMAL ( H0 not denied )
THA-Exports-G&S
Statistical=0.863, p=0.001
It does NOT seem normal( Denies H0 )
THA-Fertility rate
Statistical=0.879, p=0.002
It does NOT seem normal( Denies H0 )
THA-Foreign investment
Statistical=0.798, p=0.000
It does NOT seem normal( Denies H0 )
THA-GDP
Statistical=0.934, p=0.057
Data is NORMAL ( H0 not denied )
THA-Education GExp
Statistical=0.883, p=0.003
It does NOT seem normal( Denies H0 )
THA-Workers high education
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
THA-Literacy rate
Statistical=0.952, p=0.175
Data is NORMAL ( H0 not denied )
THA-Mortality-pollution
Statistical=0.966, p=0.406
Data is NORMAL ( H0 not denied )
THA-Net migration
Statistical=0.562, p=0.000
It does NOT seem normal( Denies H0 )
THA-Mortality-infants
Statistical=0.905, p=0.010
It does NOT seem normal( Denies H0 )
THA-Health services use
Statistical=1.000, p=1.000
Data is NORMAL ( H0 not denied )
THA-R&D GExp
Statistical=0.404, p=0.000
It does NOT seem normal( Denies H0 )
THA-Ninis
Statistical=0.832, p=0.000
It does NOT seem normal( Denies H0 )
THA-Suicide
Statistical=0.760, p=0.000
It does NOT seem normal( Denies H0 )
THA-International taxes
Statistical=0.827, p=0.000
It does NOT seem normal( Denies H0 )
THA-Alcohol per capita
Statistical=0.802, p=0.000
It does NOT seem normal( Denies H0 )
THA

c:\Users\amarchve\Anaconda3\lib\site-packages\scipy\stats\morestats.py:1757: UserWarning: Input data for shapiro has range zero. The results may not be accurate.
  warnings.warn("Input data for shapiro has range zero. The results "

IDN-Exports-Commercial services
Statistical=0.554, p=0.000
It does NOT seem normal( Denies H0 )
IDN-Renewable electricity
Statistical=0.856, p=0.001
It does NOT seem normal( Denies H0 )
IDN-Employment-agriculture
Statistical=0.957, p=0.229
Data is NORMAL ( H0 not denied )
IDN-Employment-industry
Statistical=0.938, p=0.064
Data is NORMAL ( H0 not denied )
IDN-Employment-services
Statistical=0.964, p=0.360
Data is NORMAL ( H0 not denied )
IDN-Exports-G&S
Statistical=0.888, p=0.003
It does NOT seem normal( Denies H0 )
IDN-Fertility rate
Statistical=0.883, p=0.002
It does NOT seem normal( Denies H0 )
IDN-Foreign investment
Statistical=0.913, p=0.013
It does NOT seem normal( Denies H0 )
IDN-GDP
Statistical=0.922, p=0.024
It does NOT seem normal( Denies H0 )
IDN-Education GExp
Statistical=0.841, p=0.000
It does NOT seem normal( Denies H0 )
IDN-Workers high education
Statistical=1.000, p=1.000
Data is NORMAL ( H0 not denied )
IDN-Literacy rate
Statistical=0.948, p=0.127
Data is NORMAL ( H0 not denied )
IDN-Mortality-pollution
Statistical=0.899, p=0.006
It does NOT seem normal( Denies H0 )
IDN-Net migration
Statistical=0.778, p=0.000
It does NOT seem normal( Denies H0 )
IDN-Mortality-infants
Statistical=0.957, p=0.230
Data is NORMAL ( H0 not denied )
IDN-Health services use
Statistical=1.000, p=1.000
Data is NORMAL ( H0 not denied )
IDN-R&D GExp
Statistical=0.555, p=0.000
It does NOT seem normal( Denies H0 )
IDN-Ninis
Statistical=0.925, p=0.029
It does NOT seem normal( Denies H0 )
IDN-Suicide
Statistical=0.666, p=0.000
It does NOT seem normal( Denies H0 )
IDN-International taxes
Statistical=0.931, p=0.043
It does NOT seem normal( Denies H0 )
IDN-Alcohol per capita
Statistical=0.889, p=0.003
It does NOT seem normal( Denies H0 )
IDN

c:\Users\amarchve\Anaconda3\lib\site-packages\scipy\stats\morestats.py:1757: UserWarning: Input data for shapiro has range zero. The results may not be accurate.
  warnings.warn("Input data for shapiro has range zero. The results "

PHL-Exports-Commercial services
Statistical=0.545, p=0.000
It does NOT seem normal( Denies H0 )
PHL-Renewable electricity
Statistical=0.915, p=0.015
It does NOT seem normal( Denies H0 )
PHL-Employment-agriculture
Statistical=0.960, p=0.282
Data is NORMAL ( H0 not denied )
PHL-Employment-industry
Statistical=0.875, p=0.002
It does NOT seem normal( Denies H0 )
PHL-Employment-services
Statistical=0.963, p=0.329
Data is NORMAL ( H0 not denied )
PHL-Exports-G&S
Statistical=0.880, p=0.002
It does NOT seem normal( Denies H0 )
PHL-Fertility rate
Statistical=0.949, p=0.139
Data is NORMAL ( H0 not denied )
PHL-Foreign investment
Statistical=0.954, p=0.190
Data is NORMAL ( H0 not denied )
PHL-GDP
Statistical=0.968, p=0.440
Data is NORMAL ( H0 not denied )
PHL-Education GExp
Statistical=0.858, p=0.001
It does NOT seem normal( Denies H0 )
PHL-Workers high education
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
PHL-Literacy rate
Statistical=0.927, p=0.032
It does NOT seem normal( Denies H0 )
PHL-Mortality-pollution
Statistical=0.896, p=0.005
It does NOT seem normal( Denies H0 )
PHL-Net migration
Statistical=0.680, p=0.000
It does NOT seem normal( Denies H0 )
PHL-Mortality-infants
Statistical=0.989, p=0.979
Data is NORMAL ( H0 not denied )
PHL-Health services use
Statistical=1.000, p=1.000
Data is NORMAL ( H0 not denied )
PHL-R&D GExp
Statistical=0.523, p=0.000
It does NOT seem normal( Denies H0 )
PHL-Ninis
Statistical=0.787, p=0.000
It does NOT seem normal( Denies H0 )
PHL-Suicide
Statistical=0.628, p=0.000
It does NOT seem normal( Denies H0 )
PHL-International taxes
Statistical=0.871, p=0.001
It does NOT seem normal( Denies H0 )
PHL-Alcohol per capita
Statistical=0.947, p=0.117
Data is NORMAL ( H0 not denied )
PHL

c:\Users\amarchve\Anaconda3\lib\site-packages\scipy\stats\morestats.py:1757: UserWarning: Input data for shapiro has range zero. The results may not be accurate.
  warnings.warn("Input data for shapiro has range zero. The results "

KOR-Exports-Commercial services
Statistical=0.387, p=0.000
It does NOT seem normal( Denies H0 )
KOR-Renewable electricity
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
KOR-Employment-agriculture
Statistical=0.946, p=0.108
Data is NORMAL ( H0 not denied )
KOR-Employment-industry
Statistical=0.874, p=0.001
It does NOT seem normal( Denies H0 )
KOR-Employment-services
Statistical=0.894, p=0.004
It does NOT seem normal( Denies H0 )
KOR-Exports-G&S
Statistical=0.891, p=0.004
It does NOT seem normal( Denies H0 )
KOR-Fertility rate
Statistical=0.879, p=0.002
It does NOT seem normal( Denies H0 )
KOR-Foreign investment
Statistical=0.955, p=0.202
Data is NORMAL ( H0 not denied )
KOR-GDP
Statistical=0.904, p=0.008
It does NOT seem normal( Denies H0 )
KOR-Education GExp
Statistical=0.926, p=0.031
It does NOT seem normal( Denies H0 )
KOR-Workers high education
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
KOR-Literacy rate
Statistical=0.887, p=0.003
It does NOT seem normal( Denies H0 )
KOR-Mortality-pollution
Statistical=0.964, p=0.353
Data is NORMAL ( H0 not denied )
KOR-Net migration
Statistical=1.000, p=1.000
Data is NORMAL ( H0 not denied )
KOR-Mortality-infants
Statistical=0.853, p=0.000
It does NOT seem normal( Denies H0 )
KOR-Health services use
Statistical=1.000, p=1.000
Data is NORMAL ( H0 not denied )
KOR-R&D GExp
Statistical=0.408, p=0.000
It does NOT seem normal( Denies H0 )
KOR-Ninis
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
KOR-Suicide
Statistical=0.927, p=0.032
It does NOT seem normal( Denies H0 )
KOR-International taxes
Statistical=0.734, p=0.000
It does NOT seem normal( Denies H0 )
KOR-Alcohol per capita
Statistical=0.836, p=0.000
It does NOT seem normal( Denies H0 )
KOR

c:\Users\amarchve\Anaconda3\lib\site-packages\scipy\stats\morestats.py:1757: UserWarning: Input data for shapiro has range zero. The results may not be accurate.
  warnings.warn("Input data for shapiro has range zero. The results "