# <u>  First step : Load  

Previously , I downloaded 6 datasets from the website 'Our world in data '
    
First we read with pandas the 6  xlsx documents (one for each indicators )  :

1) Gdp from 1850 to 2020 in pounds

2) Infant mortality of children under 5 years old

3) Percentage of population age 15+ with tertiary schooling. 

4) Fertility rate

5) gender inequality

6) Life expectancy

Then we import the panda librairy :

Pandas is a library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical arrays and time series.

In [8]:
# we import the useful librairies 

import pandas as pd

We open and read each table of indicator one by one to obtain a table with all the indicators

In [9]:
# we open and read each table of indicator one by one  

education = pd.read_excel('./data/education.xlsx')
fertility = pd.read_excel('./data/fertility.xlsx')
gdp = pd.read_excel('./data/gdp-in-british-pounds.xlsx')
gender = pd.read_excel('./data/gender_inequality.xlsx')
life = pd.read_excel('./data/life-expectancy.xlsx')
child = pd.read_excel('./data/child-deaths.xlsx')

#  <u>Second step : Merge the tables
Merge the 6 tables in only one , I merge them two by two

This shrinks the dataset to only keep rows that have a value for each column. It avoid to have many Null or NaN values

In [10]:

dataset_merged = pd.merge(child,life, on = ['Entity','Code','Year'],how ='outer')
dataset_merged = pd.merge(dataset_merged,gender, on = ['Entity','Code','Year'],how ='outer')
dataset_merged = pd.merge(dataset_merged,gdp, on = ['Entity','Code','Year'],how ='outer')
dataset_merged = pd.merge(dataset_merged,fertility,on = ['Entity','Code','Year'],how ='outer')
dataset_merged = pd.merge(dataset_merged, education,on = ['Entity','Code','Year'],how ='outer')

dataset_merged

,Entity,Code,Year,Deaths,LifeExpectancy,GenderInequality,GDP,Fertility,tertiary_education
0,Afghanistan,AFG,1966,161659.0,35.5,NaN,500000224.0,7.3203,NaN
1,Afghanistan,AFG,1967,162579.0,35.9,NaN,605919040.0,7.3387,NaN
2,Afghanistan,AFG,1968,163573.0,36.4,NaN,572222720.0,7.3628,NaN
3,Afghanistan,AFG,1969,164638.0,36.9,NaN,587037568.0,7.3887,NaN
4,Afghanistan,AFG,1970,165430.0,37.4,NaN,728703360.0,7.3996,1.08
...,...,...,...,...,...,...,...,...,...
21407,Zimbabwe,ZWE,1945,NaN,NaN,NaN,41000000.0,NaN,NaN
21408,Zimbabwe,ZWE,1946,NaN,NaN,NaN,48000000.0,NaN,NaN
21409,Zimbabwe,ZWE,1947,NaN,NaN,NaN,59000000.0,NaN,NaN
21410,Zimbabwe,ZWE,1948,NaN,NaN,NaN,72000000.0,NaN,NaN
21411,Zimbabwe,ZWE,1949,NaN,NaN,NaN,82000000.0,NaN,NaN

In [11]:
dataset_merged.isna().sum().sum()

61978

#  <u> 3rd step : Remove columns
    
Remove the column country names, not useful because the column code provides the country code

In [12]:
dataset_small = dataset_merged.drop(dataset_merged.columns[0], axis = 1)
dataset_small

,Code,Year,Deaths,LifeExpectancy,GenderInequality,GDP,Fertility,tertiary_education
0,AFG,1966,161659.0,35.5,NaN,500000224.0,7.3203,NaN
1,AFG,1967,162579.0,35.9,NaN,605919040.0,7.3387,NaN
2,AFG,1968,163573.0,36.4,NaN,572222720.0,7.3628,NaN
3,AFG,1969,164638.0,36.9,NaN,587037568.0,7.3887,NaN
4,AFG,1970,165430.0,37.4,NaN,728703360.0,7.3996,1.08
...,...,...,...,...,...,...,...,...
21407,ZWE,1945,NaN,NaN,NaN,41000000.0,NaN,NaN
21408,ZWE,1946,NaN,NaN,NaN,48000000.0,NaN,NaN
21409,ZWE,1947,NaN,NaN,NaN,59000000.0,NaN,NaN
21410,ZWE,1948,NaN,NaN,NaN,72000000.0,NaN,NaN
21411,ZWE,1949,NaN,NaN,NaN,82000000.0,NaN,NaN

We create a new csv document with this table with all the indicators

In [13]:
dataset_merged.to_csv('./data/all_indicators_table.csv')