#  <u> 1st step : Load

We import the different librairies that we are going to use :

    - pandas : Pandas is a library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical arrays and time series.

In [1]:
# we import the useful librairies 
import pandas as pd

We open the final merged table of the 'normalization part ' with the columns upper value and lower value

In [2]:
# we open and read the merge table of all indicators
bronze_dataset = pd.read_csv ('./data/bronze_dataset_with_outliers.csv')
bronze_dataset = bronze_dataset.drop(bronze_dataset.columns[0], axis = 1)
bronze_dataset

           Code  Year Indicator    Real value   Lower value   Upper value
0           AFG  1966    Deaths  1.616590e+05  3.980225e+04  2.280962e+05
1           AFG  1967    Deaths  1.625790e+05  3.980225e+04  2.280962e+05
2           AFG  1968    Deaths  1.635730e+05  3.980225e+04  2.280962e+05
3           AFG  1969    Deaths  1.646380e+05  3.980225e+04  2.280962e+05
4           AFG  1970    Deaths  1.654300e+05  3.980225e+04  2.280962e+05
...         ...   ...       ...           ...           ...           ...
66489  OWID_GFR  1986      GDP   7.110545e+11 -5.467304e+11  9.798115e+11
66490  OWID_GFR  1987      GDP   7.913833e+11 -5.467304e+11  9.798115e+11
66491  OWID_GFR  1988      GDP   7.847509e+11 -5.467304e+11  9.798115e+11
66492  OWID_GFR  1989      GDP   8.517760e+11 -5.467304e+11  9.798115e+11
66493  OWID_GFR  1990      GDP   9.939894e+11 -5.467304e+11  9.798115e+11

[66494 rows x 6 columns]


# <u>STEP : Remove outliers 

We need to find outliers and remove them 
To do that, we take our renamed final table, and with loc , we keep only specific datas
    
Indeed the ' ~ ' means 'not' and the folowing condition is'values out of range' it means when 'the real value is not between the lower value and the upper value '
    
So at the end we will just have the values not out of range, so we will remove outliers with this command

In [2]:
without_outliers=bronze_dataset.loc[~((bronze_dataset['Real value']<bronze_dataset['Lower value']) | (bronze_dataset['Real value']>bronze_dataset['Upper value']))]
without_outliers

           Code  Year Indicator    Real value   Lower value   Upper value
0           AFG  1966    Deaths  1.616590e+05  3.980225e+04  2.280962e+05
1           AFG  1967    Deaths  1.625790e+05  3.980225e+04  2.280962e+05
2           AFG  1968    Deaths  1.635730e+05  3.980225e+04  2.280962e+05
3           AFG  1969    Deaths  1.646380e+05  3.980225e+04  2.280962e+05
4           AFG  1970    Deaths  1.654300e+05  3.980225e+04  2.280962e+05
...         ...   ...       ...           ...           ...           ...
66488  OWID_GFR  1985      GDP   5.686651e+11 -5.467304e+11  9.798115e+11
66489  OWID_GFR  1986      GDP   7.110545e+11 -5.467304e+11  9.798115e+11
66490  OWID_GFR  1987      GDP   7.913833e+11 -5.467304e+11  9.798115e+11
66491  OWID_GFR  1988      GDP   7.847509e+11 -5.467304e+11  9.798115e+11
66492  OWID_GFR  1989      GDP   8.517760e+11 -5.467304e+11  9.798115e+11

[64015 rows x 6 columns]

Then we delete the upper and lower values colums to reduce our final table

In [3]:
table_clean =without_outliers.drop(['Lower value','Upper value'],axis=1)
table_clean

           Code  Year Indicator    Real value
0           AFG  1966    Deaths  1.616590e+05
1           AFG  1967    Deaths  1.625790e+05
2           AFG  1968    Deaths  1.635730e+05
3           AFG  1969    Deaths  1.646380e+05
4           AFG  1970    Deaths  1.654300e+05
...         ...   ...       ...           ...
66488  OWID_GFR  1985      GDP   5.686651e+11
66489  OWID_GFR  1986      GDP   7.110545e+11
66490  OWID_GFR  1987      GDP   7.913833e+11
66491  OWID_GFR  1988      GDP   7.847509e+11
66492  OWID_GFR  1989      GDP   8.517760e+11

[64015 rows x 4 columns]

# <u>  STEP : Silver

Now, we are going to put each indicators in a column and to index the dataset

In [4]:
silver_dataset1=table_clean.set_index(["Code", "Year"]).pivot(columns="Indicator", values="Real value").reset_index()
silver_dataset=silver_dataset1.rename(columns={0: 'index'})
silver_dataset

Indicator,Code,Year,Deaths,Fertility,GDP,GenderInequality,LifeExpectancy,tertiary_education
0,ABW,1950,NaN,NaN,NaN,NaN,57.2,NaN
1,ABW,1951,NaN,NaN,NaN,NaN,57.7,NaN
2,ABW,1952,NaN,NaN,NaN,NaN,58.7,NaN
3,ABW,1953,NaN,NaN,NaN,NaN,59.5,NaN
4,ABW,1954,NaN,NaN,NaN,NaN,60.4,NaN
...,...,...,...,...,...,...,...,...
21097,ZWE,2017,26069.0,3.7064,NaN,0.532,60.7,NaN
21098,ZWE,2018,24648.0,3.6591,NaN,0.535,61.4,NaN
21099,ZWE,2019,24006.0,3.5994,NaN,0.533,61.3,NaN
21100,ZWE,2020,23533.0,3.5451,NaN,0.533,61.1,NaN
21101,ZWE,2021,NaN,3.4908,NaN,0.532,59.3,NaN

Then we convert this new table without outliers into a csv document

In [6]:
silver_dataset.to_csv('./data/SilverDataset.csv')