In [71]:
import os
import numpy as np
import pandas as pd
from scipy.stats import pearsonr, spearmanr

import warnings
warnings.filterwarnings("ignore")

read_path = os.getcwd() + '/Output/'
write_path = os.getcwd() + '/Output/'

col_country = 'Country'
col_region = 'Region'
col_year = 'Year'
col_gdp = 'GDP'
col_shift = 'Shift'

In [72]:
df = pd.read_csv(read_path + 'GoldDataframe.csv', index_col = [col_country, col_region, col_year])
df

                                     AgriShareGDP  CreditToAgriFishForest  \
Country     Region             Year
Afghanistan South Asia         2000      54.06300                     NaN
                               2001      54.06300                     NaN
                               2002      45.13440                     NaN
                               2003      41.90340                     NaN
                               2004      35.61280                     NaN
...                                           ...                     ...
Zimbabwe    Sub-Saharan Africa 2016       7.87399                     NaN
                               2017       8.34095                     NaN
                               2018       8.30469                     NaN
                               2019       8.17322                     NaN
                               2020      10.93630                     NaN

                                     EmploymentRural           GDP  \
Country     Region             Year
Afghanistan South Asia         2000              NaN   3342.034168
                               2001              NaN   3598.470576
                               2002              NaN   4141.523943
                               2003              NaN   4729.042179
                               2004              NaN   5388.482107
...                                              ...           ...
Zimbabwe    Sub-Saharan Africa 2016              NaN  20548.678073
                               2017              NaN  22040.902301
                               2018              NaN  24311.560545
                               2019              NaN  21935.075306
                               2020              NaN  21786.743637

                                     % Soldiers  Employment in industry  \
Country     Region             Year
Afghanistan South Asia         2000    7.887961                    9.48
                               2001    5.020511                    8.98
                               2002    2.153062                    9.99
                               2003    2.208290                   10.35
                               2004    0.435599                   10.61
...                                         ...                     ...
Zimbabwe    Sub-Saharan Africa 2016    0.759750                    7.05
                               2017    0.750720                    6.90
                               2018    0.738210                    6.75
                               2019    0.738210                    6.57
                               2020    0.738210                    6.57

                                     Employment in services  Birth Rate  \
Country     Region             Year
Afghanistan South Asia         2000               24.680000      48.021
                               2001               24.719999      47.505
                               2002               25.590000      46.901
                               2003               25.950001      46.231
                               2004               26.120001      45.507
...                                                     ...         ...
Zimbabwe    Sub-Saharan Africa 2016               26.070000      32.864
                               2017               26.629999      31.732
                               2018               27.230000      30.676
                               2019               27.240000      29.747
                               2020               27.240000      28.977

                                     Cost business start-up  Death Rate  ...  \
Country     Region             Year                                      ...
Afghanistan South Asia         2000                    72.0      11.718  ...
                               2001                    72.0      11.387  ...
                               2002                    72.0      11.048  ...
                               2003                    72.0      10.704  ...
                               2004                    72.0      10.356  ...
...                                                     ...         ...  ...
Zimbabwe    Sub-Saharan Africa 2016                   121.5       8.286  ...
                               2017                   110.0       8.044  ...
                               2018                   110.7       7.883  ...
                               2019                    76.6       7.773  ...
                               2020                    76.6       7.692  ...

                                     Researchers in R&D  R&D expenditure %GDP  \
Country     Region             Year
Afghanistan South Asia         2000                 NaN                   NaN
                               2001                 NaN                   NaN
                               2002                 NaN                   NaN
                               2003                 NaN                   NaN
                               2004                 NaN                   NaN
...                                                 ...                   ...
Zimbabwe    Sub-Saharan Africa 2016                 NaN                   NaN
                               2017                 NaN                   NaN
                               2018                 NaN                   NaN
                               2019                 NaN                   NaN
                               2020                 NaN                   NaN

                                     % Rural Population  \
Country     Region             Year
Afghanistan South Asia         2000              77.922
                               2001              77.831
                               2002              77.739
                               2003              77.647
                               2004              77.500
...                                                 ...
Zimbabwe    Sub-Saharan Africa 2016              67.704
                               2017              67.763
                               2018              67.791
                               2019              67.790
                               2020              67.758

                                     Tertiary School Gender Parity  \
Country     Region             Year
Afghanistan South Asia         2000                            NaN
                               2001                            NaN
                               2002                            NaN
                               2003                            NaN
                               2004                            NaN
...                                                            ...
Zimbabwe    Sub-Saharan Africa 2016                            NaN
                               2017                            NaN
                               2018                            NaN
                               2019                            NaN
                               2020                            NaN

                                     % Vulnerable female employment  \
Country     Region             Year
Afghanistan South Asia         2000                       98.720002
                               2001                       98.760003
                               2002                       98.669999
                               2003                       98.599998
                               2004                       98.549998
...                                                             ...
Zimbabwe    Sub-Saharan Africa 2016                       75.970001
                               2017                       76.579998
                               2018                       77.170002
                               2019                       79.299999
                               2020                       79.299999

                                     % Vulnerable male employment  \
Country     Region             Year
Afghanistan South Asia         2000                     91.879999
                               2001                     92.399998
                               2002                     91.460001
                               2003                     91.039999
                               2004                     90.960003
...                                                           ...
Zimbabwe    Sub-Saharan Africa 2016                     56.789999
                               2017                     56.609999
                               2018                     56.380000
                               2019                     57.090001
                               2020                     57.090001

                                     Civil Liberties  Freedom of Expression  \
Country     Region             Year
Afghanistan South Asia         2000            0.400                  0.625
                               2001            0.400                  0.625
                               2002            0.400                  0.625
                               2003            0.403                  0.687
                               2004            0.403                  0.677
...                                              ...                    ...
Zimbabwe    Sub-Saharan Africa 2016            0.430                  0.389
                               2017            0.488                  0.431
                               2018            0.447                  0.471
                               2019            0.403                  0.434
                               2020            0.467                  0.445

                                     % Healthcare Investment  Population
Country     Region             Year
Afghanistan South Asia         2000                     1.21  20779957.0
                               2001                     1.21  21606992.0
                               2002                     1.21  22600774.0
                               2003                     5.46  23680871.0
                               2004                     3.60  24726689.0
...                                                      ...         ...
Zimbabwe    Sub-Saharan Africa 2016                      NaN  14030338.0
                               2017                      NaN  14236599.0
                               2018                      NaN  14438812.0
                               2019                      NaN  14645473.0
                               2020                      NaN  14862927.0

[3276 rows x 29 columns]

In [98]:
country_list = list(set(df.index.get_level_values(col_country)))
region_list = list(set(df.index.get_level_values(col_region)))

country_list.sort()
region_list.sort()

total_years = len(set(df.index.get_level_values(col_year)))

#shifts = range(-total_years + 1, total_years)
shifts = range(0, total_years)

In [92]:
def norm (df: pd.DataFrame):    
    norm_df = pd.DataFrame(index = df.index)

    for country in country_list:
        for col_name in df.columns:
            # Select indicator col_name for country country
            col = df.loc[df.index.get_level_values(col_country) == country, col_name]
            # Normalize values
            col = col.map(lambda x: (x - col.min()) / (col.max() - col.min()))
            # Add them to the normalized DataFrame
            norm_df.loc[df.index.get_level_values(col_country) == country, col_name] = col

    return norm_df

In [87]:
norm_df = norm(df)

In [103]:
min_year = df.index.get_level_values(col_year).min()
max_year = df.index.get_level_values(col_year).max()

corr_df_list = []

for shift in shifts:
    corr_s_list = []
    for region in region_list:
        min_year_gdp = min_year + max(shift, 0)
        max_year_gdp = max_year - min(shift, 0)

        min_year_ind = min_year + min(shift, 0)
        max_year_ind = max_year - max(shift, 0)

        #print(f"MIN GDP {min_year_gdp} - MAX GDP {max_year_gdp}")
        #print(f"MIN IND {min_year_ind} - MAX IND {max_year_ind}")
        gdp_s = norm_df.loc[(norm_df.index.get_level_values(col_year) >= min_year_gdp) & (norm_df.index.get_level_values(col_region) == region), col_gdp]
        ind_df = norm_df.loc[(norm_df.index.get_level_values(col_year) <= max_year_ind) & (norm_df.index.get_level_values(col_region) == region)].drop(columns = col_gdp)

        gdp_s.index = gdp_s.index.map(lambda x: (x[0], x[1], x[2] - shift)) #NOT ROBUST ENOUGH

        corr_s = ind_df.apply(lambda x: x.corr(gdp_s, method = 'spearman'), axis = 0)
        corr_s.name = (region, shift)
        corr_s_list.append(corr_s)
        
    aux_corr_df = pd.concat(corr_s_list, axis = 1)
    corr_df_list.append(aux_corr_df)
    
corr_df = pd.concat(corr_df_list, axis = 1).transpose().sort_index()
corr_df.index.names = [col_region, col_shift]
display(corr_df)

corr_df.to_csv(write_path + 'Shift_Corr_Dataframe.csv')

                             AgriShareGDP  CreditToAgriFishForest  \
Region                Shift
East Asia and Pacific 0         -0.557078                0.035495
                      1         -0.571000                0.045581
                      2         -0.564104                0.061005
                      3         -0.533058                0.063054
                      4         -0.490044                0.107678
...                                   ...                     ...
Sub-Saharan Africa    16         0.005624                0.019947
                      17        -0.003210               -0.017634
                      18        -0.015317               -0.013647
                      19        -0.016207               -0.081794
                      20        -0.052106                0.009031

                             EmploymentRural  % Soldiers  \
Region                Shift
East Asia and Pacific 0             0.505195   -0.482020
                      1             0.440602   -0.478531
                      2             0.492982   -0.469527
                      3             0.550052   -0.452155
                      4             0.529412   -0.431361
...                                      ...         ...
Sub-Saharan Africa    16                 NaN   -0.028297
                      17                 NaN    0.076304
                      18                 NaN    0.021263
                      19                 NaN    0.104081
                      20                 NaN    0.185899

                             Employment in industry  Employment in services  \
Region                Shift
East Asia and Pacific 0                    0.257993                0.777541
                      1                    0.263635                0.768111
                      2                    0.275608                0.752348
                      3                    0.279594                0.730858
                      4                    0.272671                0.705514
...                                             ...                     ...
Sub-Saharan Africa    16                  -0.142260                0.141987
                      17                  -0.161870                0.066625
                      18                  -0.168480               -0.085154
                      19                  -0.130423               -0.165970
                      20                  -0.058761               -0.200469

                             Birth Rate  Cost business start-up  Death Rate  \
Region                Shift
East Asia and Pacific 0       -0.648727               -0.803675   -0.054715
                      1       -0.610870               -0.786266   -0.071897
                      2       -0.566774               -0.764718   -0.081032
                      3       -0.521940               -0.752843   -0.087992
                      4       -0.476209               -0.738602   -0.085950
...                                 ...                     ...         ...
Sub-Saharan Africa    16      -0.299483               -0.086779   -0.338583
                      17      -0.158429                0.016016   -0.266506
                      18      -0.001722                0.027980   -0.126855
                      19       0.156525                0.054790    0.092861
                      20      -0.068548               -0.066102    0.476588

                             Employment in agriculture  ...  \
Region                Shift                             ...
East Asia and Pacific 0                      -0.873590  ...
                      1                      -0.860879  ...
                      2                      -0.844811  ...
                      3                      -0.821253  ...
                      4                      -0.792153  ...
...                                                ...  ...
Sub-Saharan Africa    16                     -0.142793  ...
                      17                     -0.093931  ...
                      18                      0.062467  ...
                      19                      0.073624  ...
                      20                      0.175662  ...

                             Researchers in R&D  R&D expenditure %GDP  \
Region                Shift
East Asia and Pacific 0                0.703935              0.264128
                      1                0.674411              0.289565
                      2                0.709905              0.353246
                      3                0.797568              0.417896
                      4                0.829924              0.416700
...                                         ...                   ...
Sub-Saharan Africa    16              -0.718185              0.205196
                      17               0.632456             -0.632456
                      18               0.866025             -0.866025
                      19                    NaN                   NaN
                      20                    NaN                   NaN

                             % Rural Population  \
Region                Shift
East Asia and Pacific 0               -0.642243
                      1               -0.617003
                      2               -0.588148
                      3               -0.556391
                      4               -0.525386
...                                         ...
Sub-Saharan Africa    16              -0.353382
                      17              -0.215506
                      18              -0.072316
                      19               0.018977
                      20               0.141015

                             Tertiary School Gender Parity  \
Region                Shift
East Asia and Pacific 0                           0.397603
                      1                           0.382197
                      2                           0.368888
                      3                           0.384728
                      4                           0.408660
...                                                    ...
Sub-Saharan Africa    16                          0.145574
                      17                          0.111366
                      18                         -0.103500
                      19                         -0.201880
                      20                          0.024574

                             % Vulnerable female employment  \
Region                Shift
East Asia and Pacific 0                           -0.571968
                      1                           -0.565191
                      2                           -0.554050
                      3                           -0.545997
                      4                           -0.532216
...                                                     ...
Sub-Saharan Africa    16                          -0.023375
                      17                          -0.095387
                      18                          -0.021925
                      19                           0.039688
                      20                           0.148060

                             % Vulnerable male employment  Civil Liberties  \
Region                Shift
East Asia and Pacific 0                         -0.657467        -0.149730
                      1                         -0.641499        -0.117512
                      2                         -0.616477        -0.107511
                      3                         -0.597944        -0.106523
                      4                         -0.568435        -0.122074
...                                                   ...              ...
Sub-Saharan Africa    16                        -0.069169         0.115587
                      17                        -0.066419         0.094721
                      18                         0.018013         0.096503
                      19                         0.147915         0.090368
                      20                         0.273715         0.042749

                             Freedom of Expression  % Healthcare Investment  \
Region                Shift
East Asia and Pacific 0                  -0.215428                 0.195517
                      1                  -0.200820                 0.185719
                      2                  -0.197869                 0.163689
                      3                  -0.210231                 0.135710
                      4                  -0.225042                 0.108293
...                                            ...                      ...
Sub-Saharan Africa    16                  0.090426                 0.057550
                      17                  0.016411                 0.034670
                      18                 -0.030420                 0.051000
                      19                 -0.023240                -0.066018
                      20                 -0.097896                 0.148366

                             Population
Region                Shift
East Asia and Pacific 0        0.866409
                      1        0.849238
                      2        0.823045
                      3        0.789324
                      4        0.749144
...                                 ...
Sub-Saharan Africa    16       0.368987
                      17       0.209590
                      18       0.020624
                      19      -0.084660
                      20      -0.050178

[147 rows x 28 columns]

In [148]:
max_corr_list = []
max_corr_index_list = []

for region in region_list:
    #print(region)
    region_df = corr_df.loc[corr_df.index.get_level_values(col_region) == region].reset_index(col_region, drop = True)
    #region_df
    max_region_s = region_df.apply(lambda x: max(x.min(), x.max(), key=abs))
    max_region_s.name = region
    max_corr_list.append(max_region_s)
    try:
        max_region_index_s = region_df.apply(lambda x: x.idxmax() if max(x.min(), x.max(), key=abs) == x.max() else x.idxmin())
        max_region_index_s.name = region
        max_corr_index_list.append(max_region_index_s)
    except:
        #print(region)
        max_region_index_s = region_df.apply(lambda x: x.idxmax() if max(x.min(), x.max(), key=abs) == x.max() else x.idxmin())
        display(max_region_index_s)
        print(max_region_index_s.loc[1, 'Tertiary School Gender Parity'])    

max_corr_df = pd.concat(max_corr_list, axis = 1).transpose().sort_index()
max_corr_index_df = pd.concat(max_corr_index_list, axis = 1).transpose().sort_index()

max_corr_df.index.name = col_region
max_corr_index_df.index.name = col_region

display(max_corr_df)
display(max_corr_index_df)

,AgriShareGDP,CreditToAgriFishForest,EmploymentRural,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,...,Researchers in R&D,R&D expenditure %GDP,% Rural Population,Tertiary School Gender Parity,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
Region,,,,,,,,,,,,,,,,,,,,,
East Asia and Pacific,-0.571000,-0.340427,1.000000,-0.482020,-0.487082,0.777541,-0.648727,-0.803675,0.330078,-0.873590,...,-1.000000,0.448516,-0.642243,0.468550,-0.571968,-0.657467,-0.309084,-0.283516,0.220166,0.866409
Europe and Central Asia,-0.656907,0.448318,0.254755,-0.457566,-0.253651,0.661403,0.135302,-0.612653,-0.148094,-0.675654,...,0.521204,-0.377780,-0.504418,0.181770,-0.415014,-0.358689,-0.344128,-0.186067,0.336170,0.228723
Latin America and Caribbean,-0.535436,-0.405636,0.607143,-0.322011,0.414348,0.681041,-0.814289,-0.812420,0.234521,-0.715330,...,-1.000000,0.309626,-0.525743,0.459699,-0.287763,-0.309720,-0.220788,-0.142403,0.381713,0.797623
Middle East and North Africa,-0.583536,0.576818,0.960159,-0.805605,0.444149,0.228524,-0.480063,-0.629879,-0.582375,-0.763619,...,-1.000000,0.465782,-0.830327,0.643596,-0.326915,-0.489928,0.373239,0.161868,0.315152,0.837184
North America,-1.000000,1.000000,-0.977402,-1.000000,-0.875384,0.826752,1.000000,-0.720274,1.000000,-0.757899,...,0.916825,-1.000000,-0.930505,NaN,1.000000,1.000000,1.000000,1.000000,0.897395,0.859510
South Asia,-0.678981,-0.419287,NaN,-0.367647,0.711021,0.753318,-0.860896,-0.876816,-0.743251,-0.862888,...,NaN,1.000000,-0.788127,0.820119,-0.340081,-0.761398,0.407193,0.282915,-0.428705,0.937372
Sub-Saharan Africa,-0.363691,-0.132918,NaN,-0.483289,-0.232502,0.718684,-0.734870,-0.788451,-0.731965,-0.693040,...,0.866025,-0.866025,-0.707788,0.822503,-0.409425,-0.572713,0.301412,0.235775,0.148366,0.831756

,AgriShareGDP,CreditToAgriFishForest,EmploymentRural,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,...,Researchers in R&D,R&D expenditure %GDP,% Rural Population,Tertiary School Gender Parity,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
Region,,,,,,,,,,,,,,,,,,,,,
East Asia and Pacific,1.0,20.0,19.0,0.0,19.0,0.0,0.0,0.0,19.0,0.0,...,20.0,16.0,0.0,11.0,0.0,0.0,18.0,12.0,19.0,0.0
Europe and Central Asia,0.0,2.0,19.0,0.0,0.0,0.0,3.0,0.0,18.0,0.0,...,0.0,19.0,0.0,0.0,0.0,0.0,19.0,20.0,0.0,19.0
Latin America and Caribbean,0.0,12.0,20.0,7.0,18.0,0.0,0.0,0.0,0.0,0.0,...,20.0,20.0,6.0,0.0,19.0,19.0,20.0,20.0,0.0,0.0
Middle East and North Africa,6.0,20.0,6.0,0.0,0.0,16.0,0.0,0.0,3.0,0.0,...,20.0,0.0,0.0,20.0,0.0,0.0,20.0,19.0,0.0,0.0
North America,20.0,19.0,2.0,20.0,16.0,16.0,20.0,0.0,20.0,15.0,...,0.0,19.0,0.0,NaN,19.0,19.0,20.0,20.0,2.0,0.0
South Asia,1.0,17.0,NaN,20.0,0.0,0.0,0.0,0.0,5.0,0.0,...,NaN,19.0,0.0,4.0,0.0,0.0,20.0,8.0,19.0,0.0
Sub-Saharan Africa,1.0,5.0,NaN,0.0,13.0,0.0,0.0,0.0,0.0,0.0,...,18.0,18.0,0.0,0.0,0.0,0.0,8.0,5.0,20.0,0.0

In [155]:
df_s = max_corr_df.style

df_s.set_tooltips(max_corr_index_df.applymap(lambda x: 'No data' if np.isnan(x) else 'Shift: ' + str(int(x))))

display(df_s)

In [95]:
min_year = df.index.get_level_values(col_year).min()
max_year = df.index.get_level_values(col_year).max()

corr_df_list = []

for shift in shifts:
    corr_s_list = []
    for region in region_list:
        min_year_gdp = min_year + shift
        max_year_gdp = max_year

        min_year_ind = min_year
        max_year_ind = max_year - shift

        gdp_s = norm_df.loc[(norm_df.index.get_level_values(col_year) >= min_year_gdp) & (norm_df.index.get_level_values(col_region) == region), col_gdp]
        ind_df = norm_df.loc[(norm_df.index.get_level_values(col_year) <= max_year_ind) & (norm_df.index.get_level_values(col_region) == region)].drop(columns = col_gdp)

        gdp_s.index = gdp_s.index.map(lambda x: (x[0], x[1], x[2] - shift))

        corr_s = ind_df.apply(lambda x: x.corr(gdp_s, method = 'spearman'), axis = 0)
        corr_s.name = (region, shift)
        corr_s_list.append(corr_s)

    for region in region_list:
        min_year_gdp = min_year
        max_year_gdp = max_year - shift

        min_year_ind = min_year + shift
        max_year_ind = max_year

        gdp_s = norm_df.loc[(norm_df.index.get_level_values(col_year) >= min_year_gdp) & (norm_df.index.get_level_values(col_region) == region), col_gdp]
        ind_df = norm_df.loc[(norm_df.index.get_level_values(col_year) <= max_year_ind) & (norm_df.index.get_level_values(col_region) == region)].drop(columns = col_gdp)

        gdp_s.index = gdp_s.index.map(lambda x: (x[0], x[1], x[2] - shift))

        corr_s = ind_df.apply(lambda x: x.corr(gdp_s, method = 'spearman'), axis = 0)
        corr_s.name = (region, -shift)
        corr_s_list.append(corr_s)
        
    aux_corr_df = pd.concat(corr_s_list, axis = 1)
    corr_df_list.append(aux_corr_df)

corr_df = pd.concat(corr_df_list, axis = 1).transpose().sort_index()
corr_df.index.names = [col_region, col_shift]
display(corr_df)

corr_df.to_csv(write_path + 'Shift_Corr_Dataframe.csv')

                             AgriShareGDP  CreditToAgriFishForest  \
Region                Shift
East Asia and Pacific -21             NaN                     NaN
                      -20        0.139208               -0.357576
                      -20       -0.259753               -0.340427
                      -19       -0.156915               -0.136097
                      -19       -0.220394                0.098397
...                                   ...                     ...
Sub-Saharan Africa     19       -0.081918               -0.068120
                       19       -0.016207               -0.081794
                       20       -0.211637               -0.078289
                       20       -0.052106                0.009031
                       21             NaN                     NaN

                             EmploymentRural  % Soldiers  \
Region                Shift
East Asia and Pacific -21                NaN         NaN
                      -20                NaN    0.240563
                      -20                NaN    0.223921
                      -19               -1.0    0.156956
                      -19                1.0    0.375826
...                                      ...         ...
Sub-Saharan Africa     19                NaN   -0.066470
                       19                NaN    0.104081
                       20                NaN   -0.091135
                       20                NaN    0.185899
                       21                NaN         NaN

                             Employment in industry  Employment in services  \
Region                Shift
East Asia and Pacific -21                       NaN                     NaN
                      -20                 -0.205633               -0.071524
                      -20                 -0.421776                0.169325
                      -19                  0.008806                0.008945
                      -19                 -0.487082               -0.358780
...                                             ...                     ...
Sub-Saharan Africa     19                 -0.114484                0.019038
                       19                 -0.130423               -0.165970
                       20                 -0.202122               -0.001635
                       20                 -0.058761               -0.200469
                       21                       NaN                     NaN

                             Birth Rate  Cost business start-up  Death Rate  \
Region                Shift
East Asia and Pacific -21           NaN                     NaN         NaN
                      -20     -0.300662               -0.100233    0.248047
                      -20     -0.368011               -0.009174    0.186002
                      -19      0.242989               -0.102161   -0.145354
                      -19      0.188423                0.088243    0.330078
...                                 ...                     ...         ...
Sub-Saharan Africa     19     -0.171689                0.001453   -0.276631
                       19      0.156525                0.054790    0.092861
                       20      0.080734               -0.024553    0.166875
                       20     -0.068548               -0.066102    0.476588
                       21           NaN                     NaN         NaN

                             Employment in agriculture  ...  \
Region                Shift                             ...
East Asia and Pacific -21                          NaN  ...
                      -20                    -0.242844  ...
                      -20                    -0.352770  ...
                      -19                    -0.035634  ...
                      -19                     0.380522  ...
...                                                ...  ...
Sub-Saharan Africa     19                     0.087987  ...
                       19                     0.073624  ...
                       20                     0.097662  ...
                       20                     0.175662  ...
                       21                          NaN  ...

                             Researchers in R&D  R&D expenditure %GDP  \
Region                Shift
East Asia and Pacific -21                   NaN                   NaN
                      -20                   NaN             -0.289474
                      -20             -1.000000              0.205196
                      -19             -0.257248              0.028575
                      -19             -0.463817              0.316770
...                                         ...                   ...
Sub-Saharan Africa     19                   NaN                   NaN
                       19                   NaN                   NaN
                       20                   NaN                   NaN
                       20                   NaN                   NaN
                       21                   NaN                   NaN

                             % Rural Population  \
Region                Shift
East Asia and Pacific -21                   NaN
                      -20              0.006640
                      -20              0.152769
                      -19              0.150723
                      -19              0.204346
...                                         ...
Sub-Saharan Africa     19             -0.098916
                       19              0.018977
                       20              0.246437
                       20              0.141015
                       21                   NaN

                             Tertiary School Gender Parity  \
Region                Shift
East Asia and Pacific -21                              NaN
                      -20                         0.441176
                      -20                        -0.333947
                      -19                        -0.009693
                      -19                         0.120697
...                                                    ...
Sub-Saharan Africa     19                         0.095383
                       19                        -0.201880
                       20                        -0.368605
                       20                         0.024574
                       21                              NaN

                             % Vulnerable female employment  \
Region                Shift
East Asia and Pacific -21                               NaN
                      -20                         -0.224224
                      -20                         -0.004938
                      -19                         -0.268103
                      -19                          0.178424
...                                                     ...
Sub-Saharan Africa     19                          0.337764
                       19                          0.039688
                       20                          0.457439
                       20                          0.148060
                       21                               NaN

                             % Vulnerable male employment  Civil Liberties  \
Region                Shift
East Asia and Pacific -21                             NaN              NaN
                      -20                       -0.451149         0.172222
                      -20                        0.372069        -0.267397
                      -19                       -0.285198         0.069622
                      -19                        0.237710        -0.239972
...                                                   ...              ...
Sub-Saharan Africa     19                        0.202243         0.070345
                       19                        0.147915         0.090368
                       20                        0.249602         0.184945
                       20                        0.273715         0.042749
                       21                             NaN              NaN

                             Freedom of Expression  % Healthcare Investment  \
Region                Shift
East Asia and Pacific -21                      NaN                      NaN
                      -20                 0.236276                -0.096981
                      -20                -0.023883                 0.032344
                      -19                 0.133247                -0.090957
                      -19                -0.073198                 0.220166
...                                            ...                      ...
Sub-Saharan Africa     19                 0.005670                -0.023799
                       19                -0.023240                -0.066018
                       20                 0.249735                 0.414002
                       20                -0.097896                 0.148366
                       21                      NaN                      NaN

                             Population
Region                Shift
East Asia and Pacific -21           NaN
                      -20     -0.380839
                      -20     -0.377964
                      -19     -0.461874
                      -19     -0.570684
...                                 ...
Sub-Saharan Africa     19      0.091766
                       19     -0.084660
                       20           NaN
                       20     -0.050178
                       21           NaN

[588 rows x 28 columns]

In [ ]:
min_year = df.index.get_level_values(col_year).min()
max_year = df.index.get_level_values(col_year).max()

corr_s_list = []

for shift in shifts:
    shift = 16
    display(shift)
    for region in region_list:
        display(region)
        min_year_gdp = min_year + shift
        max_year_gdp = max_year

        min_year_ind = min_year
        max_year_ind = max_year - shift

        gdp_df = df.loc[(df.index.get_level_values(col_year) >= min_year_gdp) & (df.index.get_level_values(col_region) == region), [col_gdp]]
        ind_df = df.loc[(df.index.get_level_values(col_year) <= max_year_ind) & (df.index.get_level_values(col_region) == region)].drop(columns = col_gdp)

        norm_gdp_df = norm(gdp_df) #.reset_index().drop(columns = col_year)
        norm_ind_df = norm(ind_df) #.reset_index().drop(columns = col_year)

        norm_gdp_s = norm_gdp_df.loc[:, col_gdp].convert_dtypes(float)
        norm_gdp_s.index = norm_gdp_df.index.map(lambda x: (x[0], x[1], x[2] - shift))

        #norm_gdp_df.index = norm_gdp_df.index.map(lambda x: (x[0], x[1], x[2] - min_year_gdp))
        #norm_ind_df.index = norm_ind_df.index.map(lambda x: (x[0], x[1], x[2] - min_year_ind))

        display(norm_ind_df.apply(lambda x: pd.Series([1, 2, 3], index = ['a', 'b', 'c'])))

        display(norm_gdp_s)
        display(norm_ind_df)

        print('Display deez:')
        
        pop_s = norm_ind_df['Population'].convert_dtypes(float)
        display(norm_gdp_s)
        display(pop_s)
        print('Corr:')
        display(pop_s.corr(norm_gdp_s, method = 'spearman'))
        x_list = []
        print('Apply:')
        display(norm_ind_df.apply(lambda x: x_list.append(x), axis = 0))
        print('List:')
        display(x_list)
        for x in x_list:
            display(x.corr(norm_gdp_s, method = 'spearman'))
        corr_s = norm_ind_df.apply(lambda x: x.corr(norm_gdp_s, method = 'spearman'), axis = 0)
        
        display(corr_s)
        corr_s_list.append(corr_s)
        
        #corr_df = norm_ind_df.drop(columns = [col_country, col_region]).corrwith(norm_gdp_df[col_gdp], method = 'spearman')
        break

    break
corr_df = pd.DataFrame(corr_s_list)
#display(norm_gdp_df[col_gdp])
#display(norm_ind_df)

#display(corr_df)

In [26]:
norm_ind_df['Population']

pandas.core.series.Series

In [6]:
PVALUE_VAR = 0.05 #Preguntar por %

In [7]:
def index_of(val, df):
    #max_shift = max_row.applymap(lambda x: df.loc[df[max_row.loc[max_row == x].index[0]] == x].index.get_level_values('Shift').item())
    return df.loc[df[df.columns.get_loc(val)] == val].index.get_level_values(col_shift).item()

def foo(df):
    return None

In [8]:
""" # Normalize each indicator for each country
for country in country_list:
    country_df = df.loc[df.index.get_level_values(col_country) == country]
    for col_name in country_df:
        col = country_df.loc[:, col_name]
        col = col.map(lambda x: (x - col.min()) / (col.max() - col.min()))
        df.loc[df.index.get_level_values(col_country) == country, col_name] = col """

' # Normalize each indicator for each country\nfor country in country_list:\n    country_df = df.loc[df.index.get_level_values(col_country) == country]\n    for col_name in country_df:\n        col = country_df.loc[:, col_name]\n        col = col.map(lambda x: (x - col.min()) / (col.max() - col.min()))\n        df.loc[df.index.get_level_values(col_country) == country, col_name] = col '

In [11]:





for region in region_list:
    region_df = df.loc[df.index.get_level_values(col_region) == region]
    display(region_df)
    countries_of_region = list(set(region_df.index.get_level_values(col_country)))
    countries_of_region.sort()
    for country in countries_of_region:
        country_df = region_df.loc[region_df.index.get_level_values(col_country) == country]
        for col_name in country_df:
            col = country_df.loc[:, col_name]
            col = col.map(lambda x: (x - col.min()) / (col.max() - col.min()))
            region_df.loc[region_df.index.get_level_values(col_country) == country, col_name] = col
    display(region_df.sort_index(level = (col_year, col_country)))
    break

                                      AgriShareGDP  CreditToAgriFishForest  \
Country   Region                Year
Australia East Asia and Pacific 2000       3.94801                2.511352
                                2001       3.94801                2.263438
                                2002       2.88853                3.199001
                                2003       3.06212                3.232433
                                2004       2.88333                3.493468
...                                            ...                     ...
Vanuatu   East Asia and Pacific 2016      20.92800                0.040188
                                2017      21.37040                0.040098
                                2018      21.21900                0.072546
                                2019      21.17310                0.076260
                                2020      23.55080                0.076260

                                      EmploymentRural            GDP  \
Country   Region                Year
Australia East Asia and Pacific 2000              NaN  408774.988018
                                2001              NaN  390108.834372
                                2002              NaN  435171.313118
                                2003              NaN  558422.134392
                                2004              NaN  678337.418023
...                                               ...            ...
Vanuatu   East Asia and Pacific 2016              NaN     804.328186
                                2017              NaN     880.046992
                                2018              NaN     914.701139
                                2019              NaN     934.239701
                                2020              NaN     854.793640

                                      % Soldiers  Employment in industry  \
Country   Region                Year
Australia East Asia and Pacific 2000    0.537349               21.620001
                                2001    0.528086               20.740000
                                2002    0.511698               20.920000
                                2003    0.529294               20.879999
                                2004    0.507430               21.240000
...                                          ...                     ...
Vanuatu   East Asia and Pacific 2016         NaN               11.890000
                                2017         NaN               12.670000
                                2018         NaN               13.390000
                                2019         NaN               14.080000
                                2020         NaN               14.080000

                                      Employment in services  Birth Rate  \
Country   Region                Year
Australia East Asia and Pacific 2000               73.529999      13.000
                                2001               74.510002      12.700
                                2002               74.699997      12.800
                                2003               75.199997      12.600
                                2004               75.019997      12.300
...                                                      ...         ...
Vanuatu   East Asia and Pacific 2016               28.700001      30.424
                                2017               28.770000      30.015
                                2018               28.969999      29.595
                                2019               29.139999      29.175
                                2020               29.139999      28.763

                                      Cost business start-up  Death Rate  ...  \
Country   Region                Year                                      ...
Australia East Asia and Pacific 2000                     2.0       6.700  ...
                                2001                     2.0       6.600  ...
                                2002                     2.0       6.600  ...
                                2003                     2.0       6.600  ...
                                2004                     2.1       6.500  ...
...                                                      ...         ...  ...
Vanuatu   East Asia and Pacific 2016                    44.3       5.396  ...
                                2017                    44.4       5.334  ...
                                2018                    42.0       5.266  ...
                                2019                    42.5       5.197  ...
                                2020                    42.5       5.197  ...

                                      Researchers in R&D  \
Country   Region                Year
Australia East Asia and Pacific 2000                 NaN
                                2001                 NaN
                                2002                 NaN
                                2003                 NaN
                                2004                 NaN
...                                                  ...
Vanuatu   East Asia and Pacific 2016                 NaN
                                2017                 NaN
                                2018                 NaN
                                2019                 NaN
                                2020                 NaN

                                      R&D expenditure %GDP  \
Country   Region                Year
Australia East Asia and Pacific 2000                   NaN
                                2001                   NaN
                                2002                   NaN
                                2003                   NaN
                                2004                   NaN
...                                                    ...
Vanuatu   East Asia and Pacific 2016                   NaN
                                2017                   NaN
                                2018                   NaN
                                2019                   NaN
                                2020                   NaN

                                      % Rural Population  \
Country   Region                Year
Australia East Asia and Pacific 2000              15.765
                                2001              15.900
                                2002              15.778
                                2003              15.657
                                2004              15.537
...                                                  ...
Vanuatu   East Asia and Pacific 2016              74.938
                                2017              74.837
                                2018              74.726
                                2019              74.606
                                2020              74.475

                                      Tertiary School Gender Parity  \
Country   Region                Year
Australia East Asia and Pacific 2000                            NaN
                                2001                            NaN
                                2002                            NaN
                                2003                            NaN
                                2004                            NaN
...                                                             ...
Vanuatu   East Asia and Pacific 2016                            NaN
                                2017                            NaN
                                2018                            NaN
                                2019                            NaN
                                2020                            NaN

                                      % Vulnerable female employment  \
Country   Region                Year
Australia East Asia and Pacific 2000                        9.250000
                                2001                        8.950000
                                2002                        9.180000
                                2003                        8.920000
                                2004                        8.760000
...                                                              ...
Vanuatu   East Asia and Pacific 2016                       72.480001
                                2017                       71.730000
                                2018                       71.209996
                                2019                       70.659998
                                2020                       70.659998

                                      % Vulnerable male employment  \
Country   Region                Year
Australia East Asia and Pacific 2000                     14.910000
                                2001                     15.110000
                                2002                     15.500000
                                2003                     15.190000
                                2004                     14.980000
...                                                            ...
Vanuatu   East Asia and Pacific 2016                     66.040001
                                2017                     65.729998
                                2018                     65.730002
                                2019                     65.669999
                                2020                     65.669999

                                      Civil Liberties  Freedom of Expression  \
Country   Region                Year
Australia East Asia and Pacific 2000         0.984000                  0.970
                                2001         0.984000                  0.970
                                2002         0.984000                  0.969
                                2003         0.984000                  0.969
                                2004         0.984000                  0.969
...                                               ...                    ...
Vanuatu   East Asia and Pacific 2016         0.861000                  0.903
                                2017         0.861000                  0.908
                                2018         0.858667                  0.898
                                2019         0.856333                  0.880
                                2020         0.854000                  0.834

                                      % Healthcare Investment  Population
Country   Region                Year
Australia East Asia and Pacific 2000                    14.60  18991434.0
                                2001                    14.71  19194676.0
                                2002                    15.51  19401366.0
                                2003                    15.48  19624163.0
                                2004                    15.95  19879654.0
...                                                       ...         ...
Vanuatu   East Asia and Pacific 2016                     3.35    278326.0
                                2017                     3.95    285499.0
                                2018                     6.72    292675.0
                                2019                     5.02    299882.0
                                2020                     5.02    307150.0

[420 rows x 29 columns]

,,,AgriShareGDP,CreditToAgriFishForest,EmploymentRural,GDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,...,Researchers in R&D,R&D expenditure %GDP,% Rural Population,Tertiary School Gender Parity,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
Country,Region,Year,,,,,,,,,,,,,,,,,,,,,
Australia,East Asia and Pacific,2000,1.000000,0.115948,NaN,0.015547,1.000000,1.000000,0.000000,0.576923,0.928571,1.000000,...,NaN,NaN,0.936945,NaN,1.000000,0.788530,1.000000,1.000000,0.000000,0.0
Cambodia,East Asia and Pacific,2000,0.982897,0.064862,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,NaN,NaN,1.000000,NaN,1.000000,1.000000,0.895062,0.986254,0.687351,0.0
China,East Asia and Pacific,2000,NaN,NaN,NaN,0.000000,1.000000,0.123596,0.000000,0.870192,NaN,0.067568,...,0.0,0.000000,1.000000,0.0,1.000000,1.000000,0.307692,0.892473,0.123762,0.0
Fiji,East Asia and Pacific,2000,0.657539,NaN,NaN,0.006543,0.770872,1.000000,0.000000,1.000000,1.000000,0.000000,...,NaN,NaN,1.000000,NaN,0.045580,0.130435,0.863636,0.925156,1.000000,0.0
French Polynesia,East Asia and Pacific,2000,1.000000,NaN,NaN,0.018747,NaN,0.462500,0.000000,1.000000,NaN,0.019517,...,NaN,NaN,0.973879,NaN,1.000000,1.000000,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Singapore,East Asia and Pacific,2020,0.074057,0.356360,NaN,0.874267,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,1.0,0.098016,NaN,NaN,0.352273,0.565218,0.200000,0.666667,0.924474,1.0
Solomon Islands,East Asia and Pacific,2020,0.012130,NaN,NaN,0.976445,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,...,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.882022,1.000000,0.112047,1.0
Thailand,East Asia and Pacific,2020,0.151959,0.016580,NaN,0.899831,0.827266,0.826804,1.000000,0.000000,0.000000,1.000000,...,NaN,1.000000,0.000000,1.0,0.000000,0.017751,0.000000,0.321016,0.718000,1.0
Tonga,East Asia and Pacific,2020,0.886308,NaN,NaN,0.949209,NaN,0.608696,0.997786,0.000000,0.000000,0.477807,...,NaN,NaN,0.798144,NaN,0.000000,0.000000,NaN,NaN,0.029874,1.0
Vanuatu,East Asia and Pacific,2020,0.697274,0.628410,NaN,0.883044,NaN,1.000000,0.146930,0.000000,0.012048,0.000000,...,NaN,NaN,0.000000,NaN,0.000000,0.087171,0.363636,0.000000,0.265471,1.0

In [10]:
max_list = []
shift_list = []

faulty_list = []

for country in country_list:
    #country = 'Spain'
    #try: 
    if True:
        #print(country)
        corr_list = []
        pval_list = []
        
        
        #Get the DataFrame for a given country.
        country_df = df.loc[df.index.get_level_values(col_country) == country]
        min_year = country_df.index.get_level_values(col_year).min()
        max_year = country_df.index.get_level_values(col_year).max()

        gdp_series = country_df.loc[:, col_gdp]
        ind_df = country_df.drop(col_gdp, axis = 1).dropna(axis = 1)

        #corr_df = ind_df.corrwith(gdp_series, method = 'spearman')
        #display(corr_df)

        for shift in shifts:
            shifted_min = min_year + shift
            shifted_max = max_year - shift

            shifted_gdp = gdp_series.loc[gdp_series.index.get_level_values(col_year) >= shifted_min].reset_index(drop = True)
            shifted_ind = ind_df.loc[ind_df.index.get_level_values(col_year) <= shifted_max].reset_index(drop = True)

            country_corr = shifted_ind.corrwith(shifted_gdp, method = 'spearman')
            pval = shifted_ind.corrwith(shifted_gdp, method = lambda x, y: spearmanr(x, y)[1])
            p = pval.map(lambda x: 1 if x < PVALUE_VAR and x != 0 else np.NaN)
            country_corr = country_corr * p

            country_corr = country_corr.map(lambda x: np.NaN if x == 1.0 or x == -1.0 else x)
            
            display(shifted_ind)
            display(shifted_gdp)
            display(country_corr)
            #display(country_corr_b)
            #display(pval)

            country_corr.name = shift
            corr_list.append(country_corr)
            pval_list.append(pval)

        corr_df = pd.concat(corr_list, axis = 1).transpose().sort_index()
        pval_df = pd.concat(pval_list, axis = 1).transpose().sort_index()

        corr_df.index = pd.MultiIndex.from_tuples((country, sh) for sh, _ in corr_df.iterrows())
        corr_df.index.names = [col_country, 'Shift']

        val = corr_df.apply(lambda x: max(x.min(), x.max(), key=abs))
        val.name = country

        max_row = pd.DataFrame(val).dropna().transpose()
        #display(max_row)

        #ddd = val.map(lambda x: corr_df.loc[corr_df[pd.Series(val).loc[pd.Series(val) == x].index[0]] == x].index.get_level_values('Shift').item())
        #display(corr_df)
        #max_shift = pd.Series(val).map(lambda x: corr_df.loc[corr_df[pd.Series(val).loc[pd.Series(val) == x].index[0]] == x].index.get_level_values('Shift').item())
        #max_shift = max_row.applymap(lambda x: corr_df.loc[corr_df[max_row.loc[max_row == x].index[0]] == x].index.get_level_values('Shift').item())
        
        #print(max_row.index)
        #display(corr_df)
        element = corr_df.loc[:, 'Population'].max()
        #print(element)
        #display(corr_df.loc[corr_df['Population'] == element].index.get_level_values(col_shift).item())
        max_shift = max_row.applymap(lambda x: index_of(x, corr_df))
        

        #print(max_row.loc[max_row == 0.467669])

        #display(max_shift)


        #display(corr_df)
        #display(pval_df)

        max_list.append(max_row)
        shift_list.append(max_shift)
        
    #except Exception: 
    #    faulty_list.append(country)
        
if len(max_list) > 0 and len(shift_list) > 0:
    max_df = pd.concat(max_list, axis = 1).transpose().sort_index()
    shift_df = pd.concat(shift_list, axis = 1).transpose().sort_index()
    #display(max_df)
    #display(shift_df)

#print(faulty_list)

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.480000,24.680000,48.021,72.0,11.718,65.839996,12.746000,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.4000,0.625,1.21,20779957.0
1,54.0630,5.020511,8.980000,24.719999,47.505,72.0,11.387,66.290001,12.868000,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.4000,0.625,1.21,21606992.0
2,45.1344,2.153062,9.990000,25.590000,46.901,72.0,11.048,64.419998,12.944000,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.4000,0.625,1.21,22600774.0
3,41.9034,2.208290,10.350000,25.950001,46.231,72.0,10.704,63.700001,13.122000,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.4030,0.687,5.46,23680871.0
4,35.6128,0.435599,10.610000,26.120001,45.507,72.0,10.356,63.270000,13.301000,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.4030,0.677,3.60,24726689.0
5,35.1476,0.416444,11.330000,26.530001,44.723,75.2,10.003,62.150002,13.407000,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.4030,0.677,3.37,25654274.0
6,34.3934,0.767568,11.790000,26.930000,43.870,67.4,9.645,61.279999,13.263000,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.3970,0.707,2.72,26433058.0
7,35.2660,0.753283,12.200000,27.660000,42.944,84.6,9.287,60.139999,13.073000,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.3970,0.708,2.61,27100542.0
8,30.9046,1.364728,12.480000,28.230000,41.949,59.5,8.932,59.290001,12.989000,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.4070,0.735,3.00,27722281.0
9,32.7856,3.638823,13.630000,29.480000,40.903,30.2,8.584,56.889999,12.899000,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.4040,0.740,2.51,28394806.0
10,30.9138,4.252621,14.660000,30.770000,39.829,26.7,8.250,54.580002,12.922000,68.570999,...,6.039311,64.2,2.746615,76.263,97.409999,86.160000,0.4040,0.745,2.26,29185511.0
11,29.8295,4.524341,14.750000,31.690001,38.750,25.8,7.936,53.560001,13.269000,68.638000,...,5.520806,61.8,3.143106,76.052,96.930001,85.229998,0.4060,0.745,2.19,30117411.0
12,28.5562,4.285291,15.770000,32.830002,37.690,22.5,7.645,51.400002,13.584000,68.222000,...,5.023027,59.5,3.407600,75.840,96.269998,83.609999,0.4050,0.747,1.37,31161378.0
13,27.8781,3.979973,16.330000,33.849998,36.670,14.4,7.380,49.820000,14.401000,67.612000,...,4.538151,57.3,3.494592,75.627,95.439997,82.219997,0.3780,0.743,1.78,32269592.0
14,27.4791,3.532474,16.770000,34.820000,35.706,15.1,7.141,48.410000,15.237000,66.913002,...,4.216704,55.2,3.355602,75.413,94.499998,81.019998,0.3840,0.724,1.86,33370803.0
15,25.5322,3.480937,17.170000,35.759998,34.809,19.0,6.929,47.070000,16.104000,66.178001,...,3.609126,53.2,3.077054,75.197,93.400003,79.930001,0.3920,0.712,2.01,34413603.0
16,26.4075,3.376091,17.320000,36.869999,33.981,19.9,6.742,45.810001,17.009001,65.439003,...,3.330914,51.3,2.778035,74.980,92.040001,78.760001,0.3755,0.660,2.14,35383028.0
17,25.5747,3.246668,18.030001,37.990002,33.211,82.3,6.575,43.990002,17.950001,64.680000,...,3.063593,49.5,2.547833,74.750,90.260000,77.190001,0.3590,0.720,2.32,36296111.0
18,22.4409,2.644597,18.459999,38.410000,32.487,6.4,6.423,43.130001,18.253000,64.563004,...,3.063593,47.9,2.384309,74.505,89.920004,76.949996,0.3830,0.720,1.90,37171922.0
19,25.5185,2.644597,18.549999,38.959999,31.802,6.8,6.285,42.500000,18.533001,64.382004,...,3.063593,46.4,2.313073,74.246,89.470001,76.699997,0.3800,0.692,3.87,38041757.0
20,27.0135,2.644597,18.549999,38.959999,31.153,6.8,6.157,42.500000,13.459000,64.382004,...,3.063593,45.0,2.303812,73.974,89.470001,76.699997,0.4190,0.734,3.87,38928341.0

0      3342.034168
1      3598.470576
2      4141.523943
3      4729.042179
4      5388.482107
5      6220.574147
6      7104.711445
7      9412.161765
8     10236.901594
9     11595.133469
10    14698.889678
11    17350.694945
12    19136.499341
13    19621.802455
14    19550.702567
15    18713.048410
16    18019.558182
17    18896.352021
18    18418.848300
19    18904.490263
20    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     -0.864566
% Soldiers                             NaN
Employment in industry            0.910685
Employment in services            0.911984
Birth Rate                       -0.914286
Cost business start-up           -0.736206
Death Rate                       -0.914286
Employment in agriculture        -0.910685
% Female Employment               0.732468
% Male Employment                -0.705653
Life Expectancy                   0.914286
Maternal Death Risk              -0.905542
Infant Mortality                 -0.914286
% Population Growth                    NaN
% Rural Population               -0.914286
% Vulnerable female employment   -0.910685
% Vulnerable male employment     -0.910685
Civil Liberties                        NaN
Freedom of Expression             0.666451
% Healthcare Investment                NaN
Population                        0.914286
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.480000,24.680000,48.021,72.0,11.718,65.839996,12.746000,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.4000,0.625,1.21,20779957.0
1,54.0630,5.020511,8.980000,24.719999,47.505,72.0,11.387,66.290001,12.868000,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.4000,0.625,1.21,21606992.0
2,45.1344,2.153062,9.990000,25.590000,46.901,72.0,11.048,64.419998,12.944000,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.4000,0.625,1.21,22600774.0
3,41.9034,2.208290,10.350000,25.950001,46.231,72.0,10.704,63.700001,13.122000,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.4030,0.687,5.46,23680871.0
4,35.6128,0.435599,10.610000,26.120001,45.507,72.0,10.356,63.270000,13.301000,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.4030,0.677,3.60,24726689.0
5,35.1476,0.416444,11.330000,26.530001,44.723,75.2,10.003,62.150002,13.407000,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.4030,0.677,3.37,25654274.0
6,34.3934,0.767568,11.790000,26.930000,43.870,67.4,9.645,61.279999,13.263000,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.3970,0.707,2.72,26433058.0
7,35.2660,0.753283,12.200000,27.660000,42.944,84.6,9.287,60.139999,13.073000,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.3970,0.708,2.61,27100542.0
8,30.9046,1.364728,12.480000,28.230000,41.949,59.5,8.932,59.290001,12.989000,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.4070,0.735,3.00,27722281.0
9,32.7856,3.638823,13.630000,29.480000,40.903,30.2,8.584,56.889999,12.899000,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.4040,0.740,2.51,28394806.0
10,30.9138,4.252621,14.660000,30.770000,39.829,26.7,8.250,54.580002,12.922000,68.570999,...,6.039311,64.2,2.746615,76.263,97.409999,86.160000,0.4040,0.745,2.26,29185511.0
11,29.8295,4.524341,14.750000,31.690001,38.750,25.8,7.936,53.560001,13.269000,68.638000,...,5.520806,61.8,3.143106,76.052,96.930001,85.229998,0.4060,0.745,2.19,30117411.0
12,28.5562,4.285291,15.770000,32.830002,37.690,22.5,7.645,51.400002,13.584000,68.222000,...,5.023027,59.5,3.407600,75.840,96.269998,83.609999,0.4050,0.747,1.37,31161378.0
13,27.8781,3.979973,16.330000,33.849998,36.670,14.4,7.380,49.820000,14.401000,67.612000,...,4.538151,57.3,3.494592,75.627,95.439997,82.219997,0.3780,0.743,1.78,32269592.0
14,27.4791,3.532474,16.770000,34.820000,35.706,15.1,7.141,48.410000,15.237000,66.913002,...,4.216704,55.2,3.355602,75.413,94.499998,81.019998,0.3840,0.724,1.86,33370803.0
15,25.5322,3.480937,17.170000,35.759998,34.809,19.0,6.929,47.070000,16.104000,66.178001,...,3.609126,53.2,3.077054,75.197,93.400003,79.930001,0.3920,0.712,2.01,34413603.0
16,26.4075,3.376091,17.320000,36.869999,33.981,19.9,6.742,45.810001,17.009001,65.439003,...,3.330914,51.3,2.778035,74.980,92.040001,78.760001,0.3755,0.660,2.14,35383028.0
17,25.5747,3.246668,18.030001,37.990002,33.211,82.3,6.575,43.990002,17.950001,64.680000,...,3.063593,49.5,2.547833,74.750,90.260000,77.190001,0.3590,0.720,2.32,36296111.0
18,22.4409,2.644597,18.459999,38.410000,32.487,6.4,6.423,43.130001,18.253000,64.563004,...,3.063593,47.9,2.384309,74.505,89.920004,76.949996,0.3830,0.720,1.90,37171922.0
19,25.5185,2.644597,18.549999,38.959999,31.802,6.8,6.285,42.500000,18.533001,64.382004,...,3.063593,46.4,2.313073,74.246,89.470001,76.699997,0.3800,0.692,3.87,38041757.0

0      3598.470576
1      4141.523943
2      4729.042179
3      5388.482107
4      6220.574147
5      7104.711445
6      9412.161765
7     10236.901594
8     11595.133469
9     14698.889678
10    17350.694945
11    19136.499341
12    19621.802455
13    19550.702567
14    18713.048410
15    18019.558182
16    18896.352021
17    18418.848300
18    18904.490263
19    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     -0.879278
% Soldiers                             NaN
Employment in industry            0.899248
Employment in services            0.900752
Birth Rate                       -0.900752
Cost business start-up           -0.754567
Death Rate                       -0.900752
Employment in agriculture        -0.899248
% Female Employment               0.729323
% Male Employment                -0.600226
Life Expectancy                   0.900752
Maternal Death Risk              -0.891567
Infant Mortality                 -0.900752
% Population Growth                    NaN
% Rural Population               -0.900752
% Vulnerable female employment   -0.899248
% Vulnerable male employment     -0.899248
Civil Liberties                        NaN
Freedom of Expression             0.675464
% Healthcare Investment                NaN
Population                        0.900752
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.480000,24.680000,48.021,72.0,11.718,65.839996,12.746000,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.4000,0.625,1.21,20779957.0
1,54.0630,5.020511,8.980000,24.719999,47.505,72.0,11.387,66.290001,12.868000,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.4000,0.625,1.21,21606992.0
2,45.1344,2.153062,9.990000,25.590000,46.901,72.0,11.048,64.419998,12.944000,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.4000,0.625,1.21,22600774.0
3,41.9034,2.208290,10.350000,25.950001,46.231,72.0,10.704,63.700001,13.122000,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.4030,0.687,5.46,23680871.0
4,35.6128,0.435599,10.610000,26.120001,45.507,72.0,10.356,63.270000,13.301000,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.4030,0.677,3.60,24726689.0
5,35.1476,0.416444,11.330000,26.530001,44.723,75.2,10.003,62.150002,13.407000,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.4030,0.677,3.37,25654274.0
6,34.3934,0.767568,11.790000,26.930000,43.870,67.4,9.645,61.279999,13.263000,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.3970,0.707,2.72,26433058.0
7,35.2660,0.753283,12.200000,27.660000,42.944,84.6,9.287,60.139999,13.073000,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.3970,0.708,2.61,27100542.0
8,30.9046,1.364728,12.480000,28.230000,41.949,59.5,8.932,59.290001,12.989000,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.4070,0.735,3.00,27722281.0
9,32.7856,3.638823,13.630000,29.480000,40.903,30.2,8.584,56.889999,12.899000,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.4040,0.740,2.51,28394806.0
10,30.9138,4.252621,14.660000,30.770000,39.829,26.7,8.250,54.580002,12.922000,68.570999,...,6.039311,64.2,2.746615,76.263,97.409999,86.160000,0.4040,0.745,2.26,29185511.0
11,29.8295,4.524341,14.750000,31.690001,38.750,25.8,7.936,53.560001,13.269000,68.638000,...,5.520806,61.8,3.143106,76.052,96.930001,85.229998,0.4060,0.745,2.19,30117411.0
12,28.5562,4.285291,15.770000,32.830002,37.690,22.5,7.645,51.400002,13.584000,68.222000,...,5.023027,59.5,3.407600,75.840,96.269998,83.609999,0.4050,0.747,1.37,31161378.0
13,27.8781,3.979973,16.330000,33.849998,36.670,14.4,7.380,49.820000,14.401000,67.612000,...,4.538151,57.3,3.494592,75.627,95.439997,82.219997,0.3780,0.743,1.78,32269592.0
14,27.4791,3.532474,16.770000,34.820000,35.706,15.1,7.141,48.410000,15.237000,66.913002,...,4.216704,55.2,3.355602,75.413,94.499998,81.019998,0.3840,0.724,1.86,33370803.0
15,25.5322,3.480937,17.170000,35.759998,34.809,19.0,6.929,47.070000,16.104000,66.178001,...,3.609126,53.2,3.077054,75.197,93.400003,79.930001,0.3920,0.712,2.01,34413603.0
16,26.4075,3.376091,17.320000,36.869999,33.981,19.9,6.742,45.810001,17.009001,65.439003,...,3.330914,51.3,2.778035,74.980,92.040001,78.760001,0.3755,0.660,2.14,35383028.0
17,25.5747,3.246668,18.030001,37.990002,33.211,82.3,6.575,43.990002,17.950001,64.680000,...,3.063593,49.5,2.547833,74.750,90.260000,77.190001,0.3590,0.720,2.32,36296111.0
18,22.4409,2.644597,18.459999,38.410000,32.487,6.4,6.423,43.130001,18.253000,64.563004,...,3.063593,47.9,2.384309,74.505,89.920004,76.949996,0.3830,0.720,1.90,37171922.0

0      4141.523943
1      4729.042179
2      5388.482107
3      6220.574147
4      7104.711445
5      9412.161765
6     10236.901594
7     11595.133469
8     14698.889678
9     17350.694945
10    19136.499341
11    19621.802455
12    19550.702567
13    18713.048410
14    18019.558182
15    18896.352021
16    18418.848300
17    18904.490263
18    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     -0.866169
% Soldiers                             NaN
Employment in industry            0.882456
Employment in services            0.884211
Birth Rate                       -0.884211
Cost business start-up           -0.635423
Death Rate                       -0.884211
Employment in agriculture        -0.882456
% Female Employment               0.619298
% Male Employment                -0.479158
Life Expectancy                   0.884211
Maternal Death Risk              -0.881088
Infant Mortality                 -0.884211
% Population Growth                    NaN
% Rural Population               -0.884211
% Vulnerable female employment   -0.882456
% Vulnerable male employment     -0.882456
Civil Liberties                        NaN
Freedom of Expression             0.796308
% Healthcare Investment                NaN
Population                        0.884211
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.480000,24.680000,48.021,72.0,11.718,65.839996,12.746000,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.4000,0.625,1.21,20779957.0
1,54.0630,5.020511,8.980000,24.719999,47.505,72.0,11.387,66.290001,12.868000,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.4000,0.625,1.21,21606992.0
2,45.1344,2.153062,9.990000,25.590000,46.901,72.0,11.048,64.419998,12.944000,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.4000,0.625,1.21,22600774.0
3,41.9034,2.208290,10.350000,25.950001,46.231,72.0,10.704,63.700001,13.122000,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.4030,0.687,5.46,23680871.0
4,35.6128,0.435599,10.610000,26.120001,45.507,72.0,10.356,63.270000,13.301000,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.4030,0.677,3.60,24726689.0
5,35.1476,0.416444,11.330000,26.530001,44.723,75.2,10.003,62.150002,13.407000,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.4030,0.677,3.37,25654274.0
6,34.3934,0.767568,11.790000,26.930000,43.870,67.4,9.645,61.279999,13.263000,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.3970,0.707,2.72,26433058.0
7,35.2660,0.753283,12.200000,27.660000,42.944,84.6,9.287,60.139999,13.073000,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.3970,0.708,2.61,27100542.0
8,30.9046,1.364728,12.480000,28.230000,41.949,59.5,8.932,59.290001,12.989000,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.4070,0.735,3.00,27722281.0
9,32.7856,3.638823,13.630000,29.480000,40.903,30.2,8.584,56.889999,12.899000,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.4040,0.740,2.51,28394806.0
10,30.9138,4.252621,14.660000,30.770000,39.829,26.7,8.250,54.580002,12.922000,68.570999,...,6.039311,64.2,2.746615,76.263,97.409999,86.160000,0.4040,0.745,2.26,29185511.0
11,29.8295,4.524341,14.750000,31.690001,38.750,25.8,7.936,53.560001,13.269000,68.638000,...,5.520806,61.8,3.143106,76.052,96.930001,85.229998,0.4060,0.745,2.19,30117411.0
12,28.5562,4.285291,15.770000,32.830002,37.690,22.5,7.645,51.400002,13.584000,68.222000,...,5.023027,59.5,3.407600,75.840,96.269998,83.609999,0.4050,0.747,1.37,31161378.0
13,27.8781,3.979973,16.330000,33.849998,36.670,14.4,7.380,49.820000,14.401000,67.612000,...,4.538151,57.3,3.494592,75.627,95.439997,82.219997,0.3780,0.743,1.78,32269592.0
14,27.4791,3.532474,16.770000,34.820000,35.706,15.1,7.141,48.410000,15.237000,66.913002,...,4.216704,55.2,3.355602,75.413,94.499998,81.019998,0.3840,0.724,1.86,33370803.0
15,25.5322,3.480937,17.170000,35.759998,34.809,19.0,6.929,47.070000,16.104000,66.178001,...,3.609126,53.2,3.077054,75.197,93.400003,79.930001,0.3920,0.712,2.01,34413603.0
16,26.4075,3.376091,17.320000,36.869999,33.981,19.9,6.742,45.810001,17.009001,65.439003,...,3.330914,51.3,2.778035,74.980,92.040001,78.760001,0.3755,0.660,2.14,35383028.0
17,25.5747,3.246668,18.030001,37.990002,33.211,82.3,6.575,43.990002,17.950001,64.680000,...,3.063593,49.5,2.547833,74.750,90.260000,77.190001,0.3590,0.720,2.32,36296111.0

0      4729.042179
1      5388.482107
2      6220.574147
3      7104.711445
4      9412.161765
5     10236.901594
6     11595.133469
7     14698.889678
8     17350.694945
9     19136.499341
10    19621.802455
11    19550.702567
12    18713.048410
13    18019.558182
14    18896.352021
15    18418.848300
16    18904.490263
17    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     -0.807434
% Soldiers                             NaN
Employment in industry            0.861713
Employment in services            0.863777
Birth Rate                       -0.863777
Cost business start-up                 NaN
Death Rate                       -0.863777
Employment in agriculture        -0.861713
% Female Employment               0.473684
% Male Employment                      NaN
Life Expectancy                   0.863777
Maternal Death Risk              -0.863777
Infant Mortality                 -0.863777
% Population Growth              -0.545924
% Rural Population               -0.863777
% Vulnerable female employment   -0.861713
% Vulnerable male employment     -0.861713
Civil Liberties                        NaN
Freedom of Expression             0.748451
% Healthcare Investment                NaN
Population                        0.863777
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746000,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.4000,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868000,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.4000,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944000,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.4000,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122000,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.4030,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301000,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.4030,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407000,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.4030,0.677,3.37,25654274.0
6,34.3934,0.767568,11.79,26.930000,43.870,67.4,9.645,61.279999,13.263000,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.3970,0.707,2.72,26433058.0
7,35.2660,0.753283,12.20,27.660000,42.944,84.6,9.287,60.139999,13.073000,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.3970,0.708,2.61,27100542.0
8,30.9046,1.364728,12.48,28.230000,41.949,59.5,8.932,59.290001,12.989000,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.4070,0.735,3.00,27722281.0
9,32.7856,3.638823,13.63,29.480000,40.903,30.2,8.584,56.889999,12.899000,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.4040,0.740,2.51,28394806.0
10,30.9138,4.252621,14.66,30.770000,39.829,26.7,8.250,54.580002,12.922000,68.570999,...,6.039311,64.2,2.746615,76.263,97.409999,86.160000,0.4040,0.745,2.26,29185511.0
11,29.8295,4.524341,14.75,31.690001,38.750,25.8,7.936,53.560001,13.269000,68.638000,...,5.520806,61.8,3.143106,76.052,96.930001,85.229998,0.4060,0.745,2.19,30117411.0
12,28.5562,4.285291,15.77,32.830002,37.690,22.5,7.645,51.400002,13.584000,68.222000,...,5.023027,59.5,3.407600,75.840,96.269998,83.609999,0.4050,0.747,1.37,31161378.0
13,27.8781,3.979973,16.33,33.849998,36.670,14.4,7.380,49.820000,14.401000,67.612000,...,4.538151,57.3,3.494592,75.627,95.439997,82.219997,0.3780,0.743,1.78,32269592.0
14,27.4791,3.532474,16.77,34.820000,35.706,15.1,7.141,48.410000,15.237000,66.913002,...,4.216704,55.2,3.355602,75.413,94.499998,81.019998,0.3840,0.724,1.86,33370803.0
15,25.5322,3.480937,17.17,35.759998,34.809,19.0,6.929,47.070000,16.104000,66.178001,...,3.609126,53.2,3.077054,75.197,93.400003,79.930001,0.3920,0.712,2.01,34413603.0
16,26.4075,3.376091,17.32,36.869999,33.981,19.9,6.742,45.810001,17.009001,65.439003,...,3.330914,51.3,2.778035,74.980,92.040001,78.760001,0.3755,0.660,2.14,35383028.0

0      5388.482107
1      6220.574147
2      7104.711445
3      9412.161765
4     10236.901594
5     11595.133469
6     14698.889678
7     17350.694945
8     19136.499341
9     19621.802455
10    19550.702567
11    18713.048410
12    18019.558182
13    18896.352021
14    18418.848300
15    18904.490263
16    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     -0.812998
% Soldiers                             NaN
Employment in industry            0.835784
Employment in services            0.838235
Birth Rate                       -0.838235
Cost business start-up           -0.672508
Death Rate                       -0.838235
Employment in agriculture        -0.835784
% Female Employment                    NaN
% Male Employment                      NaN
Life Expectancy                   0.838235
Maternal Death Risk              -0.838235
Infant Mortality                 -0.838235
% Population Growth              -0.647059
% Rural Population               -0.838235
% Vulnerable female employment   -0.835784
% Vulnerable male employment     -0.835784
Civil Liberties                        NaN
Freedom of Expression             0.638381
% Healthcare Investment                NaN
Population                        0.838235
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.403,0.677,3.37,25654274.0
6,34.3934,0.767568,11.79,26.930000,43.870,67.4,9.645,61.279999,13.263,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.397,0.707,2.72,26433058.0
7,35.2660,0.753283,12.20,27.660000,42.944,84.6,9.287,60.139999,13.073,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.397,0.708,2.61,27100542.0
8,30.9046,1.364728,12.48,28.230000,41.949,59.5,8.932,59.290001,12.989,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.407,0.735,3.00,27722281.0
9,32.7856,3.638823,13.63,29.480000,40.903,30.2,8.584,56.889999,12.899,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.404,0.740,2.51,28394806.0
10,30.9138,4.252621,14.66,30.770000,39.829,26.7,8.250,54.580002,12.922,68.570999,...,6.039311,64.2,2.746615,76.263,97.409999,86.160000,0.404,0.745,2.26,29185511.0
11,29.8295,4.524341,14.75,31.690001,38.750,25.8,7.936,53.560001,13.269,68.638000,...,5.520806,61.8,3.143106,76.052,96.930001,85.229998,0.406,0.745,2.19,30117411.0
12,28.5562,4.285291,15.77,32.830002,37.690,22.5,7.645,51.400002,13.584,68.222000,...,5.023027,59.5,3.407600,75.840,96.269998,83.609999,0.405,0.747,1.37,31161378.0
13,27.8781,3.979973,16.33,33.849998,36.670,14.4,7.380,49.820000,14.401,67.612000,...,4.538151,57.3,3.494592,75.627,95.439997,82.219997,0.378,0.743,1.78,32269592.0
14,27.4791,3.532474,16.77,34.820000,35.706,15.1,7.141,48.410000,15.237,66.913002,...,4.216704,55.2,3.355602,75.413,94.499998,81.019998,0.384,0.724,1.86,33370803.0
15,25.5322,3.480937,17.17,35.759998,34.809,19.0,6.929,47.070000,16.104,66.178001,...,3.609126,53.2,3.077054,75.197,93.400003,79.930001,0.392,0.712,2.01,34413603.0

0      6220.574147
1      7104.711445
2      9412.161765
3     10236.901594
4     11595.133469
5     14698.889678
6     17350.694945
7     19136.499341
8     19621.802455
9     19550.702567
10    18713.048410
11    18019.558182
12    18896.352021
13    18418.848300
14    18904.490263
15    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     -0.784401
% Soldiers                             NaN
Employment in industry            0.802941
Employment in services            0.805882
Birth Rate                       -0.805882
Cost business start-up           -0.513490
Death Rate                       -0.805882
Employment in agriculture        -0.802941
% Female Employment                    NaN
% Male Employment                      NaN
Life Expectancy                   0.805882
Maternal Death Risk              -0.805882
Infant Mortality                 -0.805882
% Population Growth              -0.638235
% Rural Population               -0.805882
% Vulnerable female employment   -0.802941
% Vulnerable male employment     -0.802941
Civil Liberties                        NaN
Freedom of Expression             0.689815
% Healthcare Investment                NaN
Population                        0.805882
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.403,0.677,3.37,25654274.0
6,34.3934,0.767568,11.79,26.930000,43.870,67.4,9.645,61.279999,13.263,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.397,0.707,2.72,26433058.0
7,35.2660,0.753283,12.20,27.660000,42.944,84.6,9.287,60.139999,13.073,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.397,0.708,2.61,27100542.0
8,30.9046,1.364728,12.48,28.230000,41.949,59.5,8.932,59.290001,12.989,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.407,0.735,3.00,27722281.0
9,32.7856,3.638823,13.63,29.480000,40.903,30.2,8.584,56.889999,12.899,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.404,0.740,2.51,28394806.0
10,30.9138,4.252621,14.66,30.770000,39.829,26.7,8.250,54.580002,12.922,68.570999,...,6.039311,64.2,2.746615,76.263,97.409999,86.160000,0.404,0.745,2.26,29185511.0
11,29.8295,4.524341,14.75,31.690001,38.750,25.8,7.936,53.560001,13.269,68.638000,...,5.520806,61.8,3.143106,76.052,96.930001,85.229998,0.406,0.745,2.19,30117411.0
12,28.5562,4.285291,15.77,32.830002,37.690,22.5,7.645,51.400002,13.584,68.222000,...,5.023027,59.5,3.407600,75.840,96.269998,83.609999,0.405,0.747,1.37,31161378.0
13,27.8781,3.979973,16.33,33.849998,36.670,14.4,7.380,49.820000,14.401,67.612000,...,4.538151,57.3,3.494592,75.627,95.439997,82.219997,0.378,0.743,1.78,32269592.0
14,27.4791,3.532474,16.77,34.820000,35.706,15.1,7.141,48.410000,15.237,66.913002,...,4.216704,55.2,3.355602,75.413,94.499998,81.019998,0.384,0.724,1.86,33370803.0

0      7104.711445
1      9412.161765
2     10236.901594
3     11595.133469
4     14698.889678
5     17350.694945
6     19136.499341
7     19621.802455
8     19550.702567
9     18713.048410
10    18019.558182
11    18896.352021
12    18418.848300
13    18904.490263
14    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     -0.763182
% Soldiers                             NaN
Employment in industry            0.760714
Employment in services            0.764286
Birth Rate                       -0.764286
Cost business start-up                 NaN
Death Rate                       -0.764286
Employment in agriculture        -0.760714
% Female Employment                    NaN
% Male Employment                      NaN
Life Expectancy                   0.764286
Maternal Death Risk              -0.764286
Infant Mortality                 -0.764286
% Population Growth              -0.546429
% Rural Population               -0.764286
% Vulnerable female employment   -0.760714
% Vulnerable male employment     -0.760714
Civil Liberties                        NaN
Freedom of Expression             0.599650
% Healthcare Investment                NaN
Population                        0.764286
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.403,0.677,3.37,25654274.0
6,34.3934,0.767568,11.79,26.930000,43.870,67.4,9.645,61.279999,13.263,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.397,0.707,2.72,26433058.0
7,35.2660,0.753283,12.20,27.660000,42.944,84.6,9.287,60.139999,13.073,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.397,0.708,2.61,27100542.0
8,30.9046,1.364728,12.48,28.230000,41.949,59.5,8.932,59.290001,12.989,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.407,0.735,3.00,27722281.0
9,32.7856,3.638823,13.63,29.480000,40.903,30.2,8.584,56.889999,12.899,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.404,0.740,2.51,28394806.0
10,30.9138,4.252621,14.66,30.770000,39.829,26.7,8.250,54.580002,12.922,68.570999,...,6.039311,64.2,2.746615,76.263,97.409999,86.160000,0.404,0.745,2.26,29185511.0
11,29.8295,4.524341,14.75,31.690001,38.750,25.8,7.936,53.560001,13.269,68.638000,...,5.520806,61.8,3.143106,76.052,96.930001,85.229998,0.406,0.745,2.19,30117411.0
12,28.5562,4.285291,15.77,32.830002,37.690,22.5,7.645,51.400002,13.584,68.222000,...,5.023027,59.5,3.407600,75.840,96.269998,83.609999,0.405,0.747,1.37,31161378.0
13,27.8781,3.979973,16.33,33.849998,36.670,14.4,7.380,49.820000,14.401,67.612000,...,4.538151,57.3,3.494592,75.627,95.439997,82.219997,0.378,0.743,1.78,32269592.0

0      9412.161765
1     10236.901594
2     11595.133469
3     14698.889678
4     17350.694945
5     19136.499341
6     19621.802455
7     19550.702567
8     18713.048410
9     18019.558182
10    18896.352021
11    18418.848300
12    18904.490263
13    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     -0.712872
% Soldiers                             NaN
Employment in industry            0.705495
Employment in services            0.709890
Birth Rate                       -0.709890
Cost business start-up                 NaN
Death Rate                       -0.709890
Employment in agriculture        -0.705495
% Female Employment               0.661538
% Male Employment                -0.565457
Life Expectancy                   0.709890
Maternal Death Risk              -0.709890
Infant Mortality                 -0.709890
% Population Growth                    NaN
% Rural Population               -0.709890
% Vulnerable female employment   -0.705495
% Vulnerable male employment     -0.705495
Civil Liberties                        NaN
Freedom of Expression             0.590721
% Healthcare Investment                NaN
Population                        0.709890
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.403,0.677,3.37,25654274.0
6,34.3934,0.767568,11.79,26.930000,43.870,67.4,9.645,61.279999,13.263,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.397,0.707,2.72,26433058.0
7,35.2660,0.753283,12.20,27.660000,42.944,84.6,9.287,60.139999,13.073,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.397,0.708,2.61,27100542.0
8,30.9046,1.364728,12.48,28.230000,41.949,59.5,8.932,59.290001,12.989,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.407,0.735,3.00,27722281.0
9,32.7856,3.638823,13.63,29.480000,40.903,30.2,8.584,56.889999,12.899,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.404,0.740,2.51,28394806.0
10,30.9138,4.252621,14.66,30.770000,39.829,26.7,8.250,54.580002,12.922,68.570999,...,6.039311,64.2,2.746615,76.263,97.409999,86.160000,0.404,0.745,2.26,29185511.0
11,29.8295,4.524341,14.75,31.690001,38.750,25.8,7.936,53.560001,13.269,68.638000,...,5.520806,61.8,3.143106,76.052,96.930001,85.229998,0.406,0.745,2.19,30117411.0
12,28.5562,4.285291,15.77,32.830002,37.690,22.5,7.645,51.400002,13.584,68.222000,...,5.023027,59.5,3.407600,75.840,96.269998,83.609999,0.405,0.747,1.37,31161378.0

0     10236.901594
1     11595.133469
2     14698.889678
3     17350.694945
4     19136.499341
5     19621.802455
6     19550.702567
7     18713.048410
8     18019.558182
9     18896.352021
10    18418.848300
11    18904.490263
12    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     -0.662999
% Soldiers                             NaN
Employment in industry            0.631868
Employment in services            0.637363
Birth Rate                       -0.637363
Cost business start-up                 NaN
Death Rate                       -0.637363
Employment in agriculture        -0.631868
% Female Employment               0.846154
% Male Employment                -0.552958
Life Expectancy                   0.637363
Maternal Death Risk              -0.637363
Infant Mortality                 -0.637363
% Population Growth                    NaN
% Rural Population               -0.637363
% Vulnerable female employment   -0.631868
% Vulnerable male employment     -0.631868
Civil Liberties                        NaN
Freedom of Expression                  NaN
% Healthcare Investment                NaN
Population                        0.637363
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.403,0.677,3.37,25654274.0
6,34.3934,0.767568,11.79,26.930000,43.870,67.4,9.645,61.279999,13.263,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.397,0.707,2.72,26433058.0
7,35.2660,0.753283,12.20,27.660000,42.944,84.6,9.287,60.139999,13.073,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.397,0.708,2.61,27100542.0
8,30.9046,1.364728,12.48,28.230000,41.949,59.5,8.932,59.290001,12.989,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.407,0.735,3.00,27722281.0
9,32.7856,3.638823,13.63,29.480000,40.903,30.2,8.584,56.889999,12.899,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.404,0.740,2.51,28394806.0
10,30.9138,4.252621,14.66,30.770000,39.829,26.7,8.250,54.580002,12.922,68.570999,...,6.039311,64.2,2.746615,76.263,97.409999,86.160000,0.404,0.745,2.26,29185511.0
11,29.8295,4.524341,14.75,31.690001,38.750,25.8,7.936,53.560001,13.269,68.638000,...,5.520806,61.8,3.143106,76.052,96.930001,85.229998,0.406,0.745,2.19,30117411.0

0     11595.133469
1     14698.889678
2     17350.694945
3     19136.499341
4     19621.802455
5     19550.702567
6     18713.048410
7     18019.558182
8     18896.352021
9     18418.848300
10    18904.490263
11    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     -0.598950
% Soldiers                             NaN
Employment in industry                 NaN
Employment in services                 NaN
Birth Rate                             NaN
Cost business start-up                 NaN
Death Rate                             NaN
Employment in agriculture              NaN
% Female Employment               0.818182
% Male Employment                      NaN
Life Expectancy                        NaN
Maternal Death Risk                    NaN
Infant Mortality                       NaN
% Population Growth                    NaN
% Rural Population                     NaN
% Vulnerable female employment         NaN
% Vulnerable male employment           NaN
Civil Liberties                   0.580163
Freedom of Expression                  NaN
% Healthcare Investment           0.640861
Population                             NaN
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.403,0.677,3.37,25654274.0
6,34.3934,0.767568,11.79,26.930000,43.870,67.4,9.645,61.279999,13.263,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.397,0.707,2.72,26433058.0
7,35.2660,0.753283,12.20,27.660000,42.944,84.6,9.287,60.139999,13.073,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.397,0.708,2.61,27100542.0
8,30.9046,1.364728,12.48,28.230000,41.949,59.5,8.932,59.290001,12.989,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.407,0.735,3.00,27722281.0
9,32.7856,3.638823,13.63,29.480000,40.903,30.2,8.584,56.889999,12.899,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.404,0.740,2.51,28394806.0
10,30.9138,4.252621,14.66,30.770000,39.829,26.7,8.250,54.580002,12.922,68.570999,...,6.039311,64.2,2.746615,76.263,97.409999,86.160000,0.404,0.745,2.26,29185511.0

0     14698.889678
1     17350.694945
2     19136.499341
3     19621.802455
4     19550.702567
5     18713.048410
6     18019.558182
7     18896.352021
8     18418.848300
9     18904.490263
10    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     NaN
% Soldiers                       NaN
Employment in industry           NaN
Employment in services           NaN
Birth Rate                       NaN
Cost business start-up           NaN
Death Rate                       NaN
Employment in agriculture        NaN
% Female Employment              NaN
% Male Employment                NaN
Life Expectancy                  NaN
Maternal Death Risk              NaN
Infant Mortality                 NaN
% Population Growth              NaN
% Rural Population               NaN
% Vulnerable female employment   NaN
% Vulnerable male employment     NaN
Civil Liberties                  NaN
Freedom of Expression            NaN
% Healthcare Investment          NaN
Population                       NaN
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.403,0.677,3.37,25654274.0
6,34.3934,0.767568,11.79,26.930000,43.870,67.4,9.645,61.279999,13.263,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.397,0.707,2.72,26433058.0
7,35.2660,0.753283,12.20,27.660000,42.944,84.6,9.287,60.139999,13.073,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.397,0.708,2.61,27100542.0
8,30.9046,1.364728,12.48,28.230000,41.949,59.5,8.932,59.290001,12.989,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.407,0.735,3.00,27722281.0
9,32.7856,3.638823,13.63,29.480000,40.903,30.2,8.584,56.889999,12.899,68.572998,...,6.443581,66.7,2.396978,76.472,97.870000,87.760000,0.404,0.740,2.51,28394806.0

0    17350.694945
1    19136.499341
2    19621.802455
3    19550.702567
4    18713.048410
5    18019.558182
6    18896.352021
7    18418.848300
8    18904.490263
9    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     NaN
% Soldiers                       NaN
Employment in industry           NaN
Employment in services           NaN
Birth Rate                       NaN
Cost business start-up           NaN
Death Rate                       NaN
Employment in agriculture        NaN
% Female Employment              NaN
% Male Employment                NaN
Life Expectancy                  NaN
Maternal Death Risk              NaN
Infant Mortality                 NaN
% Population Growth              NaN
% Rural Population               NaN
% Vulnerable female employment   NaN
% Vulnerable male employment     NaN
Civil Liberties                  NaN
Freedom of Expression            NaN
% Healthcare Investment          NaN
Population                       NaN
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.403,0.677,3.37,25654274.0
6,34.3934,0.767568,11.79,26.930000,43.870,67.4,9.645,61.279999,13.263,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.397,0.707,2.72,26433058.0
7,35.2660,0.753283,12.20,27.660000,42.944,84.6,9.287,60.139999,13.073,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.397,0.708,2.61,27100542.0
8,30.9046,1.364728,12.48,28.230000,41.949,59.5,8.932,59.290001,12.989,68.646004,...,6.827597,69.2,2.268273,76.680,98.240000,89.259998,0.407,0.735,3.00,27722281.0

0    19136.499341
1    19621.802455
2    19550.702567
3    18713.048410
4    18019.558182
5    18896.352021
6    18418.848300
7    18904.490263
8    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                       NaN
% Soldiers                         NaN
Employment in industry             NaN
Employment in services             NaN
Birth Rate                         NaN
Cost business start-up             NaN
Death Rate                         NaN
Employment in agriculture          NaN
% Female Employment              -0.75
% Male Employment                  NaN
Life Expectancy                    NaN
Maternal Death Risk                NaN
Infant Mortality                   NaN
% Population Growth                NaN
% Rural Population                 NaN
% Vulnerable female employment     NaN
% Vulnerable male employment       NaN
Civil Liberties                    NaN
Freedom of Expression              NaN
% Healthcare Investment            NaN
Population                         NaN
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.403,0.677,3.37,25654274.0
6,34.3934,0.767568,11.79,26.930000,43.870,67.4,9.645,61.279999,13.263,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.397,0.707,2.72,26433058.0
7,35.2660,0.753283,12.20,27.660000,42.944,84.6,9.287,60.139999,13.073,68.361000,...,7.268973,71.9,2.493830,76.887,98.309999,89.579998,0.397,0.708,2.61,27100542.0

0    19621.802455
1    19550.702567
2    18713.048410
3    18019.558182
4    18896.352021
5    18418.848300
6    18904.490263
7    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                           NaN
% Soldiers                             NaN
Employment in industry                 NaN
Employment in services                 NaN
Birth Rate                             NaN
Cost business start-up                 NaN
Death Rate                             NaN
Employment in agriculture              NaN
% Female Employment                    NaN
% Male Employment                      NaN
Life Expectancy                        NaN
Maternal Death Risk                    NaN
Infant Mortality                       NaN
% Population Growth              -0.809524
% Rural Population                     NaN
% Vulnerable female employment         NaN
% Vulnerable male employment           NaN
Civil Liberties                  -0.743330
Freedom of Expression                  NaN
% Healthcare Investment                NaN
Population                             NaN
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.403,0.677,3.37,25654274.0
6,34.3934,0.767568,11.79,26.930000,43.870,67.4,9.645,61.279999,13.263,68.384003,...,7.581440,74.6,2.990524,77.093,98.410000,90.249998,0.397,0.707,2.72,26433058.0

0    19550.702567
1    18713.048410
2    18019.558182
3    18896.352021
4    18418.848300
5    18904.490263
6    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     NaN
% Soldiers                       NaN
Employment in industry           NaN
Employment in services           NaN
Birth Rate                       NaN
Cost business start-up           NaN
Death Rate                       NaN
Employment in agriculture        NaN
% Female Employment              NaN
% Male Employment                NaN
Life Expectancy                  NaN
Maternal Death Risk              NaN
Infant Mortality                 NaN
% Population Growth              NaN
% Rural Population               NaN
% Vulnerable female employment   NaN
% Vulnerable male employment     NaN
Civil Liberties                  NaN
Freedom of Expression            NaN
% Healthcare Investment          NaN
Population                       NaN
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0
5,35.1476,0.416444,11.33,26.530001,44.723,75.2,10.003,62.150002,13.407,68.205002,...,7.810411,77.3,3.682700,77.297,98.480003,90.509996,0.403,0.677,3.37,25654274.0

0    18713.048410
1    18019.558182
2    18896.352021
3    18418.848300
4    18904.490263
5    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                           NaN
% Soldiers                       -0.828571
Employment in industry            0.828571
Employment in services                 NaN
Birth Rate                             NaN
Cost business start-up                 NaN
Death Rate                             NaN
Employment in agriculture        -0.828571
% Female Employment                    NaN
% Male Employment                      NaN
Life Expectancy                        NaN
Maternal Death Risk                    NaN
Infant Mortality                       NaN
% Population Growth                    NaN
% Rural Population                     NaN
% Vulnerable female employment   -0.828571
% Vulnerable male employment     -0.828571
Civil Liberties                        NaN
Freedom of Expression                  NaN
% Healthcare Investment                NaN
Population                             NaN
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0
4,35.6128,0.435599,10.61,26.120001,45.507,72.0,10.356,63.270000,13.301,68.384003,...,8.315494,80.0,4.321560,77.500,98.549998,90.960003,0.403,0.677,3.60,24726689.0

0    18019.558182
1    18896.352021
2    18418.848300
3    18904.490263
4    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                      NaN
% Soldiers                        NaN
Employment in industry            NaN
Employment in services            0.9
Birth Rate                       -0.9
Cost business start-up            NaN
Death Rate                       -0.9
Employment in agriculture         NaN
% Female Employment               0.9
% Male Employment                 NaN
Life Expectancy                   0.9
Maternal Death Risk              -0.9
Infant Mortality                 -0.9
% Population Growth               NaN
% Rural Population               -0.9
% Vulnerable female employment    NaN
% Vulnerable male employment      NaN
Civil Liberties                   NaN
Freedom of Expression             NaN
% Healthcare Investment           NaN
Population                        0.9
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.400,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.400,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.400,0.625,1.21,22600774.0
3,41.9034,2.208290,10.35,25.950001,46.231,72.0,10.704,63.700001,13.122,68.320999,...,8.978366,82.7,4.668344,77.647,98.599998,91.039999,0.403,0.687,5.46,23680871.0

0    18896.352021
1    18418.848300
2    18904.490263
3    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     NaN
% Soldiers                       NaN
Employment in industry           NaN
Employment in services           NaN
Birth Rate                       NaN
Cost business start-up           NaN
Death Rate                       NaN
Employment in agriculture        NaN
% Female Employment              NaN
% Male Employment                NaN
Life Expectancy                  NaN
Maternal Death Risk              NaN
Infant Mortality                 NaN
% Population Growth              NaN
% Rural Population               NaN
% Vulnerable female employment   NaN
% Vulnerable male employment     NaN
Civil Liberties                  NaN
Freedom of Expression            NaN
% Healthcare Investment          NaN
Population                       NaN
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.0630,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.4,0.625,1.21,20779957.0
1,54.0630,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.4,0.625,1.21,21606992.0
2,45.1344,2.153062,9.99,25.590000,46.901,72.0,11.048,64.419998,12.944,68.318001,...,9.736509,85.3,4.496719,77.739,98.669999,91.460001,0.4,0.625,1.21,22600774.0

0    18418.848300
1    18904.490263
2    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     NaN
% Soldiers                       NaN
Employment in industry           NaN
Employment in services           NaN
Birth Rate                       NaN
Cost business start-up           NaN
Death Rate                       NaN
Employment in agriculture        NaN
% Female Employment              NaN
% Male Employment                NaN
Life Expectancy                  NaN
Maternal Death Risk              NaN
Infant Mortality                 NaN
% Population Growth              NaN
% Rural Population               NaN
% Vulnerable female employment   NaN
% Vulnerable male employment     NaN
Civil Liberties                  NaN
Freedom of Expression            NaN
% Healthcare Investment          NaN
Population                       NaN
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
0,54.063,7.887961,9.48,24.680000,48.021,72.0,11.718,65.839996,12.746,68.787003,...,11.215638,90.5,2.975057,77.922,98.720002,91.879999,0.4,0.625,1.21,20779957.0
1,54.063,5.020511,8.98,24.719999,47.505,72.0,11.387,66.290001,12.868,68.737000,...,10.604968,87.9,3.902805,77.831,98.760003,92.399998,0.4,0.625,1.21,21606992.0

0    18904.490263
1    19793.262413
Name: GDP, dtype: float64

AgriShareGDP                     NaN
% Soldiers                       NaN
Employment in industry           NaN
Employment in services           NaN
Birth Rate                       NaN
Cost business start-up           NaN
Death Rate                       NaN
Employment in agriculture        NaN
% Female Employment              NaN
% Male Employment                NaN
Life Expectancy                  NaN
Maternal Death Risk              NaN
Infant Mortality                 NaN
% Population Growth              NaN
% Rural Population               NaN
% Vulnerable female employment   NaN
% Vulnerable male employment     NaN
Civil Liberties                  NaN
Freedom of Expression            NaN
% Healthcare Investment          NaN
Population                       NaN
dtype: float64

KeyError: -0.8792779862128545

In [ ]:
df1 = pd.DataFrame({1: [9, 3, 8], 2: [1, 5, 5], 3: [2, 2, 1]})
df1

df2 = pd.DataFrame({'t': ['a', 'a', 'b'], 1: [100, 388, 300], 2: [400, 124, 600], 3: [700, 977, 900]})
df2

df1.corrwith(df2)

display(df2)
dfs = df2.copy().loc[:, 1]
display(dfs)

df1.corrwith(dfs)
df2.groupby(['t']).sum()

   t    1    2    3
0  a  100  400  700
1  a  388  124  977
2  b  300  600  900

0    100
1    388
2    300
Name: 1, dtype: int64

     1    2     3
t
a  488  524  1677
b  300  600   900