# GROUPING

After preparing the data for a more exhaustive analysis, the last step is to separate the different countries into group with common characteristics. This is necessary as an aggregate study of all countries would mean erasing the differences between them and missing important conclusions, making our study too shallow.

In [3]:
import os
import pandas as pd
column_country = 'Country'
column_region = 'Region'

read_path = os.getcwd()
region_url = read_path + '/Databases/AuxiliarData/world-regions.csv'
df_url = read_path + '/Output/SilverDataframe.csv'

write_path = os.getcwd() + '/Output'
country_folder = write_path + '/Country'
region_folder = write_path + '/Region'

In [4]:
region_df = pd.read_csv(region_url)
df = pd.read_csv(df_url)

print(region_df)
region_df.rename(columns = {'World Region according to the World Bank': column_region, 'Entity': column_country}, inplace = True)
region_df.drop(columns=['Code', 'Year'], inplace = True)
print(region_df)

print(df)
df = pd.merge(df, region_df)
print(df)

if not os.path.exists(write_path):
    os.makedirs(write_path)

df.to_csv(write_path + '/GoldDataframe.csv')

if not os.path.exists(country_folder):
    os.makedirs(country_folder)

if not os.path.exists(region_folder):
    os.makedirs(region_folder)

for country in set(df[column_country].to_list()):
    df.loc[df[column_country] == country].to_csv(country_folder + '/' + country + '.csv')

for region in set(df[column_region].to_list()):
    df.loc[df[column_region] == region].to_csv(region_folder + '/' + region + '.csv')

             Entity Code  Year World Region according to the World Bank
0       Afghanistan  AFG  2017                               South Asia
1           Albania  ALB  2017                  Europe and Central Asia
2           Algeria  DZA  2017             Middle East and North Africa
3    American Samoa  ASM  2017                    East Asia and Pacific
4           Andorra  AND  2017                  Europe and Central Asia
..              ...  ...   ...                                      ...
212       Venezuela  VEN  2017              Latin America and Caribbean
213         Vietnam  VNM  2017                    East Asia and Pacific
214           Yemen  YEM  2017             Middle East and North Africa
215          Zambia  ZMB  2017                       Sub-Saharan Africa
216        Zimbabwe  ZWE  2017                       Sub-Saharan Africa

[217 rows x 4 columns]
            Country                        Region
0       Afghanistan                    South Asia
1           Albania       Europe and Central Asia
2           Algeria  Middle East and North Africa
3    American Samoa         East Asia and Pacific
4           Andorra       Europe and Central Asia
..              ...                           ...
212       Venezuela   Latin America and Caribbean
213         Vietnam         East Asia and Pacific
214           Yemen  Middle East and North Africa
215          Zambia            Sub-Saharan Africa
216        Zimbabwe            Sub-Saharan Africa

[217 rows x 2 columns]
          Country  Year  AgriShareGDP  CreditToAgriFishForest  \
0     Afghanistan  2000      54.06300                     NaN
1     Afghanistan  2001      54.06300                     NaN
2     Afghanistan  2002      45.13440                     NaN
3     Afghanistan  2003      41.90340                     NaN
4     Afghanistan  2004      35.61280                     NaN
...           ...   ...           ...                     ...
3691     Zimbabwe  2016       7.87399                     NaN
3692     Zimbabwe  2017       8.34095                     NaN
3693     Zimbabwe  2018       8.30469                     NaN
3694     Zimbabwe  2019       8.17322                     NaN
3695     Zimbabwe  2020      10.93630                     NaN

      EmploymentRural           GDP  TotalAgri  % Soldiers  Birth Rate  \
0                 NaN   3342.034168        NaN    7.887961      48.021
1                 NaN   3598.470576        NaN    5.020511      47.505
2                 NaN   4141.523943        NaN    2.153062      46.901
3                 NaN   4729.042179        NaN    2.208290      46.231
4                 NaN   5388.482107        NaN    0.435599      45.507
...               ...           ...        ...         ...         ...
3691              NaN  20548.678073        NaN    0.759750      32.864
3692              NaN  22040.902301        NaN    0.750720      31.732
3693              NaN  24311.560545        NaN    0.738210      30.676
3694              NaN  21935.075306        NaN    0.738210      29.747
3695              NaN  21786.743637        NaN    0.738210      28.977

      Death Rate  ...  % Population Growth  % Rural Population  \
0         11.718  ...             2.975057              77.922
1         11.387  ...             3.902805              77.831
2         11.048  ...             4.496719              77.739
3         10.704  ...             4.668344              77.647
4         10.356  ...             4.321560              77.500
...          ...  ...                  ...                 ...
3691       8.286  ...             1.549294              67.704
3692       8.044  ...             1.459406              67.763
3693       7.883  ...             1.410382              67.791
3694       7.773  ...             1.421142              67.790
3695       7.692  ...             1.473871              67.758

      Civil Liberties  Freedom of Expression  % Healthcare Investment  \
0               0.400                  0.625                     1.21
1               0.400                  0.625                     1.21
2               0.400                  0.625                     1.21
3               0.403                  0.687                     5.46
4               0.403                  0.677                     3.60
...               ...                    ...                      ...
3691            0.430                  0.389                      NaN
3692            0.488                  0.431                      NaN
3693            0.447                  0.471                      NaN
3694            0.403                  0.434                      NaN
3695            0.467                  0.445                      NaN

      % Employment Industry  % Education Expenditure  % Men Employment  \
0                    11.014                      NaN               NaN
1                    12.037                      NaN               NaN
2                    10.048                      NaN               NaN
3                    10.227                      NaN               NaN
4                    11.414                      NaN               NaN
...                     ...                      ...               ...
3691                  7.425                      NaN               NaN
3692                  7.296                      NaN               NaN
3693                  7.296                      NaN               NaN
3694                  7.296                      NaN               NaN
3695                  7.296                      NaN               NaN

      % Women Employment  Population
0                    NaN  20779957.0
1                    NaN  21606992.0
2                    NaN  22600774.0
3                    NaN  23680871.0
4                    NaN  24726689.0
...                  ...         ...
3691                 NaN  14030338.0
3692                 NaN  14236599.0
3693                 NaN  14438812.0
3694                 NaN  14645473.0
3695                 NaN  14862927.0

[3696 rows x 24 columns]
          Country  Year  AgriShareGDP  CreditToAgriFishForest  \
0     Afghanistan  2000      54.06300                     NaN
1     Afghanistan  2001      54.06300                     NaN
2     Afghanistan  2002      45.13440                     NaN
3     Afghanistan  2003      41.90340                     NaN
4     Afghanistan  2004      35.61280                     NaN
...           ...   ...           ...                     ...
3691     Zimbabwe  2016       7.87399                     NaN
3692     Zimbabwe  2017       8.34095                     NaN
3693     Zimbabwe  2018       8.30469                     NaN
3694     Zimbabwe  2019       8.17322                     NaN
3695     Zimbabwe  2020      10.93630                     NaN

      EmploymentRural           GDP  TotalAgri  % Soldiers  Birth Rate  \
0                 NaN   3342.034168        NaN    7.887961      48.021
1                 NaN   3598.470576        NaN    5.020511      47.505
2                 NaN   4141.523943        NaN    2.153062      46.901
3                 NaN   4729.042179        NaN    2.208290      46.231
4                 NaN   5388.482107        NaN    0.435599      45.507
...               ...           ...        ...         ...         ...
3691              NaN  20548.678073        NaN    0.759750      32.864
3692              NaN  22040.902301        NaN    0.750720      31.732
3693              NaN  24311.560545        NaN    0.738210      30.676
3694              NaN  21935.075306        NaN    0.738210      29.747
3695              NaN  21786.743637        NaN    0.738210      28.977

      Death Rate  ...  % Rural Population  Civil Liberties  \
0         11.718  ...              77.922            0.400
1         11.387  ...              77.831            0.400
2         11.048  ...              77.739            0.400
3         10.704  ...              77.647            0.403
4         10.356  ...              77.500            0.403
...          ...  ...                 ...              ...
3691       8.286  ...              67.704            0.430
3692       8.044  ...              67.763            0.488
3693       7.883  ...              67.791            0.447
3694       7.773  ...              67.790            0.403
3695       7.692  ...              67.758            0.467

      Freedom of Expression  % Healthcare Investment  % Employment Industry  \
0                     0.625                     1.21                 11.014
1                     0.625                     1.21                 12.037
2                     0.625                     1.21                 10.048
3                     0.687                     5.46                 10.227
4                     0.677                     3.60                 11.414
...                     ...                      ...                    ...
3691                  0.389                      NaN                  7.425
3692                  0.431                      NaN                  7.296
3693                  0.471                      NaN                  7.296
3694                  0.434                      NaN                  7.296
3695                  0.445                      NaN                  7.296

      % Education Expenditure  % Men Employment  % Women Employment  \
0                         NaN               NaN                 NaN
1                         NaN               NaN                 NaN
2                         NaN               NaN                 NaN
3                         NaN               NaN                 NaN
4                         NaN               NaN                 NaN
...                       ...               ...                 ...
3691                      NaN               NaN                 NaN
3692                      NaN               NaN                 NaN
3693                      NaN               NaN                 NaN
3694                      NaN               NaN                 NaN
3695                      NaN               NaN                 NaN

      Population              Region
0     20779957.0          South Asia
1     21606992.0          South Asia
2     22600774.0          South Asia
3     23680871.0          South Asia
4     24726689.0          South Asia
...          ...                 ...
3691  14030338.0  Sub-Saharan Africa
3692  14236599.0  Sub-Saharan Africa
3693  14438812.0  Sub-Saharan Africa
3694  14645473.0  Sub-Saharan Africa
3695  14862927.0  Sub-Saharan Africa

[3696 rows x 25 columns]