In [1]:
import os
import numpy as np
import pandas as pd

read_path = os.getcwd() + '/Output/'

col_country = 'Country'
col_region = 'Region'
col_year = 'Year'
col_gdp = 'GDP'

In [2]:
df = pd.read_csv(read_path + 'GoldDataframe.csv', index_col = [col_country, col_region, col_year])
df

                                     AgriShareGDP  CreditToAgriFishForest  \
Country     Region             Year
Afghanistan South Asia         2000      54.06300                     NaN
                               2001      54.06300                     NaN
                               2002      45.13440                     NaN
                               2003      41.90340                     NaN
                               2004      35.61280                     NaN
...                                           ...                     ...
Zimbabwe    Sub-Saharan Africa 2016       7.87399                     NaN
                               2017       8.34095                     NaN
                               2018       8.30469                     NaN
                               2019       8.17322                     NaN
                               2020      10.93630                     NaN

                                     EmploymentRural           GDP  \
Country     Region             Year
Afghanistan South Asia         2000              NaN   3342.034168
                               2001              NaN   3598.470576
                               2002              NaN   4141.523943
                               2003              NaN   4729.042179
                               2004              NaN   5388.482107
...                                              ...           ...
Zimbabwe    Sub-Saharan Africa 2016              NaN  20548.678073
                               2017              NaN  22040.902301
                               2018              NaN  24311.560545
                               2019              NaN  21935.075306
                               2020              NaN  21786.743637

                                     % Soldiers  Employment in industry  \
Country     Region             Year
Afghanistan South Asia         2000    7.887961                    9.48
                               2001    5.020511                    8.98
                               2002    2.153062                    9.99
                               2003    2.208290                   10.35
                               2004    0.435599                   10.61
...                                         ...                     ...
Zimbabwe    Sub-Saharan Africa 2016    0.759750                    7.05
                               2017    0.750720                    6.90
                               2018    0.738210                    6.75
                               2019    0.738210                    6.57
                               2020    0.738210                    6.57

                                     Employment in services  Birth Rate  \
Country     Region             Year
Afghanistan South Asia         2000               24.680000      48.021
                               2001               24.719999      47.505
                               2002               25.590000      46.901
                               2003               25.950001      46.231
                               2004               26.120001      45.507
...                                                     ...         ...
Zimbabwe    Sub-Saharan Africa 2016               26.070000      32.864
                               2017               26.629999      31.732
                               2018               27.230000      30.676
                               2019               27.240000      29.747
                               2020               27.240000      28.977

                                     Cost business start-up  Death Rate  ...  \
Country     Region             Year                                      ...
Afghanistan South Asia         2000                    72.0      11.718  ...
                               2001                    72.0      11.387  ...
                               2002                    72.0      11.048  ...
                               2003                    72.0      10.704  ...
                               2004                    72.0      10.356  ...
...                                                     ...         ...  ...
Zimbabwe    Sub-Saharan Africa 2016                   121.5       8.286  ...
                               2017                   110.0       8.044  ...
                               2018                   110.7       7.883  ...
                               2019                    76.6       7.773  ...
                               2020                    76.6       7.692  ...

                                     Researchers in R&D  R&D expenditure %GDP  \
Country     Region             Year
Afghanistan South Asia         2000                 NaN                   NaN
                               2001                 NaN                   NaN
                               2002                 NaN                   NaN
                               2003                 NaN                   NaN
                               2004                 NaN                   NaN
...                                                 ...                   ...
Zimbabwe    Sub-Saharan Africa 2016                 NaN                   NaN
                               2017                 NaN                   NaN
                               2018                 NaN                   NaN
                               2019                 NaN                   NaN
                               2020                 NaN                   NaN

                                     % Rural Population  \
Country     Region             Year
Afghanistan South Asia         2000              77.922
                               2001              77.831
                               2002              77.739
                               2003              77.647
                               2004              77.500
...                                                 ...
Zimbabwe    Sub-Saharan Africa 2016              67.704
                               2017              67.763
                               2018              67.791
                               2019              67.790
                               2020              67.758

                                     Tertiary School Gender Parity  \
Country     Region             Year
Afghanistan South Asia         2000                            NaN
                               2001                            NaN
                               2002                            NaN
                               2003                            NaN
                               2004                            NaN
...                                                            ...
Zimbabwe    Sub-Saharan Africa 2016                            NaN
                               2017                            NaN
                               2018                            NaN
                               2019                            NaN
                               2020                            NaN

                                     % Vulnerable female employment  \
Country     Region             Year
Afghanistan South Asia         2000                       98.720002
                               2001                       98.760003
                               2002                       98.669999
                               2003                       98.599998
                               2004                       98.549998
...                                                             ...
Zimbabwe    Sub-Saharan Africa 2016                       75.970001
                               2017                       76.579998
                               2018                       77.170002
                               2019                       79.299999
                               2020                       79.299999

                                     % Vulnerable male employment  \
Country     Region             Year
Afghanistan South Asia         2000                     91.879999
                               2001                     92.399998
                               2002                     91.460001
                               2003                     91.039999
                               2004                     90.960003
...                                                           ...
Zimbabwe    Sub-Saharan Africa 2016                     56.789999
                               2017                     56.609999
                               2018                     56.380000
                               2019                     57.090001
                               2020                     57.090001

                                     Civil Liberties  Freedom of Expression  \
Country     Region             Year
Afghanistan South Asia         2000            0.400                  0.625
                               2001            0.400                  0.625
                               2002            0.400                  0.625
                               2003            0.403                  0.687
                               2004            0.403                  0.677
...                                              ...                    ...
Zimbabwe    Sub-Saharan Africa 2016            0.430                  0.389
                               2017            0.488                  0.431
                               2018            0.447                  0.471
                               2019            0.403                  0.434
                               2020            0.467                  0.445

                                     % Healthcare Investment  Population
Country     Region             Year
Afghanistan South Asia         2000                     1.21  20779957.0
                               2001                     1.21  21606992.0
                               2002                     1.21  22600774.0
                               2003                     5.46  23680871.0
                               2004                     3.60  24726689.0
...                                                      ...         ...
Zimbabwe    Sub-Saharan Africa 2016                      NaN  14030338.0
                               2017                      NaN  14236599.0
                               2018                      NaN  14438812.0
                               2019                      NaN  14645473.0
                               2020                      NaN  14862927.0

[3276 rows x 29 columns]

In [25]:
country_list = list(set(df.index.get_level_values(col_country)))
region_list = list(set(df.index.get_level_values(col_region)))

country_list.sort()
region_list.sort()

shift_list = range(0, 21)  # GENERALIZAR PARA CUALQUIER RANGO DE AÑOS

for country in country_list:
    corr_list = []
    
    #Get the DataFrame for a given country.
    country_df = df.loc[df.index.get_level_values(col_country) == country]
    min_year = country_df.index.get_level_values(col_year).min()
    max_year = country_df.index.get_level_values(col_year).max()

    gdp_series = country_df.loc[:, col_gdp]
    ind_df = country_df.drop(col_gdp, axis = 1).dropna(axis = 1)

    #corr_df = ind_df.corrwith(gdp_series, method = 'spearman')
    #display(corr_df)

    for shift in [12, 13, 14]:
        shifted_min = min_year + shift
        shifted_max = max_year - shift

        # Effect of indicators on the GDP.
        shifted_gdp = gdp_series.loc[gdp_series.index.get_level_values(col_year) >= shifted_min]
        shifted_ind = ind_df.loc[ind_df.index.get_level_values(col_year) < shifted_max]

        display(shifted_gdp)
        display(shifted_ind)

        country_corr = shifted_ind.corrwith(shifted_gdp, method = 'spearman')

        country_corr.name = shift
        #country_corr.rename
        #display(country_corr_df)
        #country_corr_df = country_corr_df.rename(columns = {col_gdp: country}).drop(index = [col_gdp])

        #country_corr_series = country_corr_df.loc[:, country]
        corr_list.append(country_corr)

    corr_df = pd.concat(corr_list, axis = 1).transpose().sort_index()
    corr_df.index = pd.MultiIndex.from_tuples((country, sh) for sh, _ in corr_df.iterrows())
    corr_df.index.names = [col_country, 'Shift']

    #print(corr_df.loc[:, 'Population'].max())

    #val = corr_df.apply.groupby(level = col_country)(lambda x: max(x.min(), x.max(), key=abs))
    val = corr_df.apply(lambda x: max(x.min(), x.max(), key=abs))

    
    #.apply(lambda x: max(x.min(), x.max(), key=abs))
    display(val)
    val.name = country

    max_row = pd.DataFrame(val)
    display(max_row.transpose())
    display(corr_df)

    max_dict = {}



    """ for ind in corr_df.columns:


        max = corr_df[ind].max()
        min = corr_df[ind].min()
        val = max if abs(max) > abs(min) else min
        index = corr_df.loc[corr_df[ind] == val].index.values
        print(index)
        shift = index[len(country):]
        
        max_dict[str(ind) + ' (+ ' + str(shift) + ')'] = val """

    max_corr = pd.DataFrame(max_dict)
    display(max_corr)

    break
        #Correlation matrix for that country, using Spearman.
        #country_corr_df = country_df.corr(method = 'spearman')
    """ except:
        print(country) """

Country      Region      Year
Afghanistan  South Asia  2012    19136.499341
                         2013    19621.802455
                         2014    19550.702567
                         2015    18713.048410
                         2016    18019.558182
                         2017    18896.352021
                         2018    18418.848300
                         2019    18904.490263
                         2020    19793.262413
Name: GDP, dtype: float64

                             AgriShareGDP  % Soldiers  Employment in industry  \
Country     Region     Year
Afghanistan South Asia 2000       54.0630    7.887961                    9.48
                       2001       54.0630    5.020511                    8.98
                       2002       45.1344    2.153062                    9.99
                       2003       41.9034    2.208290                   10.35
                       2004       35.6128    0.435599                   10.61
                       2005       35.1476    0.416444                   11.33
                       2006       34.3934    0.767568                   11.79
                       2007       35.2660    0.753283                   12.20

                             Employment in services  Birth Rate  \
Country     Region     Year
Afghanistan South Asia 2000               24.680000      48.021
                       2001               24.719999      47.505
                       2002               25.590000      46.901
                       2003               25.950001      46.231
                       2004               26.120001      45.507
                       2005               26.530001      44.723
                       2006               26.930000      43.870
                       2007               27.660000      42.944

                             Cost business start-up  Death Rate  \
Country     Region     Year
Afghanistan South Asia 2000                    72.0      11.718
                       2001                    72.0      11.387
                       2002                    72.0      11.048
                       2003                    72.0      10.704
                       2004                    72.0      10.356
                       2005                    75.2      10.003
                       2006                    67.4       9.645
                       2007                    84.6       9.287

                             Employment in agriculture  % Female Employment  \
Country     Region     Year
Afghanistan South Asia 2000                  65.839996               12.746
                       2001                  66.290001               12.868
                       2002                  64.419998               12.944
                       2003                  63.700001               13.122
                       2004                  63.270000               13.301
                       2005                  62.150002               13.407
                       2006                  61.279999               13.263
                       2007                  60.139999               13.073

                             % Male Employment  ...  Maternal Death Risk  \
Country     Region     Year                     ...
Afghanistan South Asia 2000          68.787003  ...            11.215638
                       2001          68.737000  ...            10.604968
                       2002          68.318001  ...             9.736509
                       2003          68.320999  ...             8.978366
                       2004          68.384003  ...             8.315494
                       2005          68.205002  ...             7.810411
                       2006          68.384003  ...             7.581440
                       2007          68.361000  ...             7.268973

                             Infant Mortality  % Population Growth  \
Country     Region     Year
Afghanistan South Asia 2000              90.5             2.975057
                       2001              87.9             3.902805
                       2002              85.3             4.496719
                       2003              82.7             4.668344
                       2004              80.0             4.321560
                       2005              77.3             3.682700
                       2006              74.6             2.990524
                       2007              71.9             2.493830

                             % Rural Population  \
Country     Region     Year
Afghanistan South Asia 2000              77.922
                       2001              77.831
                       2002              77.739
                       2003              77.647
                       2004              77.500
                       2005              77.297
                       2006              77.093
                       2007              76.887

                             % Vulnerable female employment  \
Country     Region     Year
Afghanistan South Asia 2000                       98.720002
                       2001                       98.760003
                       2002                       98.669999
                       2003                       98.599998
                       2004                       98.549998
                       2005                       98.480003
                       2006                       98.410000
                       2007                       98.309999

                             % Vulnerable male employment  Civil Liberties  \
Country     Region     Year
Afghanistan South Asia 2000                     91.879999            0.400
                       2001                     92.399998            0.400
                       2002                     91.460001            0.400
                       2003                     91.039999            0.403
                       2004                     90.960003            0.403
                       2005                     90.509996            0.403
                       2006                     90.249998            0.397
                       2007                     89.579998            0.397

                             Freedom of Expression  % Healthcare Investment  \
Country     Region     Year
Afghanistan South Asia 2000                  0.625                     1.21
                       2001                  0.625                     1.21
                       2002                  0.625                     1.21
                       2003                  0.687                     5.46
                       2004                  0.677                     3.60
                       2005                  0.677                     3.37
                       2006                  0.707                     2.72
                       2007                  0.708                     2.61

                             Population
Country     Region     Year
Afghanistan South Asia 2000  20779957.0
                       2001  21606992.0
                       2002  22600774.0
                       2003  23680871.0
                       2004  24726689.0
                       2005  25654274.0
                       2006  26433058.0
                       2007  27100542.0

[8 rows x 21 columns]

Country      Region      Year
Afghanistan  South Asia  2013    19621.802455
                         2014    19550.702567
                         2015    18713.048410
                         2016    18019.558182
                         2017    18896.352021
                         2018    18418.848300
                         2019    18904.490263
                         2020    19793.262413
Name: GDP, dtype: float64

                             AgriShareGDP  % Soldiers  Employment in industry  \
Country     Region     Year
Afghanistan South Asia 2000       54.0630    7.887961                    9.48
                       2001       54.0630    5.020511                    8.98
                       2002       45.1344    2.153062                    9.99
                       2003       41.9034    2.208290                   10.35
                       2004       35.6128    0.435599                   10.61
                       2005       35.1476    0.416444                   11.33
                       2006       34.3934    0.767568                   11.79

                             Employment in services  Birth Rate  \
Country     Region     Year
Afghanistan South Asia 2000               24.680000      48.021
                       2001               24.719999      47.505
                       2002               25.590000      46.901
                       2003               25.950001      46.231
                       2004               26.120001      45.507
                       2005               26.530001      44.723
                       2006               26.930000      43.870

                             Cost business start-up  Death Rate  \
Country     Region     Year
Afghanistan South Asia 2000                    72.0      11.718
                       2001                    72.0      11.387
                       2002                    72.0      11.048
                       2003                    72.0      10.704
                       2004                    72.0      10.356
                       2005                    75.2      10.003
                       2006                    67.4       9.645

                             Employment in agriculture  % Female Employment  \
Country     Region     Year
Afghanistan South Asia 2000                  65.839996               12.746
                       2001                  66.290001               12.868
                       2002                  64.419998               12.944
                       2003                  63.700001               13.122
                       2004                  63.270000               13.301
                       2005                  62.150002               13.407
                       2006                  61.279999               13.263

                             % Male Employment  ...  Maternal Death Risk  \
Country     Region     Year                     ...
Afghanistan South Asia 2000          68.787003  ...            11.215638
                       2001          68.737000  ...            10.604968
                       2002          68.318001  ...             9.736509
                       2003          68.320999  ...             8.978366
                       2004          68.384003  ...             8.315494
                       2005          68.205002  ...             7.810411
                       2006          68.384003  ...             7.581440

                             Infant Mortality  % Population Growth  \
Country     Region     Year
Afghanistan South Asia 2000              90.5             2.975057
                       2001              87.9             3.902805
                       2002              85.3             4.496719
                       2003              82.7             4.668344
                       2004              80.0             4.321560
                       2005              77.3             3.682700
                       2006              74.6             2.990524

                             % Rural Population  \
Country     Region     Year
Afghanistan South Asia 2000              77.922
                       2001              77.831
                       2002              77.739
                       2003              77.647
                       2004              77.500
                       2005              77.297
                       2006              77.093

                             % Vulnerable female employment  \
Country     Region     Year
Afghanistan South Asia 2000                       98.720002
                       2001                       98.760003
                       2002                       98.669999
                       2003                       98.599998
                       2004                       98.549998
                       2005                       98.480003
                       2006                       98.410000

                             % Vulnerable male employment  Civil Liberties  \
Country     Region     Year
Afghanistan South Asia 2000                     91.879999            0.400
                       2001                     92.399998            0.400
                       2002                     91.460001            0.400
                       2003                     91.039999            0.403
                       2004                     90.960003            0.403
                       2005                     90.509996            0.403
                       2006                     90.249998            0.397

                             Freedom of Expression  % Healthcare Investment  \
Country     Region     Year
Afghanistan South Asia 2000                  0.625                     1.21
                       2001                  0.625                     1.21
                       2002                  0.625                     1.21
                       2003                  0.687                     5.46
                       2004                  0.677                     3.60
                       2005                  0.677                     3.37
                       2006                  0.707                     2.72

                             Population
Country     Region     Year
Afghanistan South Asia 2000  20779957.0
                       2001  21606992.0
                       2002  22600774.0
                       2003  23680871.0
                       2004  24726689.0
                       2005  25654274.0
                       2006  26433058.0

[7 rows x 21 columns]

Country      Region      Year
Afghanistan  South Asia  2014    19550.702567
                         2015    18713.048410
                         2016    18019.558182
                         2017    18896.352021
                         2018    18418.848300
                         2019    18904.490263
                         2020    19793.262413
Name: GDP, dtype: float64

                             AgriShareGDP  % Soldiers  Employment in industry  \
Country     Region     Year
Afghanistan South Asia 2000       54.0630    7.887961                    9.48
                       2001       54.0630    5.020511                    8.98
                       2002       45.1344    2.153062                    9.99
                       2003       41.9034    2.208290                   10.35
                       2004       35.6128    0.435599                   10.61
                       2005       35.1476    0.416444                   11.33

                             Employment in services  Birth Rate  \
Country     Region     Year
Afghanistan South Asia 2000               24.680000      48.021
                       2001               24.719999      47.505
                       2002               25.590000      46.901
                       2003               25.950001      46.231
                       2004               26.120001      45.507
                       2005               26.530001      44.723

                             Cost business start-up  Death Rate  \
Country     Region     Year
Afghanistan South Asia 2000                    72.0      11.718
                       2001                    72.0      11.387
                       2002                    72.0      11.048
                       2003                    72.0      10.704
                       2004                    72.0      10.356
                       2005                    75.2      10.003

                             Employment in agriculture  % Female Employment  \
Country     Region     Year
Afghanistan South Asia 2000                  65.839996               12.746
                       2001                  66.290001               12.868
                       2002                  64.419998               12.944
                       2003                  63.700001               13.122
                       2004                  63.270000               13.301
                       2005                  62.150002               13.407

                             % Male Employment  ...  Maternal Death Risk  \
Country     Region     Year                     ...
Afghanistan South Asia 2000          68.787003  ...            11.215638
                       2001          68.737000  ...            10.604968
                       2002          68.318001  ...             9.736509
                       2003          68.320999  ...             8.978366
                       2004          68.384003  ...             8.315494
                       2005          68.205002  ...             7.810411

                             Infant Mortality  % Population Growth  \
Country     Region     Year
Afghanistan South Asia 2000              90.5             2.975057
                       2001              87.9             3.902805
                       2002              85.3             4.496719
                       2003              82.7             4.668344
                       2004              80.0             4.321560
                       2005              77.3             3.682700

                             % Rural Population  \
Country     Region     Year
Afghanistan South Asia 2000              77.922
                       2001              77.831
                       2002              77.739
                       2003              77.647
                       2004              77.500
                       2005              77.297

                             % Vulnerable female employment  \
Country     Region     Year
Afghanistan South Asia 2000                       98.720002
                       2001                       98.760003
                       2002                       98.669999
                       2003                       98.599998
                       2004                       98.549998
                       2005                       98.480003

                             % Vulnerable male employment  Civil Liberties  \
Country     Region     Year
Afghanistan South Asia 2000                     91.879999            0.400
                       2001                     92.399998            0.400
                       2002                     91.460001            0.400
                       2003                     91.039999            0.403
                       2004                     90.960003            0.403
                       2005                     90.509996            0.403

                             Freedom of Expression  % Healthcare Investment  \
Country     Region     Year
Afghanistan South Asia 2000                  0.625                     1.21
                       2001                  0.625                     1.21
                       2002                  0.625                     1.21
                       2003                  0.687                     5.46
                       2004                  0.677                     3.60
                       2005                  0.677                     3.37

                             Population
Country     Region     Year
Afghanistan South Asia 2000  20779957.0
                       2001  21606992.0
                       2002  22600774.0
                       2003  23680871.0
                       2004  24726689.0
                       2005  25654274.0

[6 rows x 21 columns]

AgriShareGDP                     NaN
% Soldiers                       NaN
Employment in industry           NaN
Employment in services           NaN
Birth Rate                       NaN
Cost business start-up           NaN
Death Rate                       NaN
Employment in agriculture        NaN
% Female Employment              NaN
% Male Employment                NaN
Life Expectancy                  NaN
Maternal Death Risk              NaN
Infant Mortality                 NaN
% Population Growth              NaN
% Rural Population               NaN
% Vulnerable female employment   NaN
% Vulnerable male employment     NaN
Civil Liberties                  NaN
Freedom of Expression            NaN
% Healthcare Investment          NaN
Population                       NaN
dtype: float64

,AgriShareGDP,% Soldiers,Employment in industry,Employment in services,Birth Rate,Cost business start-up,Death Rate,Employment in agriculture,% Female Employment,% Male Employment,...,Maternal Death Risk,Infant Mortality,% Population Growth,% Rural Population,% Vulnerable female employment,% Vulnerable male employment,Civil Liberties,Freedom of Expression,% Healthcare Investment,Population
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

                   AgriShareGDP  % Soldiers  Employment in industry  \
Country     Shift
Afghanistan 12              NaN         NaN                     NaN
            13              NaN         NaN                     NaN
            14              NaN         NaN                     NaN

                   Employment in services  Birth Rate  Cost business start-up  \
Country     Shift
Afghanistan 12                        NaN         NaN                     NaN
            13                        NaN         NaN                     NaN
            14                        NaN         NaN                     NaN

                   Death Rate  Employment in agriculture  % Female Employment  \
Country     Shift
Afghanistan 12            NaN                        NaN                  NaN
            13            NaN                        NaN                  NaN
            14            NaN                        NaN                  NaN

                   % Male Employment  ...  Maternal Death Risk  \
Country     Shift                     ...
Afghanistan 12                   NaN  ...                  NaN
            13                   NaN  ...                  NaN
            14                   NaN  ...                  NaN

                   Infant Mortality  % Population Growth  % Rural Population  \
Country     Shift
Afghanistan 12                  NaN                  NaN                 NaN
            13                  NaN                  NaN                 NaN
            14                  NaN                  NaN                 NaN

                   % Vulnerable female employment  \
Country     Shift
Afghanistan 12                                NaN
            13                                NaN
            14                                NaN

                   % Vulnerable male employment  Civil Liberties  \
Country     Shift
Afghanistan 12                              NaN              NaN
            13                              NaN              NaN
            14                              NaN              NaN

                   Freedom of Expression  % Healthcare Investment  Population
Country     Shift
Afghanistan 12                       NaN                      NaN         NaN
            13                       NaN                      NaN         NaN
            14                       NaN                      NaN         NaN

[3 rows x 21 columns]

Empty DataFrame
Columns: []
Index: []

In [4]:
df1 = pd.DataFrame({1: [9, 3, 8], 2: [1, 5, 5], 3: [2, 2, 1]})
df1

df2 = pd.DataFrame({'t': ['a', 'a', 'b'], 1: [100, 388, 300], 2: [400, 124, 600], 3: [700, 977, 900]})
df2

df1.corrwith(df2)

display(df2)
dfs = df2.copy().loc[:, 1]
display(dfs)

df1.corrwith(dfs)
df2.groupby(['t']).sum()

   t    1    2    3
0  a  100  400  700
1  a  388  124  977
2  b  300  600  900

0    100
1    388
2    300
Name: 1, dtype: int64

     1    2     3
t
a  488  524  1677
b  300  600   900