# EXTRACTION

Import libraries and functions.

In [1]:
import pandas as pd
import numpy as np
import glob
import os
import warnings
warnings.filterwarnings("ignore")
import functools as ft
from pyspark.sql.functions import concat, col, lit, split
import ipywidgets as widgets
from ipywidgets import Layout
from ipywidgets import interact, interact_manual
import plotly.express as px
from scipy import stats
from scipy.stats import shapiro
from scipy.stats import pearsonr
from scipy.stats import spearmanr
from pandas.api.types import is_numeric_dtype

Firstly we load the database from World Data Bank that has been downloaded and extracted in the *Data extraction* notebook. We acquire it from the predetermined path that is on our computer.

In [2]:
df= pd.read_csv (os.getcwd()+'/Data/'+'WDIData.csv')
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.936004,17.337896,17.687093,18.140971,18.491344,18.825520,19.272212,19.628009,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384365,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384366,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.700000,NaN,NaN,NaN,5.418352,NaN,NaN,NaN
384367,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,33.500000,32.400000,NaN,NaN,NaN,33.658057,NaN,NaN,NaN
384368,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.200000,59.400000,59.500000,59.700000,59.900000,60.000000,60.200000,60.400000,NaN,NaN
384369,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,18000.000000,17000.000000,15000.000000,14000.000000,12000.000000,9700.000000,9600.000000,7500.000000,NaN,NaN

# INTEGRATION

Moreover, to work more comfortably, we remove those columns not useful for us, as *Country Name* and *Indicator Code*, since with the *Country Code*, *Value* and the *Indicator Name* we have the relevant information.

In [3]:
df.drop(columns=["Country Name","Indicator Code"], axis=1, inplace=True)

FILTER 1: BY COUNTRY

From the almost two hundred countries we have information about in the worldwide database, we have decided to study 50 of them, making an initial grouping by geographical and economical similiarities. With this, we can keep in our dataframe the selected countries.

Criteria for grouping:
- Europe: Germany, France, Sweden, United Kingdom, Spain, Croatia, Poland, Greece, Austria and Netherlands.

*Interesting countries of the European continent that can reflect events such as the Brexit process, the 2008 crisis or their historical strength.*
- Persian Gulf: Iraq, Qatar, United Arab Emirates, Arabia Saudita, Azerbayan, Yemen, Yemen Democratic and Oman.

*Countries located in the Persian Gulf, which have a similar economy based mainly on petrol and social structures.*
- North Africa: Algeria, Egiypt, Lybia, Israel, Turkey and Morroco.

*Countries of the african continent that are middle developed and with high mobility of people and goods.*
- South Africa: Senegal, South Africa, Liberia, Mozambique, Cameroon, Nigeria and Ghana.

*Countries of the south and central africa that are mainly subdeveloped and considered some of the poorest countries worldwide; but, on the contrary, one of them is highly developed.*
- Asia: Bangladesh, India, Vietnam, Thailand, Indonesia, Philipines and Korea (South).

*Converted in the last decades in the manufacturing of the world, they are subdeveloped countries with high population and childhood.*
- Latin America: Mexico, Brasil, Argentina, Peru, Venezuela, Colombia, Chile, Panama and Costa Rica.

*Countries located in same continet and some with singular political structures.* 
- Pair: USA and China.

*Although these countries seem to be confronted between them, they have been the top two most growing worlwide, despite the fact that culturally and economically they are completely distant.*

In [4]:
europe_list=['DEU','FRA','SWE','GBR','ESP','HRV','POL','GRC','AUT','NLD']
persian_list=['IRQ','QAT','ARE','SAU','AZE','YEM','YDR','OMN']
naf_list=['DZA','EGY','LBY','ISR','TUR','MAR']
saf_list=['SEN','ZAF','LBR','MOZ','CMR','NGA','GHA']
asia_list=['BGD','IND','VNM','THA','IDN','PHL','KOR']
latam_list=['MEX','BRA','ARG','PER','VEN','COL','CHL','PAN','CRI']
two_list=['USA','CHN']
country_list=europe_list+persian_list+naf_list+saf_list+asia_list+latam_list+two_list

In [5]:
df1=df.loc[df['Country Code'].isin(country_list)]

Now we transpose the rows of years into the columns.

In [6]:
df2=(df1.set_index(["Country Code", "Indicator Name"]).stack().reset_index(name='Value').rename(columns={'level_2':'Date'}))
df2

,Country Code,Indicator Name,Date,Value
0,DZA,Access to clean fuels and technologies for coo...,2000,97.1
1,DZA,Access to clean fuels and technologies for coo...,2001,97.3
2,DZA,Access to clean fuels and technologies for coo...,2002,97.8
3,DZA,Access to clean fuels and technologies for coo...,2003,98.0
4,DZA,Access to clean fuels and technologies for coo...,2004,98.2
...,...,...,...,...
1769874,YEM,Young people (ages 15-24) newly infected with HIV,2016,200.0
1769875,YEM,Young people (ages 15-24) newly infected with HIV,2017,200.0
1769876,YEM,Young people (ages 15-24) newly infected with HIV,2018,200.0
1769877,YEM,Young people (ages 15-24) newly infected with HIV,2019,200.0
1769878,YEM,Young people (ages 15-24) newly infected with HIV,2020,200.0

FILTER 2: BY YEAR

Our time range covers from 1960 to 2021. However, the record is not uniform and complete for all areas and indicators. We can appreaciate that specially in the first years of the last century, so many data is missing, then it makes no sense to study it. Besides, for the year 2021 many data is also lacking. Therefore, we would delimit our study between 1990 and 2020.

In [7]:
df2[['Date']] = df2[['Date']].astype(int)

In [8]:
df2.dtypes

Country Code       object
Indicator Name     object
Date                int32
Value             float64
dtype: object

In [9]:
df3 = df2[df2['Date'] > 1989]
df3

,Country Code,Indicator Name,Date,Value
0,DZA,Access to clean fuels and technologies for coo...,2000,97.1
1,DZA,Access to clean fuels and technologies for coo...,2001,97.3
2,DZA,Access to clean fuels and technologies for coo...,2002,97.8
3,DZA,Access to clean fuels and technologies for coo...,2003,98.0
4,DZA,Access to clean fuels and technologies for coo...,2004,98.2
...,...,...,...,...
1769874,YEM,Young people (ages 15-24) newly infected with HIV,2016,200.0
1769875,YEM,Young people (ages 15-24) newly infected with HIV,2017,200.0
1769876,YEM,Young people (ages 15-24) newly infected with HIV,2018,200.0
1769877,YEM,Young people (ages 15-24) newly infected with HIV,2019,200.0
1769878,YEM,Young people (ages 15-24) newly infected with HIV,2020,200.0

In [10]:
BronzeDataFrame=df3

-----

# NORMALIZATION

Taking as reference both works of https://www.pluralsight.com/guides/cleaning-up-data-from-outliers and https://careerfoundry.com/en/blog/data-analytics/how-to-find-outliers/, for normalizing our data we need to start computing the outliers and removing them from our dataframe. As there is not a direct function of pandas that performs this step, it´s been step-by-step code, where we begin with the computation of the quartiles, then the IQR (Inter Quartile Range) and finally the upper and lower limit.

##### IQR explanation

The interquartile range (IQR) measures the spread of the middle half of your data. It is the range for the middle 50% of your sample. Use the IQR to assess the variability where most of your values lie. Larger values indicate that the central portion of your data spread out further. Conversely, smaller values show that the middle values cluster more tightly.

To visualize the interquartile range, imagine dividing your data into quarters. Statisticians refer to these quarters as quartiles and label them from low to high as Q1, Q2, Q3, and Q4. The lowest quartile (Q1) covers the smallest quarter of values in your dataset. The upper quartile (Q4) comprises the highest quarter of values. The interquartile range is the middle half of the data that lies between the upper and lower quartiles. In other words, the interquartile range includes the 50% of data points that are above Q1 and below Q4.

When measuring variability, statisticians prefer using the interquartile range instead of the full data range because extreme values and outliers affect it less. Typically, use the IQR with a measure of central tendency, such as the median, to understand your data’s center and spread. This combination creates a fuller picture of your data’s distribution.

Therefore it is being utilized to get rid of all the outliers that may come from errors when creating the data or from unexpected years.

Firstly, we compute the first quartile (Q1=25%) and the third quartile (Q3=75%). For that, we have grouped the data by country code and indicator name, so we get the Q1 and Q3 values for each indicator in each geographical area.

In [11]:
grouped=BronzeDataFrame.groupby(['Country Code','Indicator Name'])
grouped

In [12]:
Q1=BronzeDataFrame.groupby(['Country Code','Indicator Name']).quantile(0.25)
Q3=BronzeDataFrame.groupby(['Country Code','Indicator Name']).quantile(0.75)
IQR=Q3-Q1
IQR

                                                                 Date  \
Country Code Indicator Name
ARE          Access to clean fuels and technologies for cook...  10.0
             Access to clean fuels and technologies for cook...  10.0
             Access to clean fuels and technologies for cook...  10.0
             Access to electricity (% of population)             15.0
             Access to electricity, rural (% of rural popula...  15.0
...                                                               ...
ZAF          Women who believe a husband is justified in bea...   0.0
             Women who were first married by age 15 (% of wo...   9.0
             Women who were first married by age 18 (% of wo...   9.0
             Women's share of population ages 15+ living wit...  15.0
             Young people (ages 15-24) newly infected with HIV   15.0

                                                                    Value
Country Code Indicator Name
ARE          Access to clean fuels and technologies for cook...      0.00
             Access to clean fuels and technologies for cook...      0.00
             Access to clean fuels and technologies for cook...      0.00
             Access to electricity (% of population)                 0.00
             Access to electricity, rural (% of rural popula...      0.00
...                                                                   ...
ZAF          Women who believe a husband is justified in bea...      0.00
             Women who were first married by age 15 (% of wo...      0.15
             Women who were first married by age 18 (% of wo...      2.15
             Women's share of population ages 15+ living wit...      4.90
             Young people (ages 15-24) newly infected with HIV   85000.00

[59239 rows x 2 columns]

Once we got the quartiles, we compute the upper and lower limit, with a basic mathematical expression.

In [13]:
lower_limit=Q1 - 1.5 * IQR
lower=lower_limit.drop(['Date'],axis=1)
lower.rename(columns={"Value":"Lower limit"})

                                                                 Lower limit
Country Code Indicator Name
ARE          Access to clean fuels and technologies for cook...      100.000
             Access to clean fuels and technologies for cook...      100.000
             Access to clean fuels and technologies for cook...      100.000
             Access to electricity (% of population)                 100.000
             Access to electricity, rural (% of rural popula...      100.000
...                                                                      ...
ZAF          Women who believe a husband is justified in bea...        1.000
             Women who were first married by age 15 (% of wo...        0.625
             Women who were first married by age 18 (% of wo...        1.375
             Women's share of population ages 15+ living wit...       49.850
             Young people (ages 15-24) newly infected with HIV    -22500.000

[59239 rows x 1 columns]

In [14]:
upper_limit=Q3 + 1.5 * IQR
upper=upper_limit.drop(['Date'],axis=1)
upper.rename(columns={"Value":"Upper limit"})

                                                                 Upper limit
Country Code Indicator Name
ARE          Access to clean fuels and technologies for cook...      100.000
             Access to clean fuels and technologies for cook...      100.000
             Access to clean fuels and technologies for cook...      100.000
             Access to electricity (% of population)                 100.000
             Access to electricity, rural (% of rural popula...      100.000
...                                                                      ...
ZAF          Women who believe a husband is justified in bea...        1.000
             Women who were first married by age 15 (% of wo...        1.225
             Women who were first married by age 18 (% of wo...        9.975
             Women's share of population ages 15+ living wit...       69.450
             Young people (ages 15-24) newly infected with HIV    317500.000

[59239 rows x 1 columns]

Thirdly, we join the three tables we have (main dataframe, upper limit and lower limit) by matching country code and indicator name..

In [15]:
dfs = [BronzeDataFrame,lower,upper]
df_joined = ft.reduce(lambda left, right: pd.merge(left, right, on=['Country Code','Indicator Name']), dfs)
df_joined

,Country Code,Indicator Name,Date,Value_x,Value_y,Value
0,DZA,Access to clean fuels and technologies for coo...,2000,97.1,97.0,101.0
1,DZA,Access to clean fuels and technologies for coo...,2001,97.3,97.0,101.0
2,DZA,Access to clean fuels and technologies for coo...,2002,97.8,97.0,101.0
3,DZA,Access to clean fuels and technologies for coo...,2003,98.0,97.0,101.0
4,DZA,Access to clean fuels and technologies for coo...,2004,98.2,97.0,101.0
...,...,...,...,...,...,...
1225413,YEM,Young people (ages 15-24) newly infected with HIV,2016,200.0,-50.0,350.0
1225414,YEM,Young people (ages 15-24) newly infected with HIV,2017,200.0,-50.0,350.0
1225415,YEM,Young people (ages 15-24) newly infected with HIV,2018,200.0,-50.0,350.0
1225416,YEM,Young people (ages 15-24) newly infected with HIV,2019,200.0,-50.0,350.0
1225417,YEM,Young people (ages 15-24) newly infected with HIV,2020,200.0,-50.0,350.0

In [16]:
list(df_joined)

['Country Code', 'Indicator Name', 'Date', 'Value_x', 'Value_y', 'Value']

We rename the columns of the new table, as the columns headers are not saved after the joining.

In [17]:
renamed=df_joined.set_axis(['Country','Indicator','Year', 'Real value', 'Lower value', 'Upper value'], axis=1, inplace=False)
renamed

,Country,Indicator,Year,Real value,Lower value,Upper value
0,DZA,Access to clean fuels and technologies for coo...,2000,97.1,97.0,101.0
1,DZA,Access to clean fuels and technologies for coo...,2001,97.3,97.0,101.0
2,DZA,Access to clean fuels and technologies for coo...,2002,97.8,97.0,101.0
3,DZA,Access to clean fuels and technologies for coo...,2003,98.0,97.0,101.0
4,DZA,Access to clean fuels and technologies for coo...,2004,98.2,97.0,101.0
...,...,...,...,...,...,...
1225413,YEM,Young people (ages 15-24) newly infected with HIV,2016,200.0,-50.0,350.0
1225414,YEM,Young people (ages 15-24) newly infected with HIV,2017,200.0,-50.0,350.0
1225415,YEM,Young people (ages 15-24) newly infected with HIV,2018,200.0,-50.0,350.0
1225416,YEM,Young people (ages 15-24) newly infected with HIV,2019,200.0,-50.0,350.0
1225417,YEM,Young people (ages 15-24) newly infected with HIV,2020,200.0,-50.0,350.0

Now that we have the table correctly defined, we remove from our dataframe the values that are outside our range, as it means that they are outliers.

In [18]:
sin_outliers=renamed.loc[~((renamed['Real value']<renamed['Lower value']) | (renamed['Real value']>renamed['Upper value']))]
sin_outliers

,Country,Indicator,Year,Real value,Lower value,Upper value
0,DZA,Access to clean fuels and technologies for coo...,2000,97.1,97.0,101.0
1,DZA,Access to clean fuels and technologies for coo...,2001,97.3,97.0,101.0
2,DZA,Access to clean fuels and technologies for coo...,2002,97.8,97.0,101.0
3,DZA,Access to clean fuels and technologies for coo...,2003,98.0,97.0,101.0
4,DZA,Access to clean fuels and technologies for coo...,2004,98.2,97.0,101.0
...,...,...,...,...,...,...
1225413,YEM,Young people (ages 15-24) newly infected with HIV,2016,200.0,-50.0,350.0
1225414,YEM,Young people (ages 15-24) newly infected with HIV,2017,200.0,-50.0,350.0
1225415,YEM,Young people (ages 15-24) newly infected with HIV,2018,200.0,-50.0,350.0
1225416,YEM,Young people (ages 15-24) newly infected with HIV,2019,200.0,-50.0,350.0
1225417,YEM,Young people (ages 15-24) newly infected with HIV,2020,200.0,-50.0,350.0

From the data above, we can perceive that our data comes down from 19944 rows to 19424, so 500 were outliers. The next steps are to order and display data better, removing those columns that we just do not need and pivoting the rows and columns.

In [19]:
df_limpio=sin_outliers.drop(['Lower value','Upper value'],axis=1)
df_limpio

,Country,Indicator,Year,Real value
0,DZA,Access to clean fuels and technologies for coo...,2000,97.1
1,DZA,Access to clean fuels and technologies for coo...,2001,97.3
2,DZA,Access to clean fuels and technologies for coo...,2002,97.8
3,DZA,Access to clean fuels and technologies for coo...,2003,98.0
4,DZA,Access to clean fuels and technologies for coo...,2004,98.2
...,...,...,...,...
1225413,YEM,Young people (ages 15-24) newly infected with HIV,2016,200.0
1225414,YEM,Young people (ages 15-24) newly infected with HIV,2017,200.0
1225415,YEM,Young people (ages 15-24) newly infected with HIV,2018,200.0
1225416,YEM,Young people (ages 15-24) newly infected with HIV,2019,200.0
1225417,YEM,Young people (ages 15-24) newly infected with HIV,2020,200.0

In [20]:
cols=df_limpio['Indicator'].unique().tolist()

In [21]:
SilverDataFrame=df_limpio.set_index(["Country", "Year"]).pivot(columns="Indicator", values="Real value").reset_index()
SilverDataFrame

Indicator,Country,Year,ARI treatment (% of children under 5 taken to a health provider),Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),...,Women who believe a husband is justified in beating his wife (any of five reasons) (%),Women who believe a husband is justified in beating his wife when she argues with him (%),Women who believe a husband is justified in beating his wife when she burns the food (%),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who believe a husband is justified in beating his wife when she neglects the children (%),Women who believe a husband is justified in beating his wife when she refuses sex with him (%),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%),Young people (ages 15-24) newly infected with HIV
0,ARE,1990,NaN,NaN,NaN,NaN,100.000000,100.000000,100.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.8,100.0
1,ARE,1991,NaN,NaN,NaN,NaN,100.000000,100.000000,100.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.2,100.0
2,ARE,1992,NaN,NaN,NaN,NaN,100.000000,100.000000,100.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.4,100.0
3,ARE,1993,NaN,NaN,NaN,NaN,100.000000,100.000000,100.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,100.0
4,ARE,1994,NaN,NaN,NaN,NaN,100.000000,100.000000,100.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,ZAF,2017,NaN,85.2,64.6,94.20,84.400002,76.738983,88.373024,69.218491,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.3,100000.0
1532,ZAF,2018,NaN,85.7,65.5,94.65,84.699997,77.168495,88.518814,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.7,92000.0
1533,ZAF,2019,NaN,86.3,65.5,94.90,85.000000,77.611824,88.662704,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.1,85000.0
1534,ZAF,2020,NaN,86.8,65.9,95.20,84.385536,75.264854,88.806267,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.4,79000.0
1535,ZAF,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

On the other hand, another big stone of normalizations is to nan/null values, which we have in all variables.

In [22]:
SilverDataFrame.isna().sum().sum()

1016628

As we can observe, we have lots of missing data, and as there is no optimal way to fullfill these values, thus, we will test some to arrive to the optimal method for our data set.

First, we need to create some lists so our loops work.

In [23]:
df=SilverDataFrame
europe_list=['DEU','FRA','SWE','GBR','ESP','HRV','POL','GRC','AUT','NLD']
persian_list=['IRQ','QAT','ARE','SAU','AZE','YEM','OMN']
naf_list=['DZA','EGY','LBY','ISR','TUR','MAR']
saf_list=['SEN','ZAF','LBR','MOZ','CMR','NGA','GHA']
asia_list=['BGD','IND','VNM','THA','IDN','PHL','KOR']
latam_list=['MEX','BRA','ARG','PER','VEN','COL','CHL','PAN','CRI']
two_list=['USA','CHN']
country_list=europe_list+persian_list+naf_list+saf_list+asia_list+latam_list+two_list

We are attempting the linear interpolation, which is achieved by geometrically rendering a straight line between two adjacent points on a graph or plane.

In [24]:
dat=df.loc[df.loc[:, 'Country'] == country_list[0]]
datc=dat.interpolate(method="linear")
data=datc

for i in range(1,len(country_list)):
    dat=df.loc[df.loc[:, 'Country'] == country_list[i]]
    datc=dat.interpolate(method="linear")
    data=pd.concat((data, datc), axis = 0)
data.isna().sum().sum()

685787

Here we attempt the backward filling. (Filling the previous cell with future values)

In [25]:
dat=df.loc[df.loc[:, 'Country'] == country_list[0]]
datc=dat.fillna(method='bfill')
data=datc

for i in range(1,len(country_list)):
    dat=df.loc[df.loc[:, 'Country'] == country_list[i]]
    datc=dat.fillna(method='bfill')
    data=pd.concat((data, datc), axis = 0)
data.isna().sum().sum()

498648

Here we will attempt the forward filling. (Filling the next cell with previous values)

In [26]:
dat=df.loc[df.loc[:, 'Country'] == country_list[0]]
datc=dat.fillna(method='ffill')
data=datc

for i in range(1,len(country_list)):
    dat=df.loc[df.loc[:, 'Country'] == country_list[i]]
    datc=dat.fillna(method='ffill')
    data=pd.concat((data, datc), axis = 0)
data.isna().sum().sum()

685787

And as none of the methods have worked out correctly, independently, we are going to mix them, to achieve a better result.

In [27]:
dat=df.loc[df.loc[:, 'Country'] == country_list[0]]
datc=dat.interpolate(method="linear")
datc=datc.fillna(method='ffill')
data=datc

for i in range(1,len(country_list)):
    dat=df.loc[df.loc[:, 'Country'] == country_list[i]]
    datc=dat.interpolate(method="linear")
    datc=datc.fillna(method='ffill')
    data=pd.concat((data, datc), axis = 0)
data.isna().sum().sum()

685787

In [28]:
dat=df.loc[df.loc[:, 'Country'] == country_list[0]]
datc=dat.interpolate(method="linear")
datc=datc.fillna(method='bfill')
data=datc

for i in range(1,len(country_list)):
    dat=df.loc[df.loc[:, 'Country'] == country_list[i]]
    datc=dat.interpolate(method="linear")
    datc=datc.fillna(method='bfill')
    data=pd.concat((data, datc), axis = 0)
data.isna().sum().sum()

310048

And finally, mixing the three methods all together.

In [29]:
dat=df.loc[df.loc[:, 'Country'] == country_list[0]]
datc=dat.interpolate(method="linear")
datf=datc.fillna(method='bfill')
datr=datf.fillna(method='ffill')
data=datr

for i in range(1,len(country_list)):
    dat=df.loc[df.loc[:, 'Country'] == country_list[i]]
    datc=dat.interpolate(method="linear")
    datc=datc.fillna(method='bfill')
    datc=datc.fillna(method='ffill')
    data=pd.concat((data, datc), axis = 0)
data.isna().sum().sum()

310048

Fix explanation

Therefore, the preferred method for the Nan values´ treatment that we are going to develop is a mix, between the linear interpolation and backwards filling. The linear interpolation a form of interpolation, which involves the generation of new values based on an existing set of values. Linear interpolation is achieved by geometrically rendering a straight line between two adjacent points on a graph or plane. Whereas the backwards filling, will help us to arrive to those values which have not been fullfilled with the linear interpolation.

Moreover, we are also going to scale all the values between the max and min of each country for each variable.

In [30]:
dat=df.loc[df.loc[:, 'Country'] == country_list[0]]
datc=dat.interpolate(method="linear")
datf=datc.fillna(method='bfill')
datr=datf.fillna(method='ffill')
data=datr

for i in range(1,len(country_list)):
    dat=df.loc[df.loc[:, 'Country'] == country_list[i]]
    datc=dat.interpolate(method="linear")
    datc=datc.fillna(method='bfill')
    datc=datc.fillna(method='ffill')
    data=pd.concat((data, datc), axis = 0)
data

Indicator,Country,Year,ARI treatment (% of children under 5 taken to a health provider),Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),...,Women who believe a husband is justified in beating his wife (any of five reasons) (%),Women who believe a husband is justified in beating his wife when she argues with him (%),Women who believe a husband is justified in beating his wife when she burns the food (%),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who believe a husband is justified in beating his wife when she neglects the children (%),Women who believe a husband is justified in beating his wife when she refuses sex with him (%),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%),Young people (ages 15-24) newly infected with HIV
352,DEU,1990,NaN,100.0,100.0,100.0,100.0,100.0,100.0,98.133621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.1,500.0
353,DEU,1991,NaN,100.0,100.0,100.0,100.0,100.0,100.0,98.133621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.1,500.0
354,DEU,1992,NaN,100.0,100.0,100.0,100.0,100.0,100.0,98.133621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.1,500.0
355,DEU,1993,NaN,100.0,100.0,100.0,100.0,100.0,100.0,98.133621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.1,500.0
356,DEU,1994,NaN,100.0,100.0,100.0,100.0,100.0,100.0,98.133621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.1,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,CHN,2017,NaN,73.2,55.2,86.2,100.0,100.0,100.0,80.229118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,CHN,2018,NaN,75.6,59.0,87.4,100.0,100.0,100.0,80.229118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,CHN,2019,NaN,77.6,61.9,88.4,100.0,100.0,100.0,80.229118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,CHN,2020,NaN,79.4,65.2,89.4,100.0,100.0,100.0,80.229118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,CHN,2021,NaN,79.4,65.2,89.4,100.0,100.0,100.0,80.229118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now, we will drop the columns which have over 308 missing values (20%), because the absence of data creates an unreliable source.

In [31]:
for i in range(0, len(cols)):
    if data[cols[i]].isna().sum()>308:
        del(data[cols[i]])
        print(cols[i])
data

Adults (ages 15+) and children (ages 0-14) newly infected with HIV
Adults (ages 15-49) newly infected with HIV
Antiretroviral therapy coverage (% of people living with HIV)
Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)
ARI treatment (% of children under 5 taken to a health provider)
Average transaction cost of sending remittances to a specific country (%)
Average working hours of children, study and work, ages 7-14 (hours per week)
Average working hours of children, study and work, female, ages 7-14 (hours per week)
Average working hours of children, study and work, male, ages 7-14 (hours per week)
Average working hours of children, working only, ages 7-14 (hours per week)
Average working hours of children, working only, female, ages 7-14 (hours per week)
Average working hours of children, working only, male, ages 7-14 (hours per week)
Bank capital to assets ratio (%)
Bank liquid reserves to bank assets ratio (%)
Bank nonperforming loans to total gross loans (%)
Battle-related deaths (number of people)
Borrowers from commercial banks (per 1,000 adults)
Bribery incidence (% of firms experiencing at least one bribe payment request)
Changes in inventories (constant LCU)
Children (0-14) living with HIV
Children (ages 0-14) newly infected with HIV
Children in employment, female (% of female children ages 7-14)
Children in employment, male (% of male children ages 7-14)
Children in employment, study and work (% of children in employment, ages 7-14)
Children in employment, study and work, female (% of female children in employment, ages 7-14)
Children in employment, study and work, male (% of male children in employment, ages 7-14)
Children in employment, total (% of children ages 7-14)
Children in employment, unpaid family workers (% of children in employment, ages 7-14)
Children in employment, unpaid family workers, female (% of female children in employment, ages 7-14)
Children in employment, unpaid family workers, male (% of male children in employment, ages 7-14)
Children in employment, wage workers (% of children in employment, ages 7-14)
Children in employment, wage workers, female (% of female children in employment, ages 7-14)
Children in employment, wage workers, male (% of male children in employment, ages 7-14)
Children in employment, work only (% of children in employment, ages 7-14)
Children in employment, work only, female (% of female children in employment, ages 7-14)
Children in employment, work only, male (% of male children in employment, ages 7-14)
Claims on other sectors of the domestic economy (annual growth as % of broad money)
Commercial banks and other lending (PPG + PNG) (NFL, current US$)
Completeness of birth registration, rural (%)
Completeness of birth registration, urban (%)
Consumption of iodized salt (% of households)
Debt service (PPG and IMF only, % of exports of goods, services and primary income)
Debt service on external debt, public and publicly guaranteed (PPG) (TDS, current US$)
Debt service on external debt, total (TDS, current US$)
Demand for family planning satisfied by modern methods (% of married women with demand for family planning)
Diarrhea treatment (% of children under 5 receiving oral rehydration and continued feeding)
Diarrhea treatment (% of children under 5 who received ORS packet)
Disaster risk reduction progress score (1-5 scale; 5=best)
Exclusive breastfeeding (% of children under 6 months)
External debt stocks (% of GNI)
External debt stocks, long-term (DOD, current US$)
External debt stocks, private nonguaranteed (PNG) (DOD, current US$)
External debt stocks, public and publicly guaranteed (PPG) (DOD, current US$)
External debt stocks, short-term (DOD, current US$)
External debt stocks, total (DOD, current US$)
Financial intermediary services indirectly Measured (FISIM) (constant LCU)
Financial intermediary services indirectly Measured (FISIM) (current LCU)
Firms competing against unregistered firms (% of firms)
Firms formally registered when operations started (% of firms)
Firms that do not report all sales for tax purposes (% of firms)
Gross fixed capital formation, private sector (% of GDP)
Gross fixed capital formation, private sector (current LCU)
IBRD loans and IDA credits (DOD, current US$)
IFC, private nonguaranteed (NFL, current US$)
IMF repurchases and charges (TDS, current US$)
Incidence of HIV, ages 15-24 (per 1,000 uninfected population ages 15-24)
Incidence of HIV, ages 15-49 (per 1,000 uninfected population ages 15-49)
Incidence of HIV, all (per 1,000 uninfected population)
Incidence of malaria (per 1,000 population at risk)
Informal payments to public officials (% of firms)
Intentional homicides, female (per 100,000 female)
Intentional homicides, male (per 100,000 male)
Interest rate spread (lending rate minus deposit rate, %)
Internally displaced persons, new displacement associated with conflict and violence (number of cases)
Internally displaced persons, total displaced by conflict and violence (number of people)
International tourism, number of departures
Investment in energy with private participation (current US$)
Investment in ICT with private participation (current US$)
Investment in transport with private participation (current US$)
Investment in water and sanitation with private participation (current US$)
Lending interest rate (%)
Merchandise exports to low- and middle-income economies within region (% of total merchandise exports)
Merchandise imports from low- and middle-income economies within region (% of total merchandise imports)
Methodology assessment of statistical capacity (scale 0 - 100)
Multilateral debt service (% of public and publicly guaranteed debt service)
Multilateral debt service (TDS, current US$)
Net bilateral aid flows from DAC donors, Australia (current US$)
Net bilateral aid flows from DAC donors, Belgium (current US$)
Net bilateral aid flows from DAC donors, Canada (current US$)
Net bilateral aid flows from DAC donors, Czech Republic (current US$)
Net bilateral aid flows from DAC donors, Denmark (current US$)
Net bilateral aid flows from DAC donors, Finland (current US$)
Net bilateral aid flows from DAC donors, Greece (current US$)
Net bilateral aid flows from DAC donors, Hungary (current US$)
Net bilateral aid flows from DAC donors, Ireland (current US$)
Net bilateral aid flows from DAC donors, Italy (current US$)
Net bilateral aid flows from DAC donors, Korea, Rep. (current US$)
Net bilateral aid flows from DAC donors, Luxembourg (current US$)
Net bilateral aid flows from DAC donors, Netherlands (current US$)
Net bilateral aid flows from DAC donors, New Zealand (current US$)
Net bilateral aid flows from DAC donors, Norway (current US$)
Net bilateral aid flows from DAC donors, Poland (current US$)
Net bilateral aid flows from DAC donors, Portugal (current US$)
Net bilateral aid flows from DAC donors, Slovenia (current US$)
Net bilateral aid flows from DAC donors, Spain (current US$)
Net bilateral aid flows from DAC donors, Sweden (current US$)
Net bilateral aid flows from DAC donors, Switzerland (current US$)
Net financial flows, bilateral (NFL, current US$)
Net financial flows, IBRD (NFL, current US$)
Net financial flows, IMF nonconcessional (NFL, current US$)
Net financial flows, multilateral (NFL, current US$)
Net financial flows, others (NFL, current US$)
Net financial flows, RDB concessional (NFL, current US$)
Net financial flows, RDB nonconcessional (NFL, current US$)
Net flows on external debt, private nonguaranteed (PNG) (NFL, current US$)
Net intake rate in grade 1 (% of official school-age population)
Net intake rate in grade 1, female (% of official school-age population)
Net intake rate in grade 1, male (% of official school-age population)
Net ODA received (% of GNI)
Net ODA received (% of gross capital formation)
Net ODA received (% of imports of goods, services and primary income)
Net ODA received per capita (current US$)
Net official development assistance received (constant 2018 US$)
Net official development assistance received (current US$)
Net official flows from UN agencies, FAO (current US$)
Net official flows from UN agencies, IAEA (current US$)
Net official flows from UN agencies, IFAD (current US$)
Net official flows from UN agencies, ILO (current US$)
Net official flows from UN agencies, UNAIDS (current US$)
Net official flows from UN agencies, UNDP (current US$)
Net official flows from UN agencies, UNFPA (current US$)
Net official flows from UN agencies, UNHCR (current US$)
Net official flows from UN agencies, UNICEF (current US$)
Net official flows from UN agencies, WFP (current US$)
Net official flows from UN agencies, WHO (current US$)
Net secondary income (Net current transfers from abroad) (constant LCU)
Newborns protected against tetanus (%)
People using safely managed drinking water services (% of population)
People using safely managed drinking water services, rural (% of rural population)
People using safely managed drinking water services, urban (% of urban population)
People using safely managed sanitation services, rural (% of rural population)
People using safely managed sanitation services, urban (% of urban population)
People with basic handwashing facilities including soap and water (% of population)
People with basic handwashing facilities including soap and water, rural (% of rural population)
People with basic handwashing facilities including soap and water, urban (% of urban population)
Periodicity and timeliness assessment of statistical capacity (scale 0 - 100)
PNG, commercial banks and other creditors (NFL, current US$)
Portfolio investment, bonds (PPG + PNG) (NFL, current US$)
Power outages in firms in a typical month (number)
PPG, bonds (NFL, current US$)
PPG, commercial banks (NFL, current US$)
PPG, IBRD (DOD, current US$)
PPG, official creditors (NFL, current US$)
PPG, other private creditors (NFL, current US$)
PPG, private creditors (NFL, current US$)
Present value of external debt (% of exports of goods, services and primary income)
Present value of external debt (% of GNI)
Present value of external debt (current US$)
Prevalence of HIV, female (% ages 15-24)
Prevalence of HIV, male (% ages 15-24)
Prevalence of HIV, total (% of population ages 15-49)
Prevalence of moderate or severe food insecurity in the population (%)
Prevalence of overweight, weight for height, female (% of children under 5)
Prevalence of overweight, weight for height, male (% of children under 5)
Prevalence of severe food insecurity in the population (%)
Prevalence of severe wasting, weight for height (% of children under 5)
Prevalence of severe wasting, weight for height, female (% of children under 5)
Prevalence of severe wasting, weight for height, male (% of children under 5)
Prevalence of stunting, height for age, female (% of children under 5)
Prevalence of stunting, height for age, male (% of children under 5)
Prevalence of underweight, weight for age, female (% of children under 5)
Prevalence of underweight, weight for age, male (% of children under 5)
Prevalence of wasting, weight for height, female (% of children under 5)
Prevalence of wasting, weight for height, male (% of children under 5)
Primary government expenditures as a proportion of original approved budget (%)
Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)
Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)
Public and publicly guaranteed debt service (% of exports of goods, services and primary income)
Public and publicly guaranteed debt service (% of GNI)
Public private partnerships investment in energy (current US$)
Public private partnerships investment in transport (current US$)
Public private partnerships investment in water and sanitation (current US$)
Real effective exchange rate index (2010 = 100)
Real interest rate (%)
Risk premium on lending (lending rate minus treasury bill rate, %)
Short-term debt (% of exports of goods, services and primary income)
Short-term debt (% of total external debt)
Short-term debt (% of total reserves)
Source data assessment of statistical capacity (scale 0 - 100)
Statistical Capacity Score (Overall Average) (scale 0 - 100)
Technicians in R&D (per million people)
Time required to obtain an operating license (days)
Total debt service (% of exports of goods, services and primary income)
Total debt service (% of GNI)
Total reserves (% of total external debt)
Trained teachers in primary education (% of total teachers)
Trained teachers in primary education, female (% of female teachers)
Trained teachers in primary education, male (% of male teachers)
Unmet need for contraception (% of married women ages 15-49)
Use of IMF credit (DOD, current US$)
Women who believe a husband is justified in beating his wife (any of five reasons) (%)
Women who were first married by age 15 (% of women ages 20-24)
Women who were first married by age 18 (% of women ages 20-24)
Women's share of population ages 15+ living with HIV (%)
Young people (ages 15-24) newly infected with HIV
Adequacy of social insurance programs (% of total welfare of beneficiary households)
Adequacy of social protection and labor programs (% of total welfare of beneficiary households)
Adequacy of social safety net programs (% of total welfare of beneficiary households)
Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households)
Annualized average growth rate in per capita real survey mean consumption or income, bottom 40% of population (%)
Annualized average growth rate in per capita real survey mean consumption or income, total population (%)
Benefit incidence of social insurance programs to poorest quintile (% of total social insurance benefits)
Benefit incidence of social protection and labor programs to poorest quintile (% of total SPL benefits)
Benefit incidence of social safety net programs to poorest quintile (% of total safety net benefits)
Benefit incidence of unemployment benefits and ALMP to poorest quintile (% of total U/ALMP benefits)
Children in employment, self-employed (% of children in employment, ages 7-14)
Children in employment, self-employed, female (% of female children in employment, ages 7-14)
Children in employment, self-employed, male (% of male children in employment, ages 7-14)
Compensation of employees (% of expense)
Compensation of employees (current LCU)
Completeness of death registration with cause-of-death information (%)
Coverage of social insurance programs (% of population)
Coverage of social insurance programs in 2nd quintile (% of population)
Coverage of social insurance programs in 3rd quintile (% of population)
Coverage of social insurance programs in 4th quintile (% of population)
Coverage of social insurance programs in poorest quintile (% of population)
Coverage of social insurance programs in richest quintile (% of population)
Coverage of social protection and labor programs (% of population)
Coverage of social safety net programs (% of population)
Coverage of social safety net programs in 2nd quintile (% of population)
Coverage of social safety net programs in 3rd quintile (% of population)
Coverage of social safety net programs in 4th quintile (% of population)
Coverage of social safety net programs in poorest quintile (% of population)
Coverage of social safety net programs in richest quintile (% of population)
Coverage of unemployment benefits and ALMP (% of population)
Coverage of unemployment benefits and ALMP in 2nd quintile (% of population)
Coverage of unemployment benefits and ALMP in 3rd quintile (% of population)
Coverage of unemployment benefits and ALMP in 4th quintile (% of population)
Coverage of unemployment benefits and ALMP in poorest quintile (% of population)
Coverage of unemployment benefits and ALMP in richest quintile (% of population)
Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)
Depositors with commercial banks (per 1,000 adults)
Domestic credit provided by financial sector (% of GDP)
Expenditure on primary education (% of government expenditure on education)
Expenditure on secondary education (% of government expenditure on education)
Expense (% of GDP)
Expense (current LCU)
Female share of employment in senior and middle management (%)
Firms experiencing electrical outages (% of firms)
Firms experiencing losses due to theft and vandalism (% of firms)
Firms that spend on R&D (% of firms)
Firms visited or required meetings with tax officials (% of firms)
Firms with female top manager (% of firms)
Goods and services expense (% of expense)
Goods and services expense (current LCU)
Interest payments (% of expense)
Losses due to theft and vandalism (% of annual sales of affected firms)
Net acquisition of financial assets (% of GDP)
Net acquisition of financial assets (current LCU)
Net bilateral aid flows from DAC donors, Slovak Republic (current US$)
Net incurrence of liabilities, total (% of GDP)
Net incurrence of liabilities, total (current LCU)
Net investment in nonfinancial assets (% of GDP)
Net investment in nonfinancial assets (current LCU)
Net lending (+) / net borrowing (-) (% of GDP)
Net lending (+) / net borrowing (-) (current LCU)
Net ODA received (% of central government expense)
Number of visits or required meetings with tax officials (average for affected firms)
Other expense (% of expense)
Other expense (current LCU)
PNG, bonds (NFL, current US$)
Population living in slums (% of urban population)
Public private partnerships investment in ICT (current US$)
S&P Global Equity Indices (annual % change)
Subsidies and other transfers (% of expense)
Subsidies and other transfers (current LCU)
Survey mean consumption or income per capita, bottom 40% of population (2011 PPP $ per day)
Survey mean consumption or income per capita, total population (2011 PPP $ per day)
Value lost due to electrical outages (% of sales for affected firms)
Average transaction cost of sending remittances from a specific country (%)
Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)
Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)
Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)
Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative)
Educational attainment, at least completed post-secondary, population 25+, male (%) (cumulative)
Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)
Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)
Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)
Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)
Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)
Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)
Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)
Multidimensional poverty headcount ratio (% of total population)
Multidimensional poverty headcount ratio, children (% of population ages 0-17)
Multidimensional poverty headcount ratio, female (% of female population)
Multidimensional poverty headcount ratio, male (% of male population)
Net ODA provided to the least developed countries (% of GNI)
Net ODA provided, to the least developed countries (current US$)
Net ODA provided, total (% of GNI)
Net ODA provided, total (constant 2015 US$)
Net ODA provided, total (current US$)
Net primary income (Net income from abroad) (constant LCU)
Number of surgical procedures (per 100,000 population)
Proportion of women subjected to physical and/or sexual violence in the last 12 months (% of ever-partnered women ages 15-49)
Wholesale price index (2010 = 100)
Central government debt, total (% of GDP)

Indicator,Country,Year,Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)",...,Urban population growth (annual %),Urban population living in areas where elevation is below 5 meters (% of total population),"Vulnerable employment, female (% of female employment) (modeled ILO estimate)","Vulnerable employment, male (% of male employment) (modeled ILO estimate)","Vulnerable employment, total (% of total employment) (modeled ILO estimate)","Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)","Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",Women Business and the Law Index Score (scale 1-100)
352,DEU,1990,100.0,100.0,100.0,100.0,100.0,100.0,98.133621,98.704536,...,1.056365,3.031776,5.700000,4.800000,5.170000,92.050003,89.110001,90.330002,54.519497,71.250
353,DEU,1991,100.0,100.0,100.0,100.0,100.0,100.0,98.133621,98.704536,...,0.934908,3.029378,5.700000,4.800000,5.170000,92.050003,89.110001,90.330002,54.519497,71.250
354,DEU,1992,100.0,100.0,100.0,100.0,100.0,100.0,98.133621,98.704536,...,0.884470,3.026980,5.740000,4.930000,5.270000,91.910004,88.589996,89.970001,54.519497,71.250
355,DEU,1993,100.0,100.0,100.0,100.0,100.0,100.0,98.133621,98.704536,...,0.843967,3.024581,5.850000,5.040000,5.380000,91.669998,88.250000,89.669998,56.039631,71.250
356,DEU,1994,100.0,100.0,100.0,100.0,100.0,100.0,98.133621,98.704536,...,0.636245,3.022183,5.610000,5.200000,5.370000,91.629997,87.739998,89.370003,57.559764,71.250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,CHN,2017,73.2,55.2,86.2,100.0,100.0,100.0,80.229118,76.364731,...,2.739664,4.203002,46.530001,42.949999,44.530002,52.430000,54.169998,53.400002,21.358958,75.625
252,CHN,2018,75.6,59.0,87.4,100.0,100.0,100.0,80.229118,76.364731,...,2.503401,4.203002,45.720001,41.940001,43.609999,53.209999,55.139999,54.290001,21.358958,75.625
253,CHN,2019,77.6,61.9,88.4,100.0,100.0,100.0,80.229118,76.364731,...,2.290177,4.203002,44.760000,40.819999,42.540000,54.150002,56.279999,55.340000,21.358958,75.625
254,CHN,2020,79.4,65.2,89.4,100.0,100.0,100.0,80.229118,76.364731,...,2.066047,4.203002,44.760000,40.819999,42.540000,54.150002,56.279999,55.340000,21.358958,75.625
255,CHN,2021,79.4,65.2,89.4,100.0,100.0,100.0,80.229118,76.364731,...,2.066047,4.203002,44.760000,40.819999,42.540000,54.150002,56.279999,55.340000,21.358958,75.625

As a result we have dropped the *Gender equality* and *Mortality-pollution* variables.

In [32]:
columns=data.columns.values.tolist()

In [33]:
datae=data.loc[data.loc[:, 'Country'] == country_list[0]]
for i in range(2,len(columns)):
    a=columns[i]
    datae[a]=datae[a]/datae.iloc[0,i]
datau=datae

In [34]:
for u in range(1,len(country_list)):
    datae=data.loc[data.loc[:, 'Country'] == country_list[u]]   
    for i in range(2,len(columns)):
        a=columns[i]
        datae[a]=datae[a]/datae.iloc[0,i]
    datau=pd.concat((datau, datae), axis = 0)
data=datau
data

Indicator,Country,Year,Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)",...,Urban population growth (annual %),Urban population living in areas where elevation is below 5 meters (% of total population),"Vulnerable employment, female (% of female employment) (modeled ILO estimate)","Vulnerable employment, male (% of male employment) (modeled ILO estimate)","Vulnerable employment, total (% of total employment) (modeled ILO estimate)","Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)","Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",Women Business and the Law Index Score (scale 1-100)
352,DEU,1990,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
353,DEU,1991,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,...,0.885023,0.999209,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
354,DEU,1992,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,...,0.837277,0.998418,1.007018,1.027083,1.019342,0.998479,0.994164,0.996015,1.000000,1.000000
355,DEU,1993,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,...,0.798935,0.997627,1.026316,1.050000,1.040619,0.995872,0.990349,0.992693,1.027882,1.000000
356,DEU,1994,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,...,0.602296,0.996836,0.984210,1.083333,1.038685,0.995437,0.984626,0.989372,1.055765,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,CHN,2017,1.742857,2.348936,1.261156,1.030696,1.048707,1.0,1.257169,1.272562,...,0.635700,1.362819,0.707250,0.617275,0.656204,1.555786,1.984976,1.768798,8.610987,1.273684
252,CHN,2018,1.800000,2.510638,1.278713,1.030696,1.048707,1.0,1.257169,1.272562,...,0.580879,1.362819,0.694938,0.602759,0.642647,1.578932,2.020520,1.798278,8.610987,1.273684
253,CHN,2019,1.847619,2.634043,1.293343,1.030696,1.048707,1.0,1.257169,1.272562,...,0.531403,1.362819,0.680347,0.586663,0.626879,1.606825,2.062294,1.833057,8.610987,1.273684
254,CHN,2020,1.890476,2.774468,1.307974,1.030696,1.048707,1.0,1.257169,1.272562,...,0.479397,1.362819,0.680347,0.586663,0.626879,1.606825,2.062294,1.833057,8.610987,1.273684
255,CHN,2021,1.890476,2.774468,1.307974,1.030696,1.048707,1.0,1.257169,1.272562,...,0.479397,1.362819,0.680347,0.586663,0.626879,1.606825,2.062294,1.833057,8.610987,1.273684

For the next part of analyzing this data, we think it is gonna be interesting to have it classify by the categories of the Country groups defined before, to which we call "Continent". This category is useful as it groups the nations with similar economies or geographical proximity, so we can extract common conclusions from them.

We create a dictionary with the regions and the countries included in each one. Where we will relate the countries and regions so then we can apply the .map function and arrive to the final dataframe.

In [139]:
countries_by_region = {
    "Europe": ('DEU','FRA','SWE','GBR','ESP','HRV','POL','GRC','AUT','NLD'),
    'Persian Gulf': ('IRQ','QAT','ARE','SAU','AZE','YEM','YDR','OMN'),
    'North Africa':('DZA','EGY','LBY','ISR','TUR','MAR'),
    'South Africa':('SEN','ZAF','LBR','MOZ','CMR','NGA','GHA'),
    'Asia':('BGD','IND','VNM','THA','IDN','PHL','KOR'),
    'Latam':('MEX','BRA','ARG','PER','VEN','COL','CHL','PAN','CRI'),
    'Pair':('USA','CHN')
    }

all_countries = {}
for region in countries_by_region.keys():
  for country in countries_by_region[region]:
    all_countries[country] = region

print(all_countries)

{'DEU': 'Europe', 'FRA': 'Europe', 'SWE': 'Europe', 'GBR': 'Europe', 'ESP': 'Europe', 'HRV': 'Europe', 'POL': 'Europe', 'GRC': 'Europe', 'AUT': 'Europe', 'NLD': 'Europe', 'IRQ': 'Persian Gulf', 'QAT': 'Persian Gulf', 'ARE': 'Persian Gulf', 'SAU': 'Persian Gulf', 'AZE': 'Persian Gulf', 'YEM': 'Persian Gulf', 'YDR': 'Persian Gulf', 'OMN': 'Persian Gulf', 'DZA': 'North Africa', 'EGY': 'North Africa', 'LBY': 'North Africa', 'ISR': 'North Africa', 'TUR': 'North Africa', 'MAR': 'North Africa', 'SEN': 'South Africa', 'ZAF': 'South Africa', 'LBR': 'South Africa', 'MOZ': 'South Africa', 'CMR': 'South Africa', 'NGA': 'South Africa', 'GHA': 'South Africa', 'BGD': 'Asia', 'IND': 'Asia', 'VNM': 'Asia', 'THA': 'Asia', 'IDN': 'Asia', 'PHL': 'Asia', 'KOR': 'Asia', 'MEX': 'Latam', 'BRA': 'Latam', 'ARG': 'Latam', 'PER': 'Latam', 'VEN': 'Latam', 'COL': 'Latam', 'CHL': 'Latam', 'PAN': 'Latam', 'CRI': 'Latam', 'USA': 'Pair', 'CHN': 'Pair'}

In [140]:
data['Continent']=data['Country'].map(all_countries)
Goldendataframe=data
Goldendataframe

Indicator,Country,Year,Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)",...,Urban population living in areas where elevation is below 5 meters (% of total population),"Vulnerable employment, female (% of female employment) (modeled ILO estimate)","Vulnerable employment, male (% of male employment) (modeled ILO estimate)","Vulnerable employment, total (% of total employment) (modeled ILO estimate)","Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)","Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",Women Business and the Law Index Score (scale 1-100),Continent
352,DEU,1990,1.000,1.000,1.000,1.0,1.0,1.0,1.00000,1.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,Europe
353,DEU,1991,1.000,1.000,1.000,1.0,1.0,1.0,1.00000,1.00000,...,0.999209,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,Europe
354,DEU,1992,1.000,1.000,1.000,1.0,1.0,1.0,1.00000,1.00000,...,0.998418,1.007018,1.027083,1.019342,0.998479,0.994164,0.996015,1.000000,1.000000,Europe
355,DEU,1993,1.000,1.000,1.000,1.0,1.0,1.0,1.00000,1.00000,...,0.997627,1.026316,1.050000,1.040619,0.995872,0.990349,0.992693,1.027882,1.000000,Europe
356,DEU,1994,1.000,1.000,1.000,1.0,1.0,1.0,1.00000,1.00000,...,0.996836,0.984210,1.083333,1.038685,0.995437,0.984626,0.989372,1.055765,1.000000,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,CHN,2017,0.732,0.552,0.862,1.0,1.0,1.0,0.81755,0.77367,...,1.386317,8.163158,8.947917,8.613153,0.569582,0.607900,0.591166,0.391767,1.061404,Pair
252,CHN,2018,0.756,0.590,0.874,1.0,1.0,1.0,0.81755,0.77367,...,1.386317,8.021053,8.737500,8.435203,0.578055,0.618786,0.601018,0.391767,1.061404,Pair
253,CHN,2019,0.776,0.619,0.884,1.0,1.0,1.0,0.81755,0.77367,...,1.386317,7.852632,8.504167,8.228240,0.588267,0.631579,0.612643,0.391767,1.061404,Pair
254,CHN,2020,0.794,0.652,0.894,1.0,1.0,1.0,0.81755,0.77367,...,1.386317,7.852632,8.504167,8.228240,0.588267,0.631579,0.612643,0.391767,1.061404,Pair
255,CHN,2021,0.794,0.652,0.894,1.0,1.0,1.0,0.81755,0.77367,...,1.386317,7.852632,8.504167,8.228240,0.588267,0.631579,0.612643,0.391767,1.061404,Pair

With that all, we export our dataframe all-in-one and by the continent category.

In [141]:
Goldendataframe.to_csv(os.getcwd()+'/Data/GoldenDataFrame.csv')

In [142]:
for region, data in Goldendataframe.groupby('Continent'):
   data.to_csv(os.getcwd()+'/Data/{}.csv'.format(region))

CATEGORISATION OF VARIABLES FOR A DEEPER STUDY

In [143]:
#Pivot dataframe for having all variables inside the same column for better treatment.
columns_golden=list(Goldendataframe.columns)
del columns_golden[0:2]

In [144]:
Categorization=Goldendataframe.set_index(['Country','Year', 'Continent']).stack().reset_index()
Categorization.rename(columns={'Indicator':'Indicator Name','0':'Value'},inplace=True)
Categorization

,Country,Year,Continent,Indicator Name,0
0,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000
1,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000
2,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000
3,DEU,1990,Europe,Access to electricity (% of population),1.000000
4,DEU,1990,Europe,"Access to electricity, rural (% of rural popul...",1.000000
...,...,...,...,...,...
1511898,CHN,2021,Pair,"Wage and salaried workers, female (% of female...",0.588267
1511899,CHN,2021,Pair,"Wage and salaried workers, male (% of male emp...",0.631579
1511900,CHN,2021,Pair,"Wage and salaried workers, total (% of total e...",0.612643
1511901,CHN,2021,Pair,"Water productivity, total (constant 2015 US$ G...",0.391767
1511902,CHN,2021,Pair,Women Business and the Law Index Score (scale ...,1.061404

In [145]:
#For indicators with many units, just keeping the US$.
discard=["annual % growth","constant 2015 US$","% of GNI","constant LCU","current LCU"]
Categorization[~Categorization['Indicator Name'].str.contains('|'.join(discard))]

,Country,Year,Continent,Indicator Name,0
0,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000
1,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000
2,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000
3,DEU,1990,Europe,Access to electricity (% of population),1.000000
4,DEU,1990,Europe,"Access to electricity, rural (% of rural popul...",1.000000
...,...,...,...,...,...
1511898,CHN,2021,Pair,"Wage and salaried workers, female (% of female...",0.588267
1511899,CHN,2021,Pair,"Wage and salaried workers, male (% of male emp...",0.631579
1511900,CHN,2021,Pair,"Wage and salaried workers, total (% of total e...",0.612643
1511901,CHN,2021,Pair,"Water productivity, total (constant 2015 US$ G...",0.391767
1511902,CHN,2021,Pair,Women Business and the Law Index Score (scale ...,1.061404

In [146]:
#To check previous step:
#BronzeDataFrame.apply(lambda row: row.astype(str).str.contains('LCU').any(), axis=1)

In [147]:
#Make a new column with the units, that correspond to the string inside the first parenthesis of the indicator name column.
Categorization['Units']=Categorization['Indicator Name'].str.extract('(\(.*\))')
Categorization

,Country,Year,Continent,Indicator Name,0,Units
0,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of population)
1,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of rural population)
2,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of urban population)
3,DEU,1990,Europe,Access to electricity (% of population),1.000000,(% of population)
4,DEU,1990,Europe,"Access to electricity, rural (% of rural popul...",1.000000,(% of rural population)
...,...,...,...,...,...,...
1511898,CHN,2021,Pair,"Wage and salaried workers, female (% of female...",0.588267,(% of female employment) (modeled ILO estimate)
1511899,CHN,2021,Pair,"Wage and salaried workers, male (% of male emp...",0.631579,(% of male employment) (modeled ILO estimate)
1511900,CHN,2021,Pair,"Wage and salaried workers, total (% of total e...",0.612643,(% of total employment) (modeled ILO estimate)
1511901,CHN,2021,Pair,"Water productivity, total (constant 2015 US$ G...",0.391767,(constant 2015 US$ GDP per cubic meter of tota...
1511902,CHN,2021,Pair,Women Business and the Law Index Score (scale ...,1.061404,(scale 1-100)

In [148]:
#Delete the extracted information from origin column. 
Categorization['Indicator Name']=Categorization['Indicator Name'].str.replace(r"\(.*\)","")
Categorization

,Country,Year,Continent,Indicator Name,0,Units
0,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of population)
1,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of rural population)
2,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of urban population)
3,DEU,1990,Europe,Access to electricity,1.000000,(% of population)
4,DEU,1990,Europe,"Access to electricity, rural",1.000000,(% of rural population)
...,...,...,...,...,...,...
1511898,CHN,2021,Pair,"Wage and salaried workers, female",0.588267,(% of female employment) (modeled ILO estimate)
1511899,CHN,2021,Pair,"Wage and salaried workers, male",0.631579,(% of male employment) (modeled ILO estimate)
1511900,CHN,2021,Pair,"Wage and salaried workers, total",0.612643,(% of total employment) (modeled ILO estimate)
1511901,CHN,2021,Pair,"Water productivity, total",0.391767,(constant 2015 US$ GDP per cubic meter of tota...
1511902,CHN,2021,Pair,Women Business and the Law Index Score,1.061404,(scale 1-100)

In [149]:
#Checking cases of two parenthesis
two_parent=Categorization[Categorization['Indicator Name'].str.contains('Contributing family workers')]
two_parent

,Country,Year,Continent,Indicator Name,0,Units
151,DEU,1990,Europe,"Contributing family workers, female",1.000000,(% of female employment) (modeled ILO estimate)
152,DEU,1990,Europe,"Contributing family workers, male",1.000000,(% of male employment) (modeled ILO estimate)
153,DEU,1990,Europe,"Contributing family workers, total",1.000000,(% of total employment) (modeled ILO estimate)
1151,DEU,1991,Europe,"Contributing family workers, female",1.000000,(% of female employment) (modeled ILO estimate)
1152,DEU,1991,Europe,"Contributing family workers, male",1.000000,(% of male employment) (modeled ILO estimate)
...,...,...,...,...,...,...
1510141,CHN,2020,Pair,"Contributing family workers, male",14.564103,(% of male employment) (modeled ILO estimate)
1510142,CHN,2020,Pair,"Contributing family workers, total",7.096551,(% of total employment) (modeled ILO estimate)
1511094,CHN,2021,Pair,"Contributing family workers, female",5.481356,(% of female employment) (modeled ILO estimate)
1511095,CHN,2021,Pair,"Contributing family workers, male",14.564103,(% of male employment) (modeled ILO estimate)
1511096,CHN,2021,Pair,"Contributing family workers, total",7.096551,(% of total employment) (modeled ILO estimate)

In [150]:
#As there were variables with more than one parentheses element, we are going to separate them since they are not related to units. They go into Other specification column, although it is not relevant for our study.
Categorization[['Units','Other specification']]=Categorization['Units'].str.split("\) ", n=1,expand=True)
Categorization

,Country,Year,Continent,Indicator Name,0,Units,Other specification
0,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of population),None
1,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of rural population),None
2,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of urban population),None
3,DEU,1990,Europe,Access to electricity,1.000000,(% of population),None
4,DEU,1990,Europe,"Access to electricity, rural",1.000000,(% of rural population),None
...,...,...,...,...,...,...,...
1511898,CHN,2021,Pair,"Wage and salaried workers, female",0.588267,(% of female employment,(modeled ILO estimate)
1511899,CHN,2021,Pair,"Wage and salaried workers, male",0.631579,(% of male employment,(modeled ILO estimate)
1511900,CHN,2021,Pair,"Wage and salaried workers, total",0.612643,(% of total employment,(modeled ILO estimate)
1511901,CHN,2021,Pair,"Water productivity, total",0.391767,(constant 2015 US$ GDP per cubic meter of tota...,None
1511902,CHN,2021,Pair,Women Business and the Law Index Score,1.061404,(scale 1-100),None

In [151]:
#Checking of previous step, as not all of them have this second element.
Categorization['Other specification'].unique()

array([None, nan, '(per 100,000 adults)', '(modeled ILO estimate)',
       '(cumulative)', '(national estimate)',
       'per $1,000 GDP (constant 2017 PPP)', '(constant 2015 US$)',
       '(constant LCU)', '(current LCU)', '(current US$)', '(scale 0-1)',
       'poverty line due to out-of-pocket health care expenditure (% of poverty line)',
       'poverty line due to out-of-pocket health care expenditure (USD)',
       '(%)', '(% of population)',
       'poverty line by out-of-pocket health care expenditure (%)'],
      dtype=object)

In [152]:
#Getting the subclassification of some variables that have information divided for small groups. These categorization is specified at the end of the variable separated by a ",".
Categorization[['Subgroup']]=Categorization['Indicator Name'].str.extract(',(?P<field>[^,]*?)$')
Categorization

,Country,Year,Continent,Indicator Name,0,Units,Other specification,Subgroup
0,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of population),None,NaN
1,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of rural population),None,rural
2,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of urban population),None,urban
3,DEU,1990,Europe,Access to electricity,1.000000,(% of population),None,NaN
4,DEU,1990,Europe,"Access to electricity, rural",1.000000,(% of rural population),None,rural
...,...,...,...,...,...,...,...,...
1511898,CHN,2021,Pair,"Wage and salaried workers, female",0.588267,(% of female employment,(modeled ILO estimate),female
1511899,CHN,2021,Pair,"Wage and salaried workers, male",0.631579,(% of male employment,(modeled ILO estimate),male
1511900,CHN,2021,Pair,"Wage and salaried workers, total",0.612643,(% of total employment,(modeled ILO estimate),total
1511901,CHN,2021,Pair,"Water productivity, total",0.391767,(constant 2015 US$ GDP per cubic meter of tota...,None,total
1511902,CHN,2021,Pair,Women Business and the Law Index Score,1.061404,(scale 1-100),None,NaN

In [153]:
#Delete the extracted information from origin column. 
Categorization['Indicator Name']=Categorization['Indicator Name'].str.replace(',(?P<field>[^,]*?)$',"")
Categorization

,Country,Year,Continent,Indicator Name,0,Units,Other specification,Subgroup
0,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of population),None,NaN
1,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of rural population),None,rural
2,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of urban population),None,urban
3,DEU,1990,Europe,Access to electricity,1.000000,(% of population),None,NaN
4,DEU,1990,Europe,Access to electricity,1.000000,(% of rural population),None,rural
...,...,...,...,...,...,...,...,...
1511898,CHN,2021,Pair,Wage and salaried workers,0.588267,(% of female employment,(modeled ILO estimate),female
1511899,CHN,2021,Pair,Wage and salaried workers,0.631579,(% of male employment,(modeled ILO estimate),male
1511900,CHN,2021,Pair,Wage and salaried workers,0.612643,(% of total employment,(modeled ILO estimate),total
1511901,CHN,2021,Pair,Water productivity,0.391767,(constant 2015 US$ GDP per cubic meter of tota...,None,total
1511902,CHN,2021,Pair,Women Business and the Law Index Score,1.061404,(scale 1-100),None,NaN

In [154]:
#Checking of previous step, as not all of them have this second element.
Categorization['Subgroup']=Categorization['Subgroup'].replace(['None'],['total'])
Categorization['Subgroup']=Categorization['Subgroup'].fillna('total')
Categorization.drop(columns='Other specification', inplace=True)

In [155]:
Categorization['Indicator Name'].unique()

array(['Access to clean fuels and technologies for cooking ',
       'Access to clean fuels and technologies for cooking',
       'Access to electricity ', 'Access to electricity',
       'Account ownership at a financial institution or with a mobile-money-service provider ',
       'Account ownership at a financial institution or with a mobile-money-service provider',
       'Adjusted net enrollment rate',
       'Adjusted net enrollment rate, primary',
       'Adjusted net national income ',
       'Adjusted net national income per capita ', 'Adjusted net savings',
       'Adjusted savings: carbon dioxide damage ',
       'Adjusted savings: consumption of fixed capital ',
       'Adjusted savings: education expenditure ',
       'Adjusted savings: energy depletion ',
       'Adjusted savings: gross savings ',
       'Adjusted savings: mineral depletion ',
       'Adjusted savings: natural resources depletion ',
       'Adjusted savings: net national savings ',
       'Adjusted savings: particulate emission damage ',
       'Adolescent fertility rate ', 'Adolescents out of school ',
       'Adolescents out of school', 'Age dependency ratio ',
       'Age dependency ratio', 'Agricultural irrigated land ',
       'Agricultural land ', 'Agricultural machinery',
       'Agricultural methane emissions ',
       'Agricultural nitrous oxide emissions ',
       'Agricultural raw materials exports ',
       'Agricultural raw materials imports ',
       'Agriculture, forestry, and fishing', 'Air transport',
       'Alternative and nuclear energy ', 'Annual freshwater withdrawals',
       'Aquaculture production ', 'Arable land ',
       'Armed forces personnel ', 'Armed forces personnel',
       'Arms exports ', 'Arms imports ', 'Automated teller machines ',
       'Average precipitation in depth ',
       'Average time to clear exports through customs ',
       'Binding coverage', 'Bird species', 'Birth rate',
       'Births attended by skilled health staff ',
       'Bound rate, simple mean', 'Business extent of disclosure index ',
       'CO2 emissions ',
       'CO2 emissions from electricity and heat production',
       'CO2 emissions from gaseous fuel consumption ',
       'CO2 emissions from liquid fuel consumption ',
       'CO2 emissions from manufacturing industries and construction ',
       'CO2 emissions from other sectors',
       'CO2 emissions from residential buildings and commercial and public services ',
       'CO2 emissions from solid fuel consumption ',
       'CO2 emissions from transport ', 'CO2 intensity ',
       'Capture fisheries production ',
       'Cause of death, by communicable diseases and maternal',
       'Cause of death', 'Cereal production ', 'Cereal yield ',
       'Changes in inventories ',
       'Charges for the use of intellectual property', 'Chemicals ',
       'Children out of school ', 'Children out of school',
       'Children out of school, primary', 'Claims on central government',
       'Coal rents ', 'Combustible renewables and waste ',
       'Commercial bank branches ', 'Commercial service exports ',
       'Commercial service imports ', 'Communications, computer',
       'Completeness of birth registration ',
       'Completeness of birth registration', 'Compulsory education',
       'Computer', 'Consumer price index ', 'Container port traffic ',
       'Contraceptive prevalence', 'Contributing family workers',
       'Cost of business start-up procedures ',
       'Cost of business start-up procedures', 'Cost to export',
       'Crop production index ', 'Current account balance ',
       'Current education expenditure', 'Current health expenditure ',
       'Current health expenditure per capita ',
       'Current health expenditure per capita',
       'DEC alternative conversion factor ', 'Death rate',
       'Depth of credit information index ', 'Diabetes prevalence ',
       'Domestic credit to private sector ',
       'Domestic credit to private sector by banks ',
       'Domestic general government health expenditure ',
       'Domestic general government health expenditure per capita ',
       'Domestic general government health expenditure per capita',
       'Domestic private health expenditure ',
       'Domestic private health expenditure per capita ',
       'Domestic private health expenditure per capita',
       'Droughts, floods', 'Ease of doing business rank ',
       'Ease of doing business score ',
       'Educational attainment, at least completed lower secondary, population 25+',
       'Educational attainment, at least completed primary, population 25+ years',
       'Educational attainment, at least completed short-cycle tertiary, population 25+',
       'Educational attainment, at least completed upper secondary, population 25+',
       'Electric power consumption ',
       'Electric power transmission and distribution losses ',
       'Electricity production from coal sources ',
       'Electricity production from hydroelectric sources ',
       'Electricity production from natural gas sources ',
       'Electricity production from nuclear sources ',
       'Electricity production from oil sources ',
       'Electricity production from oil',
       'Electricity production from renewable sources', 'Employers',
       'Employment in agriculture ', 'Employment in agriculture',
       'Employment in industry ', 'Employment in industry',
       'Employment in services ', 'Employment in services',
       'Employment to population ratio, 15+',
       'Employment to population ratio, ages 15-24', 'Energy imports',
       'Energy intensity level of primary energy ',
       'Energy related methane emissions ', 'Energy use ',
       'Expenditure on tertiary education ', 'Export unit value index ',
       'Export value index ', 'Export volume index ',
       'Exports as a capacity to import ',
       'Exports of goods and services ', 'Exports of goods',
       'External balance on goods and services ', 'Fertility rate',
       'Fertilizer consumption ', 'Final consumption expenditure ',
       'Firms expected to give gifts in meetings with tax officials ',
       'Firms offering formal training ',
       'Firms using banks to finance investment ',
       'Firms using banks to finance working capital ',
       'Firms with female participation in ownership ', 'Fish species',
       'Fixed broadband subscriptions', 'Fixed broadband subscriptions ',
       'Fixed telephone subscriptions', 'Fixed telephone subscriptions ',
       'Food exports ', 'Food imports ', 'Food production index ', 'Food',
       'Foreign direct investment', 'Forest area ', 'Forest rents ',
       'Fossil fuel energy consumption ', 'Fuel exports ',
       'Fuel imports ', 'GDP ', 'GDP deflator ',
       'GDP deflator: linked series ', 'GDP growth ', 'GDP per capita ',
       'GDP per capita growth ', 'GDP per capita',
       'GDP per person employed ', 'GDP per unit of energy use ', 'GDP',
       'GDP: linked series ', 'GHG net emissions/removals by LUCF ',
       'GNI ', 'GNI growth ', 'GNI per capita ', 'GNI per capita growth ',
       'GNI per capita', 'GNI', 'GNI: linked series ',
       'General government final consumption expenditure ', 'Gini index',
       'Goods exports ', 'Goods imports ',
       'Government expenditure on education',
       'Government expenditure per student', 'Grants and other revenue ',
       'Gross capital formation ', 'Gross domestic income ',
       'Gross domestic savings ', 'Gross fixed capital formation ',
       'Gross intake ratio in first grade of primary education',
       'Gross national expenditure ',
       'Gross national expenditure deflator ', 'Gross savings ',
       'Gross value added at basic prices ', 'HFC gas emissions ',
       'High-technology exports ', 'Hospital beds ',
       'Households and NPISHs Final consumption expenditure ',
       'Households and NPISHs Final consumption expenditure per capita ',
       'Households and NPISHs Final consumption expenditure per capita growth ',
       'Households and NPISHs Final consumption expenditure',
       'Households and NPISHs final consumption expenditure ',
       'Households and NPISHs final consumption expenditure: linked series ',
       'Human capital index ', 'ICT goods exports ', 'ICT goods imports ',
       'ICT service exports ', 'Immunization', 'Import unit value index ',
       'Import value index ', 'Import volume index ',
       'Imports of goods and services ', 'Imports of goods',
       'Incidence of tuberculosis ', 'Income share held by fourth 20%',
       'Income share held by highest 10%',
       'Income share held by highest 20%',
       'Income share held by lowest 10%',
       'Income share held by lowest 20%',
       'Income share held by second 20%',
       'Income share held by third 20%',
       'Increase in poverty gap at $1.90 ',
       'Increase in poverty gap at $3.20 ',
       'Individuals using the Internet ',
       'Industrial design applications, nonresident',
       'Industrial design applications, resident', 'Industry ',
       'Inflation', 'Insurance and financial services ',
       'Intentional homicides ', 'Interest payments ',
       'Internally displaced persons', 'International migrant stock ',
       'International migrant stock', 'International tourism',
       'Labor force participation rate for ages 15-24',
       'Labor force participation rate',
       'Labor force with advanced education ',
       'Labor force with advanced education',
       'Labor force with basic education ',
       'Labor force with basic education',
       'Labor force with intermediate education ',
       'Labor force with intermediate education', 'Labor force',
       'Labor tax and contributions ', 'Land area ',
       'Land area where elevation is below 5 meters ',
       'Land under cereal production ', 'Lead time to export',
       'Lead time to import',
       'Level of water stress: freshwater withdrawal as a proportion of available freshwater resources',
       'Life expectancy at birth', 'Lifetime risk of maternal death ',
       'Liner shipping connectivity index ', 'Listed domestic companies',
       'Livestock production index ',
       'Logistics performance index: Ability to track and trace consignments ',
       'Logistics performance index: Competence and quality of logistics services ',
       'Logistics performance index: Ease of arranging competitively priced shipments ',
       'Logistics performance index: Efficiency of customs clearance process ',
       'Logistics performance index: Frequency with which shipments reach consignee within scheduled or expected time ',
       'Logistics performance index: Overall ',
       'Logistics performance index: Quality of trade and transport-related infrastructure ',
       'Low-birthweight babies ', 'Lower secondary completion rate',
       'Lower secondary school starting age ',
       'Machinery and transport equipment ', 'Mammal species',
       'Manufactures exports ', 'Manufactures imports ', 'Manufacturing',
       'Marine protected areas ',
       'Market capitalization of listed domestic companies ',
       'Maternal mortality ratio ', 'Medium and high-tech exports ',
       'Medium and high-tech manufacturing value added ',
       'Merchandise exports ',
       'Merchandise exports by the reporting economy ',
       'Merchandise exports by the reporting economy',
       'Merchandise exports to economies in the Arab World ',
       'Merchandise exports to high-income economies ',
       'Merchandise exports to low- and middle-income economies in East Asia & Pacific ',
       'Merchandise exports to low- and middle-income economies in Europe & Central Asia ',
       'Merchandise exports to low- and middle-income economies in Latin America & the Caribbean ',
       'Merchandise exports to low- and middle-income economies in Middle East & North Africa ',
       'Merchandise exports to low- and middle-income economies in South Asia ',
       'Merchandise exports to low- and middle-income economies in Sub-Saharan Africa ',
       'Merchandise exports to low- and middle-income economies outside region ',
       'Merchandise imports ',
       'Merchandise imports by the reporting economy ',
       'Merchandise imports by the reporting economy',
       'Merchandise imports from economies in the Arab World ',
       'Merchandise imports from high-income economies ',
       'Merchandise imports from low- and middle-income economies in East Asia & Pacific ',
       'Merchandise imports from low- and middle-income economies in Europe & Central Asia ',
       'Merchandise imports from low- and middle-income economies in Latin America & the Caribbean ',
       'Merchandise imports from low- and middle-income economies in Middle East & North Africa ',
       'Merchandise imports from low- and middle-income economies in South Asia ',
       'Merchandise imports from low- and middle-income economies in Sub-Saharan Africa ',
       'Merchandise imports from low- and middle-income economies outside region ',
       'Merchandise trade ', 'Methane emissions ',
       'Methane emissions in energy sector ', 'Military expenditure ',
       'Mineral rents ', 'Mobile cellular subscriptions',
       'Mobile cellular subscriptions ',
       'Monetary Sector credit to private sector ',
       'Mortality caused by road traffic injury ',
       'Mortality from CVD, cancer',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70',
       'Mortality rate attributed to household and ambient air pollution',
       'Mortality rate attributed to household and ambient air pollution, age-standardized',
       'Mortality rate attributed to unintentional poisoning ',
       'Mortality rate attributed to unintentional poisoning',
       'Mortality rate attributed to unsafe water',
       'Mortality rate, adult', 'Mortality rate',
       'Mortality rate, infant', 'Mortality rate, under-5',
       'Natural gas rents ', 'Net barter terms of trade index ',
       'Net capital account ', 'Net domestic credit ',
       'Net errors and omissions ', 'Net financial account ',
       'Net foreign assets ', 'Net migration', 'Net primary income ',
       'Net secondary income ', 'Net trade in goods ',
       'Net trade in goods and services ', 'New business density ',
       'New businesses registered ', 'Nitrous oxide emissions ',
       'Nitrous oxide emissions in energy sector ',
       'Number of deaths ages 10-14 years',
       'Number of deaths ages 15-19 years',
       'Number of deaths ages 20-24 years',
       'Number of deaths ages 5-9 years', 'Number of infant deaths',
       'Number of maternal deaths', 'Number of neonatal deaths',
       'Number of under-five deaths', 'Nurses and midwives ',
       'Official exchange rate ', 'Oil rents ',
       'Ores and metals exports ', 'Ores and metals imports ',
       'Other greenhouse gas emissions ',
       'Other greenhouse gas emissions, HFC', 'Other manufacturing ',
       'Other taxes payable by businesses ', 'Out-of-pocket expenditure ',
       'Out-of-pocket expenditure per capita ',
       'Out-of-pocket expenditure per capita', 'Over-age students',
       'Over-age students, primary', 'PFC gas emissions ',
       'PM2.5 air pollution', 'PM2.5 pollution', 'PPP conversion factor',
       'Part time employment', 'Patent applications',
       'People using at least basic drinking water services ',
       'People using at least basic drinking water services',
       'People using at least basic sanitation services ',
       'People using at least basic sanitation services',
       'People using safely managed sanitation services ',
       'Permanent cropland ', 'Persistence to last grade of primary',
       'Personal remittances', 'Personal transfers', 'Physicians ',
       'Plant species ', 'Population ages 0-14 ', 'Population ages 0-14',
       'Population ages 00-04', 'Population ages 05-09',
       'Population ages 10-14', 'Population ages 15-19',
       'Population ages 15-64 ', 'Population ages 15-64',
       'Population ages 20-24', 'Population ages 25-29',
       'Population ages 30-34', 'Population ages 35-39',
       'Population ages 40-44', 'Population ages 45-49',
       'Population ages 50-54', 'Population ages 55-59',
       'Population ages 60-64', 'Population ages 65 and above ',
       'Population ages 65 and above', 'Population ages 65-69',
       'Population ages 70-74', 'Population ages 75-79',
       'Population ages 80 and above', 'Population density ',
       'Population growth ', 'Population in largest city',
       'Population in the largest city ',
       'Population in urban agglomerations of more than 1 million',
       'Population in urban agglomerations of more than 1 million ',
       'Population living in areas where elevation is below 5 meters ',
       'Population', 'Portfolio equity', 'Portfolio investment',
       'Poverty gap at $5.50 a day ',
       'Poverty headcount ratio at $5.50 a day ',
       'Poverty headcount ratio at national poverty lines ',
       'Pregnant women receiving prenatal care ', 'Preprimary education',
       'Prevalence of anemia among children ',
       'Prevalence of anemia among non-pregnant women ',
       'Prevalence of anemia among pregnant women ',
       'Prevalence of anemia among women of reproductive age ',
       'Prevalence of current tobacco use ',
       'Prevalence of current tobacco use', 'Prevalence of overweight ',
       'Prevalence of overweight', 'Prevalence of stunting',
       'Prevalence of undernourishment ', 'Prevalence of underweight',
       'Prevalence of wasting',
       'Price level ratio of PPP conversion factor  to market exchange rate',
       'Primary completion rate', 'Primary education',
       'Primary income payments ', 'Primary income receipts ',
       'Primary school starting age ', 'Private credit bureau coverage ',
       'Probability of dying among adolescents ages 10-14 years ',
       'Probability of dying among adolescents ages 15-19 years ',
       'Probability of dying among children ages 5-9 years ',
       'Probability of dying among youth ages 20-24 years ',
       'Procedures to build a warehouse ',
       'Procedures to register property ', 'Profit tax ',
       'Progression to secondary school ',
       'Progression to secondary school',
       'Proportion of people living below 50 percent of median income ',
       'Proportion of population pushed below the $1.90 ',
       'Proportion of population pushed below the $3.20 ',
       'Proportion of population spending more than 10% of household consumption or income on out-of-pocket health care expenditure ',
       'Proportion of population spending more than 25% of household consumption or income on out-of-pocket health care expenditure ',
       'Proportion of seats held by women in national parliaments ',
       'Public credit registry coverage ', 'Pump price for diesel fuel ',
       'Pump price for gasoline ', 'Pupil-teacher ratio', 'Rail lines ',
       'Railways',
       'Ratio of female to male labor force participation rate ',
       'Refugee population by country or territory of asylum',
       'Refugee population by country or territory of origin',
       'Renewable electricity output ', 'Renewable energy consumption ',
       'Renewable internal freshwater resources per capita ',
       'Renewable internal freshwater resources', 'Repeaters, primary',
       'Research and development expenditure ', 'Researchers in R&D ',
       'Reserves and related items ', 'Revenue',
       'Risk of catastrophic expenditure for surgical care ',
       'Rural land area ',
       'Rural land area where elevation is below 5 meters ',
       'Rural population', 'Rural population ',
       'Rural population growth ',
       'Rural population living in areas where elevation is below 5 meters ',
       'SF6 gas emissions ', 'School enrollment',

In [156]:
Categorization

,Country,Year,Continent,Indicator Name,0,Units,Subgroup
0,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of population),total
1,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of rural population),rural
2,DEU,1990,Europe,Access to clean fuels and technologies for coo...,1.000000,(% of urban population),urban
3,DEU,1990,Europe,Access to electricity,1.000000,(% of population),total
4,DEU,1990,Europe,Access to electricity,1.000000,(% of rural population),rural
...,...,...,...,...,...,...,...
1511898,CHN,2021,Pair,Wage and salaried workers,0.588267,(% of female employment,female
1511899,CHN,2021,Pair,Wage and salaried workers,0.631579,(% of male employment,male
1511900,CHN,2021,Pair,Wage and salaried workers,0.612643,(% of total employment,total
1511901,CHN,2021,Pair,Water productivity,0.391767,(constant 2015 US$ GDP per cubic meter of tota...,total
1511902,CHN,2021,Pair,Women Business and the Law Index Score,1.061404,(scale 1-100),total

------------------------------

FROM HERE ON, ADAPT FOR MAKING CORRELATIONS JUST FOR SUBGROUP=TOTAL.

In [136]:
columns=Goldendataframe.columns.values.tolist()
clist=Goldendataframe['Country'].unique()
common=['Unnamed: 0','Country','Year']

In the following cell, we have defined a function that will allow us to calculate the different posibilities of relations: cuadratic, cubic and logaritmic.

In [137]:
def multcolumn(frame):
    for u in range(2, len(columns)-1):
        name=columns[u]+'.l'
        name2=columns[u]+'.^2'
        name3=columns[u]+'.^3'
        namelog=columns[u]+'.log'
        frame.loc[:,name2] = frame[columns[u]]**2
        frame.loc[:,name3] = frame[columns[u]]**3
        frame.loc[:,namelog] = np.log(frame[columns[u]])
        frame.rename(columns={columns[u]:name}, inplace=True)

Moreover, we want to know the correlation between all the variables, so to acomplish this, we have created the following loop, which will help us create a new dataframe where we will have: the *Indicator*, the *Type* of relation, the value of the *R^2*, its *Behaviour*, the *Country* and the *Continent*.

In [138]:
df= pd.read_csv (os.getcwd()+'/Data/'+'GoldenDataFrame.csv')
multcolumn(df)

Firstly we are going to create two lists for the variables, which their p-value is under 0.05 for each correlation, so later on, we can calculate only the correlations of those variables.

In [139]:
df

,Unnamed: 0,Country,Year,Access to clean fuels and technologies for cooking (% of population).l,"Access to clean fuels and technologies for cooking, rural (% of rural population).l","Access to clean fuels and technologies for cooking, urban (% of urban population).l",Access to electricity (% of population).l,"Access to electricity, rural (% of rural population).l","Access to electricity, urban (% of urban population).l",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+).l,...,"Wage and salaried workers, male (% of male employment) (modeled ILO estimate).log","Wage and salaried workers, total (% of total employment) (modeled ILO estimate).^2","Wage and salaried workers, total (% of total employment) (modeled ILO estimate).^3","Wage and salaried workers, total (% of total employment) (modeled ILO estimate).log","Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal).^2","Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal).^3","Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal).log",Women Business and the Law Index Score (scale 1-100).^2,Women Business and the Law Index Score (scale 1-100).^3,Women Business and the Law Index Score (scale 1-100).log
0,352,DEU,1990,1.000,1.000,1.000,1.0,1.0,1.0,1.00000,...,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000
1,353,DEU,1991,1.000,1.000,1.000,1.0,1.0,1.0,1.00000,...,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000
2,354,DEU,1992,1.000,1.000,1.000,1.0,1.0,1.0,1.00000,...,-0.005853,0.992045,0.988091,-0.003993,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000
3,355,DEU,1993,1.000,1.000,1.000,1.0,1.0,1.0,1.00000,...,-0.009698,0.985440,0.978240,-0.007333,1.056542,1.086001,0.027501,1.000000,1.000000,0.000000
4,356,DEU,1994,1.000,1.000,1.000,1.0,1.0,1.0,1.00000,...,-0.015494,0.978858,0.968455,-0.010685,1.114639,1.176797,0.054265,1.000000,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,251,CHN,2017,0.732,0.552,0.862,1.0,1.0,1.0,0.81755,...,-0.497744,0.349477,0.206599,-0.525659,0.153482,0.060129,-0.937087,1.126577,1.195753,0.059592
1532,252,CHN,2018,0.756,0.590,0.874,1.0,1.0,1.0,0.81755,...,-0.479996,0.361223,0.217102,-0.509130,0.153482,0.060129,-0.937087,1.126577,1.195753,0.059592
1533,253,CHN,2019,0.776,0.619,0.884,1.0,1.0,1.0,0.81755,...,-0.459532,0.375331,0.229944,-0.489974,0.153482,0.060129,-0.937087,1.126577,1.195753,0.059592
1534,254,CHN,2020,0.794,0.652,0.894,1.0,1.0,1.0,0.81755,...,-0.459532,0.375331,0.229944,-0.489974,0.153482,0.060129,-0.937087,1.126577,1.195753,0.059592
1535,255,CHN,2021,0.794,0.652,0.894,1.0,1.0,1.0,0.81755,...,-0.459532,0.375331,0.229944,-0.489974,0.153482,0.060129,-0.937087,1.126577,1.195753,0.059592

In [85]:
dat=df.loc[df.loc[:, 'Country'] == clist[0]]
listacorpe=[]
listacorsp=[]
clmns=dat.columns.values.tolist()
dat.replace([np.inf, -np.inf], np.nan, inplace=True)
for c in range(0, len(clmns)):
    if dat[clmns[c]].isna().sum()>=1:
        del(dat[clmns[c]])
pilares=dat.columns.values.tolist()
for u in range(0,len(pilares)):
    if is_numeric_dtype(dat[pilares[u]]):
        correlation, pvalue=pearsonr(dat[pilares[u]], dat['GDP (current US$).l'])
        if pvalue<=0.05:
            listacorpe.append(pilares[u])
        else:
            pass
        correlation, pvalue=spearmanr(dat[pilares[u]], dat['GDP (current US$).l'])
        if pvalue<=0.05:
            listacorsp.append(pilares[u])
        else:
            pass
    else:
        pass

Secondly, we need to calculate the correlation table for each country, therefore we use the basic function `corr()` which provides either the Pearson correlation table or the Spearman correlation table, as well as a filter for the countries.

In [140]:
dat=df.loc[df.loc[:, 'Country'] == clist[0]]

datp=dat[dat.columns[dat.columns.isin(listacorpe)]]
corp=datp.corr('pearson')

datsp=dat[dat.columns[dat.columns.isin(listacorsp)]]
cors=datsp.corr('spearman')

Then we calculate the coefficient of determination which is the correlation squared.

In [141]:
corp.loc[:,'R^2 Pearson'] = corp['GDP (current US$).l']**2

cors.loc[:,'R^2 Spearman'] = cors['GDP (current US$).l']**2

Moreover, we are going to create new columns to know which *Indicator* are we talking about, and the *Type* of correlation that is being analyzed (linear, cuadratic, cubic or logarithmic)

In [142]:
corp.loc[:,'Indicator']=corp.index
corp[['Indicator','Type']]=corp.Indicator.str.split('.',1, expand=True)

cors.loc[:,'Indicator']=cors.index
cors[['Indicator','Type']]=cors.Indicator.str.split('.',1, expand=True)

Now, we can apply the filter we have consider that is enough, R^2>=0.75 to filter the correlations.

In [143]:
corpcolumn=corp[['Indicator','R^2 Pearson','Type','GDP (current US$).l']]
corpcolumn=corpcolumn.loc[corpcolumn.loc[:, 'R^2 Pearson'] >= 0.75]

corscolumn=cors[['Indicator','R^2 Spearman','Type','GDP (current US$).l']]
corscolumn=corscolumn.loc[corscolumn.loc[:, 'R^2 Spearman'] >= 0.75]

Furthermore, we add all the columns that we have created into a data frame, thanks to the following cell.

In [144]:
idp=corpcolumn.groupby('Indicator')['R^2 Pearson'].transform(max)==corpcolumn['R^2 Pearson']
corpcolumn[idp]
maxp_df=pd.DataFrame(corpcolumn[idp])

ids=corscolumn.groupby('Indicator')['R^2 Spearman'].transform(max)==corscolumn['R^2 Spearman']
corscolumn[ids]
maxs_df=pd.DataFrame(corscolumn[ids])

Here, we conmute the values, by expressions. For example if the correlation is positive, we want in the new column called *Behaviour* the word Positive. Or for the *Type* column if the greatest correlation is cuadratic we want to put, Cuadratic. We also add the country.

In [145]:
maxp_df['Behaviour']=np.where(maxp_df['GDP (current US$).l']>0, 'Positive', 'Negative')
maxp_df['Type']=maxp_df['Type'].replace(['l','^2','^3','log'],['Linear','Cuadratic','Cubic','Logarithmic'])
maxp_df['Country']= clist[0]

maxs_df['Behaviour']=np.where(maxs_df['GDP (current US$).l']>0, 'Positive', 'Negative')
maxs_df['Type']=maxs_df['Type'].replace(['l','^2','^3','log'],['Linear','Cuadratic','Cubic','Logarithmic'])
maxs_df['Country']= clist[0]

In addition, we also drop the columns which do not add any value, as *GDP*, *Year*, and *Unnamed:0*.

In [146]:
maxp_df.drop("GDP (current US$).l",axis=1,inplace=True)
maxp_df=maxp_df.reset_index(drop=True)
maxp_df = maxp_df.drop(maxp_df[maxp_df['Indicator']=='Year'].index)
maxp_df = maxp_df.drop(maxp_df[maxp_df['Indicator']=='GDP (current US$)'].index)
maxp_df = maxp_df.drop(maxp_df[maxp_df['Indicator']=='Unnamed: 0'].index)

maxs_df.drop("GDP (current US$).l",axis=1,inplace=True)
maxs_df=maxs_df.reset_index(drop=True)
maxs_df = maxs_df.drop(maxs_df[maxs_df['Indicator']=='Year'].index)
maxs_df = maxs_df.drop(maxs_df[maxs_df['Indicator']=='GDP (current US$)'].index)
maxs_df = maxs_df.drop(maxs_df[maxs_df['Indicator']=='Unnamed: 0'].index)
maxs_df=maxs_df.sort_values(by = 'R^2 Spearman',ascending = False)

And finally we sort the values in descending order by the column *R^2 Pearson*.

In [147]:
maxp_df_deu=maxp_df.sort_values(by = 'R^2 Pearson',ascending = False)
pearsondf= maxp_df_deu
spearmandf=maxs_df

So, we can do it with all the countries and create just one dataframe.

In [149]:
pearsondf
spearmandf
for i in range(1,len(clist)):
    dat=df.loc[df.loc[:, 'Country'] == clist[i]]
    listacorpe=[]
    listacorsp=[]
    clmns=dat.columns.values.tolist()
    dat.replace([np.inf, -np.inf], np.nan, inplace=True)
    for c in range(0, len(clmns)):
        if dat[clmns[c]].isna().sum()>=1:
            del(dat[clmns[c]])
    pilares=dat.columns.values.tolist()
    for u in range(0,len(pilares)):
        if is_numeric_dtype(dat[pilares[u]]):
            correlation, pvalue=pearsonr(dat[pilares[u]], dat['GDP (current US$).l'])
            if pvalue<=0.05:
                listacorpe.append(pilares[u])
            else:
                pass
            correlation, pvalue=spearmanr(dat[pilares[u]], dat['GDP (current US$).l'])
            if pvalue<=0.05:
                listacorsp.append(pilares[u])
            else:
                pass
        else:
            pass
    
    dat=df.loc[df.loc[:, 'Country'] == clist[i]]

    datp=dat[dat.columns[dat.columns.isin(listacorpe)]]
    corp=datp.corr('pearson')

    datsp=dat[dat.columns[dat.columns.isin(listacorsp)]]
    cors=datsp.corr('spearman')


    corp.loc[:,'R^2 Pearson'] = corp['GDP (current US$).l']**2

    cors.loc[:,'R^2 Spearman'] = cors['GDP (current US$).l']**2


    corp.loc[:,'Indicator']=corp.index
    corp[['Indicator','Type']]=corp.Indicator.str.split('.',1, expand=True)

    cors.loc[:,'Indicator']=cors.index
    cors[['Indicator','Type']]=cors.Indicator.str.split('.',1, expand=True)


    corpcolumn=corp[['Indicator','R^2 Pearson','Type','GDP (current US$).l']]
    corpcolumn=corpcolumn.loc[corpcolumn.loc[:, 'R^2 Pearson'] >= 0.75]
    
    corscolumn=cors[['Indicator','R^2 Spearman','Type','GDP (current US$).l']]
    corscolumn=corscolumn.loc[corscolumn.loc[:, 'R^2 Spearman'] >= 0.75]


    idp=corpcolumn.groupby('Indicator')['R^2 Pearson'].transform(max)==corpcolumn['R^2 Pearson']
    corpcolumn[idp]
    maxp_df=pd.DataFrame(corpcolumn[idp])

    ids=corscolumn.groupby('Indicator')['R^2 Spearman'].transform(max)==corscolumn['R^2 Spearman']
    corscolumn[ids]
    maxs_df=pd.DataFrame(corscolumn[ids])


    maxp_df['Behaviour']=np.where(maxp_df['GDP (current US$).l']>0, 'Positive', 'Negative')
    maxp_df['Type']=maxp_df['Type'].replace(['l','^2','^3','log'],['Linear','Cuadratic','Cubic','Logarithmic'])
    maxp_df['Country']= clist[i]

    maxs_df['Behaviour']=np.where(maxs_df['GDP (current US$).l']>0, 'Positive', 'Negative')
    maxs_df['Type']=maxs_df['Type'].replace(['l','^2','^3','log'],['Linear','Cuadratic','Cubic','Logarithmic'])
    maxs_df['Country']= clist[i]


    maxp_df.drop("GDP (current US$).l",axis=1,inplace=True)
    maxp_df=maxp_df.reset_index(drop=True)
    maxp_df = maxp_df.drop(maxp_df[maxp_df['Indicator']=='Year'].index)
    maxp_df = maxp_df.drop(maxp_df[maxp_df['Indicator']=='GDP (current US$)'].index)
    maxp_df = maxp_df.drop(maxp_df[maxp_df['Indicator']=='Unnamed: 0'].index)

    maxs_df.drop("GDP (current US$).l",axis=1,inplace=True)
    maxs_df=maxs_df.reset_index(drop=True)
    maxs_df = maxs_df.drop(maxs_df[maxs_df['Indicator']=='Year'].index)
    maxs_df = maxs_df.drop(maxs_df[maxs_df['Indicator']=='GDP (current US$)'].index)
    maxs_df = maxs_df.drop(maxs_df[maxs_df['Indicator']=='Unnamed: 0'].index)
    maxs_df=maxs_df.sort_values(by = 'R^2 Spearman',ascending = False)


    maxp_df=maxp_df.sort_values(by = 'R^2 Pearson',ascending = False)
    pearsondf=pd.concat((pearsondf, maxp_df), axis = 0)
    spearmandf=pd.concat((spearmandf, maxs_df), axis = 0)

corrtable=spearmandf.merge(pearsondf, left_on=('Indicator', 'Country','Type','Behaviour'), right_on=('Indicator', 'Country','Type','Behaviour'))
display(corrtable)

,Indicator,R^2 Spearman,Type,Behaviour,Country,R^2 Pearson
0,Adjusted net national income (current US$),0.996519,Linear,Positive,DEU,0.999141
1,Gross value added at basic prices (GVA) (curre...,0.996519,Linear,Positive,DEU,0.999851
2,GNI (current US$),0.996337,Linear,Positive,DEU,0.999362
3,Gross national expenditure (current US$),0.990490,Linear,Positive,DEU,0.997181
4,Final consumption expenditure (current US$),0.988302,Linear,Positive,DEU,0.996540
...,...,...,...,...,...,...
14012,Out-of-pocket expenditure (% of current health...,0.782573,Logarithmic,Negative,CHN,0.929883
14013,"Revenue, excluding grants (% of GDP)",0.778198,Logarithmic,Positive,CHN,0.795803
14014,Taxes on goods and services (current LCU),0.776123,Linear,Positive,CHN,0.978917
14015,Access to clean fuels and technologies for coo...,0.772788,Logarithmic,Positive,CHN,0.990567
14016,Domestic general government health expenditure...,0.758910,Cubic,Positive,CHN,0.797637

In [150]:
columnssf=corrtable.Indicator.to_list()
columnsf=np.unique(columnssf)

In [151]:
powerind=[]
for i in range(0, len(columnsf)):
    powerind.append(columnssf.count(columnsf[i]))

df_indicators = pd.DataFrame(list(zip(columnsf,powerind)), columns = ['Indicator','Number of times repeated'])
df_indicators=df_indicators.sort_values(by = 'Number of times repeated',ascending = False)
df_indicators

,Indicator,Number of times repeated
277,"GNI per capita, Atlas method (current US$)",46
373,"Industry (including construction), value added...",46
260,GDP per capita (current US$),46
273,GNI (current US$),46
280,"GNI, Atlas method (current US$)",46
...,...,...
463,Merchandise exports to economies in the Arab W...,1
299,Gross capital formation (% of GDP),1
25,Adjusted savings: net national savings (% of GNI),1
787,Surface area (sq,1
512,"Net capital account (BoP, current US$)",1

Review widgets, obsoleted

Now that we’ve loaded the data, we can start right away to create widgets. These widgets are essentials to add interactivity to our visualizations. We’re going to use two widgets: both, multiple selection widgets. To create these widgets, we can use `ipywidgets` library that is available for Jupyter Notebook.

The first widget that we are going to create is the multiple selection widget. We can do this by using `SelectMultiple()attribute` from `ipywidgets`. With this widget, we have the option to visualize the R^2 only in particular selection of indicators instead of all.

The first argument that we should specify is `options` , which should contain the list of available options of our variable (in our case different indicators). The next one is `value` , which should contain the variable values that we want to display as default, and then `description` is for the text field to describe the name of the widget.The rest of options are just visual details.

In [71]:
unique_tri = demo2['Indicator'].unique()
tri = widgets.SelectMultiple(
    options = unique_tri.tolist(),
    value = ['Exports-G&S'],
    description='Indicator',
    disabled=False,
    layout = Layout(width='50%', height='80px')
)

def graf1(tri):
    dat=demo2.loc[demo2.loc[:, 'Indicator'].isin(np.array(tri))]
    a=px.choropleth(dat, locations="Country", locationmode='ISO-3', 
                     color="R^2 Pearson", hover_name="Country",hover_data = [dat.Type, dat.Behaviour],projection="natural earth",
                     color_continuous_scale='Reds', width=700, height=500, title= dat.Indicator.unique().tolist()[0])
    print(tri)
    a.show()
widgets.interactive(graf1, tri=tri)

NameError: name 'demo2' is not defined

To wrap up, we can create the second widget that is exactly the same as the previous multiple selection widget. The purpose of this widget is to enable us to choose which Continent we want to visualize. Below is the code implementation of this widget.

In [ ]:
unique_tric = demo2['Continent'].unique()
tric = widgets.SelectMultiple(
    options = unique_tric.tolist(),
    value = ['North Africa'],
    description='Continent',
    disabled=False,
    layout = Layout(width='50%', height='80px')
)

def graf1(tric):
    dat=demo2.loc[demo2.loc[:, 'Continent'].isin(np.array(tric))]
    a=px.scatter(dat, x="R^2 Pearson", y='Indicator',
                     color="R^2 Pearson", hover_name="Country",hover_data = [dat.Type, dat.Behaviour],
                     color_continuous_scale='Blues', width=700, height=500, title= dat.Continent.unique().tolist()[0])
    a.show()
widgets.interactive(graf1, tric=tric)

interactive(children=(SelectMultiple(description='Continent', index=(2,), layout=Layout(height='80px', width='…

Now, if we execute the following loop, it will provide with the variables that follow a normal distribution.

In [ ]:
for i in range(0,len(clist)):
    dat=df.loc[df.loc[:, 'Country'] == clist[i]]
    for e in range(2,len(columns)):
        data=dat.iloc[:, e]
        stat, p = shapiro(data)
        print(clist[i] +"-"+ columns[e])
        print('Statistical=%.3f, p=%.3f' % (stat, p))
        alpha = 0.05
        if p > alpha:
            print('Data is NORMAL ( H0 not denied )')
        else:
            pass

DEU-Exports-Commercial services
Statistical=0.957, p=0.229
Data is NORMAL ( H0 not denied )
DEU-Renewable electricity
Statistical=0.806, p=0.000
DEU-Employment-agriculture
Statistical=0.888, p=0.003
DEU-Employment-industry
Statistical=0.906, p=0.009
DEU-Employment-services
Statistical=0.877, p=0.002
DEU-Exports-G&S
Statistical=0.887, p=0.003
DEU-Fertility rate
Statistical=0.893, p=0.004
DEU-Foreign investment
Statistical=0.851, p=0.000
DEU-GDP
Statistical=0.927, p=0.031
DEU-Education GExp
Statistical=0.972, p=0.548
Data is NORMAL ( H0 not denied )
DEU-Workers high education
Statistical=0.887, p=0.003
DEU-Literacy rate
Statistical=0.809, p=0.000
DEU-Net migration
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
DEU-Mortality-infants
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
DEU-Health services use
Statistical=0.804, p=0.000
DEU-R&D GExp
Statistical=0.879, p=0.002
DEU-Ninis
Statistical=0.819, p=0.000
DEU-Suicide
Statistical=0.892, p=0.004
DEU-International taxes
Statistical=0.824, p=0.000
DEU-Alcohol per capita
Statistical=0.826, p=0.000
FRA-Exports-Commercial services
Statistical=0.957, p=0.229
Data is NORMAL ( H0 not denied )
FRA-Renewable electricity
Statistical=0.796, p=0.000
FRA-Employment-agriculture
Statistical=0.936, p=0.058
Data is NORMAL ( H0 not denied )
FRA-Employment-industry
Statistical=0.904, p=0.008
FRA-Employment-services
Statistical=0.906, p=0.009
FRA-Exports-G&S
Statistical=0.915, p=0.015
FRA-Fertility rate
Statistical=0.876, p=0.002
FRA-Foreign investment
Statistical=0.884, p=0.002
FRA-GDP
Statistical=0.915, p=0.015
FRA-Education GExp
Statistical=0.957, p=0.223
Data is NORMAL ( H0 not denied )
FRA-Workers high education
Statistical=0.846, p=0.000
FRA-Literacy rate
Statistical=0.856, p=0.001
FRA-Net migration
Statistical=0.888, p=0.003
FRA-Mortality-infants
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
FRA-Health services use
Statistical=0.755, p=0.000
FRA-R&D GExp
Statistical=0.896, p=0.005
FRA-Ninis
Statistical=0.840, p=0.000
FRA-Suicide
Statistical=0.902, p=0.007
FRA-International taxes
Statistical=0.754, p=0.000
FRA-Alcohol per capita
Statistical=0.811, p=0.000
SWE-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
SWE-Renewable electricity
Statistical=0.832, p=0.000
SWE-Employment-agriculture
Statistical=0.883, p=0.003
SWE-Employment-industry
Statistical=0.898, p=0.006
SWE-Employment-services
Statistical=0.893, p=0.005
SWE-Exports-G&S
Statistical=0.898, p=0.006
SWE-Fertility rate
Statistical=0.850, p=0.001
SWE-Foreign investment
Statistical=0.863, p=0.001
SWE-GDP
Statistical=0.964, p=0.367
Data is NORMAL ( H0 not denied )
SWE-Education GExp
Statistical=0.976, p=0.700
Data is NORMAL ( H0 not denied )
SWE-Workers high education
Statistical=0.864, p=0.001
SWE-Literacy rate
Statistical=0.830, p=0.000
SWE-Net migration
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
SWE-Mortality-infants
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
SWE-Health services use
Statistical=0.791, p=0.000
SWE-R&D GExp
Statistical=0.932, p=0.051
Data is NORMAL ( H0 not denied )
SWE-Ninis
Statistical=0.820, p=0.000
SWE-Suicide
Statistical=0.955, p=0.215
Data is NORMAL ( H0 not denied )
SWE-International taxes
Statistical=0.832, p=0.000
SWE-Alcohol per capita
Statistical=0.927, p=0.037
GBR-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
GBR-Renewable electricity
Statistical=0.759, p=0.000
GBR-Employment-agriculture
Statistical=0.944, p=0.110
Data is NORMAL ( H0 not denied )
GBR-Employment-industry
Statistical=0.846, p=0.000
GBR-Employment-services
Statistical=0.896, p=0.006
GBR-Exports-G&S
Statistical=0.896, p=0.006
GBR-Fertility rate
Statistical=0.885, p=0.003
GBR-Foreign investment
Statistical=0.881, p=0.003
GBR-GDP
Statistical=0.971, p=0.533
Data is NORMAL ( H0 not denied )
GBR-Education GExp
Statistical=0.973, p=0.593
Data is NORMAL ( H0 not denied )
GBR-Workers high education
Statistical=0.882, p=0.003
GBR-Literacy rate
Statistical=0.847, p=0.000
GBR-Net migration
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
GBR-Mortality-infants
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
GBR-Health services use
Statistical=0.917, p=0.020
GBR-R&D GExp
Statistical=0.936, p=0.063
Data is NORMAL ( H0 not denied )
GBR-Ninis
Statistical=0.773, p=0.000
GBR-Suicide
Statistical=0.941, p=0.088
Data is NORMAL ( H0 not denied )
GBR-International taxes
Statistical=0.810, p=0.000
GBR-Alcohol per capita
Statistical=0.891, p=0.004
ESP-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
ESP-Renewable electricity
Statistical=0.793, p=0.000
ESP-Employment-agriculture
Statistical=0.908, p=0.012
ESP-Employment-industry
Statistical=0.823, p=0.000
ESP-Employment-services
Statistical=0.798, p=0.000
ESP-Exports-G&S
Statistical=0.866, p=0.001
ESP-Fertility rate
Statistical=0.905, p=0.009
ESP-Foreign investment
Statistical=0.897, p=0.006
ESP-GDP
Statistical=0.960, p=0.283
Data is NORMAL ( H0 not denied )
ESP-Education GExp
Statistical=0.989, p=0.980
Data is NORMAL ( H0 not denied )
ESP-Workers high education
Statistical=0.850, p=0.001
ESP-Literacy rate
Statistical=0.848, p=0.000
ESP-Net migration
Statistical=0.363, p=0.000
ESP-Mortality-infants
Statistical=0.712, p=0.000
ESP-Health services use
Statistical=0.923, p=0.029
ESP-R&D GExp
Statistical=0.901, p=0.008
ESP-Ninis
Statistical=0.711, p=0.000
ESP-Suicide
Statistical=0.852, p=0.001
ESP-International taxes
Statistical=0.820, p=0.000
ESP-Alcohol per capita
Statistical=0.841, p=0.000
HRV-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
HRV-Renewable electricity
Statistical=0.700, p=0.000
HRV-Employment-agriculture
Statistical=0.829, p=0.000
HRV-Employment-industry
Statistical=0.944, p=0.103
Data is NORMAL ( H0 not denied )
HRV-Employment-services
Statistical=0.956, p=0.232
Data is NORMAL ( H0 not denied )
HRV-Exports-G&S
Statistical=0.928, p=0.040
HRV-Fertility rate
Statistical=0.911, p=0.013
HRV-Foreign investment
Statistical=0.866, p=0.001
HRV-GDP
Statistical=0.976, p=0.703
Data is NORMAL ( H0 not denied )
HRV-Education GExp
Statistical=0.931, p=0.048
HRV-Workers high education
Statistical=0.827, p=0.000
HRV-Literacy rate
Statistical=0.835, p=0.000
HRV-Net migration
Statistical=0.878, p=0.002
HRV-Mortality-infants
Statistical=0.855, p=0.001
HRV-Health services use
Statistical=0.893, p=0.005
HRV-R&D GExp
Statistical=0.817, p=0.000
HRV-Ninis
Statistical=0.822, p=0.000
HRV-Suicide
Statistical=0.910, p=0.013
HRV-International taxes
Statistical=0.716, p=0.000
HRV-Alcohol per capita
Statistical=0.846, p=0.000
POL-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
POL-Renewable electricity
Statistical=0.813, p=0.000
POL-Employment-agriculture
Statistical=0.848, p=0.000
POL-Employment-industry
Statistical=0.935, p=0.060
Data is NORMAL ( H0 not denied )
POL-Employment-services
Statistical=0.959, p=0.275
Data is NORMAL ( H0 not denied )
POL-Exports-G&S
Statistical=0.884, p=0.003
POL-Fertility rate
Statistical=0.877, p=0.002
POL-Foreign investment
Statistical=0.858, p=0.001
POL-GDP
Statistical=0.904, p=0.009
POL-Education GExp
Statistical=0.974, p=0.628
Data is NORMAL ( H0 not denied )
POL-Workers high education
Statistical=0.879, p=0.002
POL-Literacy rate
Statistical=0.836, p=0.000
POL-Net migration
Statistical=0.753, p=0.000
POL-Mortality-infants
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
POL-Health services use
Statistical=0.797, p=0.000
POL-R&D GExp
Statistical=0.930, p=0.045
POL-Ninis
Statistical=0.805, p=0.000
POL-Suicide
Statistical=0.801, p=0.000
POL-International taxes
Statistical=0.733, p=0.000
POL-Alcohol per capita
Statistical=0.795, p=0.000
GRC-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
GRC-Renewable electricity
Statistical=0.808, p=0.000
GRC-Employment-agriculture
Statistical=0.825, p=0.000
GRC-Employment-industry
Statistical=0.837, p=0.000
GRC-Employment-services
Statistical=0.819, p=0.000
GRC-Exports-G&S
Statistical=0.917, p=0.019
GRC-Fertility rate
Statistical=0.903, p=0.008
GRC-Foreign investment
Statistical=0.890, p=0.004
GRC-GDP
Statistical=0.941, p=0.089
Data is NORMAL ( H0 not denied )
GRC-Education GExp
Statistical=0.944, p=0.105
Data is NORMAL ( H0 not denied )
GRC-Workers high education
Statistical=0.943, p=0.097
Data is NORMAL ( H0 not denied )
GRC-Literacy rate
Statistical=0.816, p=0.000
GRC-Net migration
Statistical=0.908, p=0.012
GRC-Mortality-infants
Statistical=0.885, p=0.003
GRC-Health services use
Statistical=0.883, p=0.003
GRC-R&D GExp
Statistical=0.916, p=0.019
GRC-Ninis
Statistical=0.809, p=0.000
GRC-Suicide
Statistical=0.815, p=0.000
GRC-International taxes
Statistical=0.791, p=0.000
GRC-Alcohol per capita
Statistical=0.809, p=0.000
AUT-Exports-Commercial services
Statistical=0.957, p=0.229
Data is NORMAL ( H0 not denied )
AUT-Renewable electricity
Statistical=0.807, p=0.000
AUT-Employment-agriculture
Statistical=0.979, p=0.780
Data is NORMAL ( H0 not denied )
AUT-Employment-industry
Statistical=0.935, p=0.053
Data is NORMAL ( H0 not denied )
AUT-Employment-services
Statistical=0.882, p=0.002
AUT-Exports-G&S
Statistical=0.897, p=0.005
AUT-Fertility rate
Statistical=0.791, p=0.000
AUT-Foreign investment
Statistical=0.856, p=0.001
AUT-GDP
Statistical=0.980, p=0.804
Data is NORMAL ( H0 not denied )
AUT-Education GExp
Statistical=0.793, p=0.000
AUT-Workers high education
Statistical=0.854, p=0.000
AUT-Literacy rate
Statistical=0.806, p=0.000
AUT-Net migration
Statistical=0.650, p=0.000
AUT-Mortality-infants
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
AUT-Health services use
Statistical=0.803, p=0.000
AUT-R&D GExp
Statistical=0.939, p=0.069
Data is NORMAL ( H0 not denied )
AUT-Ninis
Statistical=0.784, p=0.000
AUT-Suicide
Statistical=0.881, p=0.002
AUT-International taxes
Statistical=0.826, p=0.000
AUT-Alcohol per capita
Statistical=0.838, p=0.000
NLD-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
NLD-Renewable electricity
Statistical=0.814, p=0.000
NLD-Employment-agriculture
Statistical=0.945, p=0.115
Data is NORMAL ( H0 not denied )
NLD-Employment-industry
Statistical=0.935, p=0.059
Data is NORMAL ( H0 not denied )
NLD-Employment-services
Statistical=0.910, p=0.013
NLD-Exports-G&S
Statistical=0.921, p=0.025
NLD-Fertility rate
Statistical=0.895, p=0.005
NLD-Foreign investment
Statistical=0.874, p=0.002
NLD-GDP
Statistical=0.939, p=0.076
Data is NORMAL ( H0 not denied )
NLD-Education GExp
Statistical=0.914, p=0.017
NLD-Workers high education
Statistical=0.863, p=0.001
NLD-Literacy rate
Statistical=0.841, p=0.000
NLD-Net migration
Statistical=0.883, p=0.003
NLD-Mortality-infants
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
NLD-Health services use
Statistical=0.903, p=0.008
NLD-R&D GExp
Statistical=0.811, p=0.000
NLD-Ninis
Statistical=0.848, p=0.000
NLD-Suicide
Statistical=0.921, p=0.025
NLD-International taxes
Statistical=0.849, p=0.000
NLD-Alcohol per capita
Statistical=0.787, p=0.000
IRQ-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
IRQ-Renewable electricity
Statistical=0.838, p=0.000
IRQ-Employment-agriculture
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
IRQ-Employment-industry
Statistical=0.916, p=0.019
IRQ-Employment-services
Statistical=0.904, p=0.009
IRQ-Exports-G&S
Statistical=0.904, p=0.009
IRQ-Fertility rate
Statistical=0.741, p=0.000
IRQ-Foreign investment
Statistical=0.901, p=0.007
IRQ-GDP
Statistical=0.965, p=0.390
Data is NORMAL ( H0 not denied )
IRQ-Education GExp
Statistical=0.744, p=0.000
IRQ-Workers high education
Statistical=0.869, p=0.001
IRQ-Literacy rate
Statistical=0.815, p=0.000
IRQ-Net migration
Statistical=0.442, p=0.000
IRQ-Mortality-infants
Statistical=0.734, p=0.000
IRQ-Health services use
Statistical=0.862, p=0.001
IRQ-R&D GExp
Statistical=0.961, p=0.314
Data is NORMAL ( H0 not denied )
IRQ-Ninis
Statistical=0.674, p=0.000
IRQ-Suicide
Statistical=0.661, p=0.000
IRQ-International taxes
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
IRQ-Alcohol per capita
Statistical=0.837, p=0.000
QAT-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
QAT-Renewable electricity
Statistical=0.719, p=0.000
QAT-Employment-agriculture
Statistical=0.876, p=0.002
QAT-Employment-industry
Statistical=0.873, p=0.002
QAT-Employment-services
Statistical=0.860, p=0.001
QAT-Exports-G&S
Statistical=0.858, p=0.001
QAT-Fertility rate
Statistical=0.616, p=0.000
QAT-Foreign investment
Statistical=0.844, p=0.000
QAT-GDP
Statistical=0.879, p=0.002
QAT-Education GExp
Statistical=0.581, p=0.000
QAT-Workers high education
Statistical=0.823, p=0.000
QAT-Literacy rate
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
QAT-Net migration
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
QAT-Mortality-infants
Statistical=0.686, p=0.000
QAT-Health services use
Statistical=0.922, p=0.026
QAT-R&D GExp
Statistical=0.894, p=0.005
QAT-Ninis
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
QAT-Suicide
Statistical=0.589, p=0.000
QAT-International taxes
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
QAT-Alcohol per capita
Statistical=0.844, p=0.000
ARE-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
ARE-Renewable electricity
Statistical=0.850, p=0.001
ARE-Employment-agriculture
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
ARE-Employment-industry
Statistical=0.867, p=0.001
ARE-Employment-services
Statistical=0.902, p=0.008
ARE-Exports-G&S
Statistical=0.874, p=0.002
ARE-Fertility rate
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
ARE-Foreign investment
Statistical=0.780, p=0.000
ARE-GDP
Statistical=0.904, p=0.009
ARE-Education GExp
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
ARE-Workers high education
Statistical=0.855, p=0.001
ARE-Literacy rate
Statistical=0.742, p=0.000
ARE-Net migration
Statistical=0.580, p=0.000
ARE-Mortality-infants
Statistical=0.761, p=0.000
ARE-Health services use
Statistical=0.920, p=0.024
ARE-R&D GExp
Statistical=0.893, p=0.005
ARE-Ninis
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
ARE-Suicide
Statistical=0.575, p=0.000
ARE-International taxes
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
ARE-Alcohol per capita
Statistical=0.772, p=0.000
SAU-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
SAU-Renewable electricity
Statistical=0.903, p=0.009
SAU-Employment-agriculture
Statistical=0.911, p=0.014
SAU-Employment-industry
Statistical=0.936, p=0.063
Data is NORMAL ( H0 not denied )
SAU-Employment-services
Statistical=0.915, p=0.018
SAU-Exports-G&S
Statistical=0.918, p=0.021
SAU-Fertility rate
Statistical=0.909, p=0.012
SAU-Foreign investment
Statistical=0.880, p=0.002
SAU-GDP
Statistical=0.922, p=0.027
SAU-Education GExp
Statistical=0.887, p=0.003
SAU-Workers high education
Statistical=0.838, p=0.000
SAU-Literacy rate
Statistical=0.808, p=0.000
SAU-Net migration
Statistical=0.664, p=0.000
SAU-Mortality-infants
Statistical=0.919, p=0.022
SAU-Health services use
Statistical=0.913, p=0.016
SAU-R&D GExp
Statistical=0.930, p=0.043
SAU-Ninis
Statistical=0.749, p=0.000
SAU-Suicide
Statistical=0.640, p=0.000
SAU-International taxes
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
SAU-Alcohol per capita
Statistical=0.778, p=0.000
AZE-Exports-Commercial services
Statistical=0.957, p=0.229
Data is NORMAL ( H0 not denied )
AZE-Renewable electricity
Statistical=0.927, p=0.032
AZE-Employment-agriculture
Statistical=0.841, p=0.000
AZE-Employment-industry
Statistical=0.933, p=0.047
AZE-Employment-services
Statistical=0.906, p=0.009
AZE-Exports-G&S
Statistical=0.843, p=0.000
AZE-Fertility rate
Statistical=0.800, p=0.000
AZE-Foreign investment
Statistical=0.851, p=0.000
AZE-GDP
Statistical=0.913, p=0.014
AZE-Education GExp
Statistical=0.933, p=0.048
AZE-Workers high education
Statistical=0.854, p=0.001
AZE-Literacy rate
Statistical=0.808, p=0.000
AZE-Net migration
Statistical=0.833, p=0.000
AZE-Mortality-infants
Statistical=0.687, p=0.000
AZE-Health services use
Statistical=0.874, p=0.001
AZE-R&D GExp
Statistical=0.802, p=0.000
AZE-Ninis
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
AZE-Suicide
Statistical=0.860, p=0.001
AZE-International taxes
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
AZE-Alcohol per capita
Statistical=0.866, p=0.001
YEM-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
YEM-Renewable electricity
Statistical=0.740, p=0.000
YEM-Employment-agriculture
Statistical=0.730, p=0.000
YEM-Employment-industry
Statistical=0.820, p=0.000
YEM-Employment-services
Statistical=0.942, p=0.091
Data is NORMAL ( H0 not denied )
YEM-Exports-G&S
Statistical=0.880, p=0.002
YEM-Fertility rate
Statistical=0.615, p=0.000
YEM-Foreign investment
Statistical=0.529, p=0.000
YEM-GDP
Statistical=0.931, p=0.046
YEM-Education GExp
Statistical=0.707, p=0.000
YEM-Workers high education
Statistical=0.900, p=0.007
YEM-Literacy rate
Statistical=0.857, p=0.001
YEM-Net migration
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
YEM-Mortality-infants
Statistical=0.722, p=0.000
YEM-Health services use
Statistical=0.848, p=0.000
YEM-R&D GExp
Statistical=0.897, p=0.006
YEM-Ninis
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
YEM-Suicide
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
YEM-International taxes
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
YEM-Alcohol per capita
Statistical=0.863, p=0.001
OMN-Exports-Commercial services
Statistical=0.957, p=0.247
Data is NORMAL ( H0 not denied )
OMN-Renewable electricity
Statistical=0.706, p=0.000
OMN-Employment-agriculture
Statistical=0.945, p=0.116
Data is NORMAL ( H0 not denied )
OMN-Employment-industry
Statistical=0.935, p=0.062
Data is NORMAL ( H0 not denied )
OMN-Employment-services
Statistical=0.840, p=0.000
OMN-Exports-G&S
Statistical=0.846, p=0.000
OMN-Fertility rate
Statistical=0.882, p=0.003
OMN-Foreign investment
Statistical=0.880, p=0.002
OMN-GDP
Statistical=0.733, p=0.000
OMN-Education GExp
Statistical=0.820, p=0.000
OMN-Workers high education
Statistical=0.828, p=0.000
OMN-Literacy rate
Statistical=0.798, p=0.000
OMN-Net migration
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
OMN-Mortality-infants
Statistical=0.788, p=0.000
OMN-Health services use
Statistical=0.815, p=0.000
OMN-R&D GExp
Statistical=0.939, p=0.076
Data is NORMAL ( H0 not denied )
OMN-Ninis
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
OMN-Suicide
Statistical=0.601, p=0.000
OMN-International taxes
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
OMN-Alcohol per capita
Statistical=0.852, p=0.001
DZA-Exports-Commercial services
Statistical=0.957, p=0.229
Data is NORMAL ( H0 not denied )
DZA-Renewable electricity
Statistical=0.845, p=0.000
DZA-Employment-agriculture
Statistical=0.725, p=0.000
DZA-Employment-industry
Statistical=0.827, p=0.000
DZA-Employment-services
Statistical=0.782, p=0.000
DZA-Exports-G&S
Statistical=0.904, p=0.008
DZA-Fertility rate
Statistical=0.781, p=0.000
DZA-Foreign investment
Statistical=0.896, p=0.005
DZA-GDP
Statistical=0.922, p=0.023
DZA-Education GExp
Statistical=0.968, p=0.446
Data is NORMAL ( H0 not denied )
DZA-Workers high education
Statistical=0.863, p=0.001
DZA-Literacy rate
Statistical=0.851, p=0.000
DZA-Net migration
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
DZA-Mortality-infants
Statistical=0.808, p=0.000
DZA-Health services use
Statistical=0.783, p=0.000
DZA-R&D GExp
Statistical=0.891, p=0.004
DZA-Ninis
Statistical=0.662, p=0.000
DZA-Suicide
Statistical=0.863, p=0.001
DZA-International taxes
Statistical=nan, p=1.000
Data is NORMAL ( H0 not denied )
DZA-Alcohol per capita
Statistical=0.813, p=0.000
EGY-Exports-Commercial services